:root {
  --clr-dark--base: lab(15.02% -0.95 -7.36);
  --clr-accent--pink: lab(57.24 64.92 -3.64);
  --clr-accent--green: lab(78.47 -39.34 34.94);
  --clr-accent--blue: lab(62.35 -4.66 -32.56);
  --clr-accent--orange: lab(62.29 34.31 54.48);
  --clr-accent--yellow: lab(84.51 5.57 76.51); 
  --clr-accent--red: lab(51.65 83.45 51.15);

  --clr-dark--multi: 0.1;
  --clr-light--multi: 0.1;
  --clr-accent--multi: 0.1;

  --clr-dark--1: var(--clr-dark--base);
  --clr-dark--2: oklch(from var(--clr-dark--base) calc(l + calc(var(--clr-dark--multi) * 1)) c h);
  --clr-dark--3: oklch(from var(--clr-dark--base) calc(l + calc(var(--clr-dark--multi) * 2)) c h);
  --clr-dark--4: oklch(from var(--clr-dark--base) calc(l + calc(var(--clr-dark--multi) * 3)) c h);
  --clr-dark--5: oklch(from var(--clr-dark--base) calc(l + calc(var(--clr-dark--multi) * 4)) c h);
  --clr-dark--6: oklch(from var(--clr-dark--base) calc(l + calc(var(--clr-dark--multi) * 5)) c h);

  --clr-light--1: oklch(from var(--clr-dark--1) calc(l + calc(var(--clr-light--multi) * 6)) c h);
  --clr-light--2: oklch(from var(--clr-dark--1) calc(l + calc(var(--clr-light--multi) * 4)) c h);
  --clr-light--3: oklch(from var(--clr-dark--1) calc(l + calc(var(--clr-light--multi) * 2)) c h);
  --clr-light--4: oklch(from var(--clr-dark--1) calc(l - calc(var(--clr-light--multi) * 2)) c h);
  --clr-light--5: oklch(from var(--clr-dark--1) calc(l - calc(var(--clr-light--multi) * 4)) c h);
  --clr-light--6: oklch(from var(--clr-dark--1) calc(l - calc(var(--clr-light--multi) * 6)) c h);

  --clr-accent--base-1: light-dark(var(--clr-accent--green), var(--clr-accent--blue);

  --clr-accent--1-0: oklch(from var(--clr-accent--base-1) calc(l + calc(var(--clr-accent--multi) * 3)) c h);
  --clr-accent--1-1: oklch(from var(--clr-accent--base-1) calc(l + calc(var(--clr-accent--multi) * 2)) c h);
  --clr-accent--1-2: oklch(from var(--clr-accent--base-1) calc(l + calc(var(--clr-accent--multi) * 1)) c h);
  --clr-accent--1: var(--clr-accent--base-1);
  --clr-accent--1-4: oklch(from var(--clr-accent--base-1) calc(l - calc(var(--clr-accent--multi) * 1)) c h);
  --clr-accent--1-5: oklch(from var(--clr-accent--base-1) calc(l - calc(var(--clr-accent--multi) * 2)) c h);
  --clr-accent--1-6: oklch(from var(--clr-accent--base-1) calc(l - calc(var(--clr-accent--multi) * 3)) c h);
  
  --clr-accent--base-2: var(--clr-accent--pink);

  --clr-accent--2-0: oklch(from var(--clr-accent--base-2) calc(l + calc(var(--clr-accent--multi) * 3)) c h);
  --clr-accent--2-1: oklch(from var(--clr-accent--base-2) calc(l + calc(var(--clr-accent--multi) * 2)) c h);
  --clr-accent--2-2: oklch(from var(--clr-accent--base-2) calc(l + calc(var(--clr-accent--multi) * 1)) c h);
  --clr-accent--2: var(--clr-accent--base-2);
  --clr-accent--2-4: oklch(from var(--clr-accent--base-2) calc(l - calc(var(--clr-accent--multi) * 1)) c h);
  --clr-accent--2-5: oklch(from var(--clr-accent--base-2) calc(l - calc(var(--clr-accent--multi) * 2)) c h);
  --clr-accent--2-6: oklch(from var(--clr-accent--base-2) calc(l - calc(var(--clr-accent--multi) * 3)) c h);

  --clr-bg-1: light-dark(var(--clr-dark--1), var(--clr-light--1));
  --clr-bg-2: light-dark(var(--clr-dark--2), var(--clr-light--2));
  --clr-bg-3: light-dark(var(--clr-dark--3), var(--clr-light--3));
  --clr-bg-4: light-dark(var(--clr-dark--4), var(--clr-light--4));
  --clr-bg-5: light-dark(var(--clr-dark--5), var(--clr-light--5));
  --clr-bg-6: light-dark(var(--clr-dark--6), var(--clr-light--6));

  --clr-fg-1: light-dark(var(--clr-light--1), var(--clr-dark--1));
  --clr-fg-2: light-dark(var(--clr-light--2), var(--clr-dark--2));
  --clr-fg-3: light-dark(var(--clr-light--3), var(--clr-dark--3));
  --clr-fg-4: light-dark(var(--clr-light--4), var(--clr-dark--4));
  --clr-fg-5: light-dark(var(--clr-light--5), var(--clr-dark--5));
  --clr-fg-6: light-dark(var(--clr-light--6), var(--clr-dark--6));

/* --- buttons etc --- */
  --clr-hl-primary: var(--clr-accent--1);
  --clr-secondary--active: var(--clr-bg-2);
  --clr-secondary--hover: var(--clr-bg-4);
  --clr-secondary--border: var(--clr-bg-5);
  --clr-secondary--border-hover: var(--clr-bg-3);

}

.mode-dark {
  --clr-bg-1: var(--clr-dark-1);
  --clr-bg-2: var(--clr-dark-2);
  --clr-bg-3: var(--clr-dark-3);
  --clr-bg-4: var(--clr-dark-4);
  --clr-bg-5: var(--clr-dark-5);
  --clr-bg-6: var(--clr-dark-6);

  --clr-fg-1: var(--clr-light-1);
  --clr-fg-2: var(--clr-light-2);
  --clr-fg-3: var(--clr-light-3);
  --clr-fg-4: var(--clr-light-4);
  --clr-fg-5: var(--clr-light-5);
  --clr-fg-6: var(--clr-light-6);

  --clr-accent--base-1: var(--clr-accent--green);
}

.mode-light {
  --clr-bg-1: var(--clr-light-1);
  --clr-bg-2: var(--clr-light-2);
  --clr-bg-3: var(--clr-light-3);
  --clr-bg-4: var(--clr-light-4);
  --clr-bg-5: var(--clr-light-5);
  --clr-bg-6: var(--clr-light-6);

  --clr-fg-1: var(--clr-dark-1);
  --clr-fg-2: var(--clr-dark-2);
  --clr-fg-3: var(--clr-dark-3);
  --clr-fg-4: var(--clr-dark-4);
  --clr-fg-5: var(--clr-dark-5);
  --clr-fg-6: var(--clr-dark-6);

  --clr-accent--base-1: var(--clr-accent--blue);
}
