/* ================================================================
   CONTAINERS
   Grid and flex container layouts
   ================================================================ */

/* ---- grid containers ---- */
.cont-grid-auto15rem {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  column-gap: 1rem;
  row-gap: 0.3rem;
}

.cont-grid-4x-10rem {
  display: grid;
  grid-template-columns: repeat(4, minmax(10rem, 1fr));
  column-gap: 1rem;
  row-gap: 0.3rem;
  /*& *:hover {*/
  /*  filter: invert(1) drop-shadow(0 0 0.35rem);*/
  /*  transition: filter var(--transition-dur-hover) var(--transition-type-hover)*/
  /*    0s;*/
  /*  cursor: alias;*/
  /*}*/
}

.grid-wrapper {
  columns: 4;
  margin: 2rem 0;
}

.grid-cell {
  height: 9.6rem;
  aspect-ratio: 16 / 9;
  text-align: center;
  margin: 0 auto 1.2rem auto;
  /*margin-block: 1.2rem;*/
  border: 3px dotted var(--clr-bg-3);
  border-radius: 1.2rem;
}

.grid-bullseye {
  justify-self: center;
  align-self: center;
}

/* ---- flex containers ---- */
.cont-flex-row {
  display: flex;
}

.drag-drop-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.container-content {
  display: flex;
  flex-direction: row;
  gap: 4.8rem;
  width: 100%;
  padding: 0 clamp(0.4rem, 3dvw, 4.8rem) 12rem;
  justify-content: space-between;
  overflow: hidden;
  height: calc(100% - 6rem);
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
}

.cont-flex-column {
  display: flex;
  flex-direction: column;
}

.flex-align-c {
  display: flex;
  justify-content: center;
  column-gap: 1.2rem;
}

.flex-align-l {
  display: flex;
  column-gap: 1.2rem;
  justify-content: flex-start;
}

.flex-align-r {
  display: flex;
  column-gap: 1.2rem;
  justify-content: flex-end;
}
