.filters-row {
    padding-bottom: 2.4rem !important;
    position: relative;

    & button {
        z-index: 0;
    }
}

.wrapper-filter-dropdown, .card.date {
    display: none;
    height: fit-content;
    position: fixed;
    inset-block-start: calc(anchor(end) + 0.4rem);
    inset-inline-start: calc(anchor(start) - 0.8rem);
    box-shadow: var(--shadow-filter);
    background: var(--clr-bg-2);
    border: 1px solid var(--clr-bg-4);
    border-radius: 0.4rem;

    /* for closed state of popover animation */
    opacity: 0;
    transition: all;
    transition-duration: 0.4s;
    transition-behavior: allow-discrete;

    &:popover-open {
        &:has(input[type="checkbox"]) {
            display: grid;
        }
        &:not(:has(input[type="checkbox"])) {
            display: flex;
         }

        opacity: 1;
        translate: 0 0;

        @starting-style {
            opacity: 0;
            translate: 0 -10px;

            display: none;
        }
    }
}


.wrapper-filter-dropdown {
    max-width: 18rem;
    max-height: 28rem;
    flex-direction: column;
    padding: 0.4rem;
    overflow: auto;
    gap: 0.8rem;

    & .dropdown-option {
        justify-content: start;

        &:has(input[type="checkbox"]) {
            display: grid;
            grid-template-columns: 1.6rem calc(100% - 1.6rem - 1.2rem);
            gap: 1.2rem;
        }
    }

    &:has(.dropdown-option):has([id*="checkbox-channel"]) {
        max-width: 28rem;
    }


    & > div {
        padding: 0.8rem;
        border-radius: 0.4rem;

        &:hover {
            background: var(--clr-bg-1);
        }

        & label {
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            font-size: 1.6rem;

            /*word-break: break-all;*/
            /*hyphens: auto;*/

            overflow-wrap: break-word;
            hyphens: auto;
            word-break: normal;
        }
    }
}

.card.date {
    width: 18rem;
    gap: 1.6rem;
    padding: 1.6rem;

    & .input-wrapper {
        display: flex;
        gap: 0.4rem;
        flex-direction: column;

        & label {
            font-size: 1.2rem;
            color: var(--clr-accent--2);
        }
    }

    & input {
        margin: 0;
    }
}

/* */
.card.calendar {
    gap: 2.4rem;
    max-width: 70rem;
    width: 100%;
    padding: 3.2rem 2.4rem;
    align-self: center;
    box-shadow: var(--shadow-filter);
    background: var(--clr-bg-2);
    border: 1px solid var(--clr-bg-4);
    border-radius: 0.4rem;

    position: fixed;

    inset-block-start: calc(anchor(end) - 20.9rem);
    inset-inline-start: calc(anchor(start) - 21.1rem);

    & .calendar-container {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        & .calendar-container-header {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            & .calendar-container-title{
                width: 100%;
                text-align: center;
                align-self: center;
                align-items: center;
                & span {
                    color: var(--clr-accent--1);
                    &.secondary {
                        color: var(--clr-accent--2);
                    }
                }
            }

            & button span {
                text-align: center;
                align-content: center;
            }
        }

        & .layout-container {
            display: flex;
            flex-direction: row;
            gap: 1.6rem;
            & .shortcut-dates {
                max-width: 12rem;
                row-gap: 1.2rem;
            }
            & hr.solid {
                transform: rotate(180deg);
                height: calc(100% - 1.2rem);
                width: 0.2rem;
            }
            & .body-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                & .two-body-container {
                    display: flex;
                    flex-direction: row;
                    gap: 4rem;
                    width: 100%;

                    & .single-body-calendar {
                        width: 100%;
                        height: 22rem;
                        display: flex;
                        flex-direction: column;
                        gap: 0;
                        padding: 1.2rem 0;

                        & .calendar-header {
                            display: flex;
                            width: 100%;
                            position: relative;
                            height: 3.2rem;
                            padding-bottom: 0.8rem;
                            align-items: center;
                            justify-content: center;

                            & .month-header {
                                width: 100%;
                                height: 3.2rem;
                                align-self: center;
                                text-align: center;
                                align-content: center;
                            }

                            & button {
                                position: absolute;
                                top: -0.8rem;
                                &:has(> .btn-previous){
                                    left: 0;
                                }
                                &:has(> .btn-next){
                                    right: 0;
                                }
                            }

                        }

                        & .days-container {
                            display: grid;
                            width: 100%;
                            grid-template-columns: repeat(7, 1fr);
                            grid-template-rows: repeat(1, 1fr);
                            gap: 0.4rem;

                            & .day-name {
                                color: var(--clr-bg-5);
                                pointer-events: none;
                            }
                        }

                        & .dates-container {
                            display: grid;
                            width: 100%;
                            grid-template-columns: repeat(7, 1fr);
                            grid-template-rows: repeat(5, 1fr);
                            gap: 0.4rem;
                        }

                        & .days-container, & .dates-container {
                            & .date-cell {
                                text-align: center;
                                align-content: center;
                                font-size: 1.6rem;
                                font-weight: normal;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: normal;
                                letter-spacing: normal;
                                border-radius: 0.4rem;
                                aspect-ratio: 1/1;

                                &.current-date {
                                    color: var(--clr-accent--2);
                                }

                                &:hover {
                                    background-color: var(--clr-bg-1);
                                    cursor: var(--cursor-pointer);
                                }

                                &.active {
                                    background-color: var(--clr-accent--1);
                                }

                                &.disabled {
                                    /* TODO add css for days if they show for previosu/next month in left/right calendars*/
                                    pointer-events: none;
                                }

                                &.selected {
                                    background-color: var(--clr-accent--1-faded);
                                    margin: 0.2rem;
                                    background-clip: padding-box;
                                }
                            }
                        }
                    }
                }
                & .buttons-container {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    justify-content: space-between;

                    & .restart-button{

                    }
                    & .confirm-button{

                    }
                    & .today-button{

                    }
                }
            }

        }
    }
}

