/* ================================================================
   FORMS
   Form elements, inputs, textareas, labels, and form field styling
   ================================================================ */

/* allow text area grow when content added  */
textarea {
  field-sizing: content;
}

/* prevent special form element styling  */
legend,
fieldset,
select,
textarea,
input,
button {
  background: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
}

textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"] {
  /* position: relative; */
  margin-block: 0.4rem 0;
  border: 1px solid var(--clr-bg-4);
  font-size: 1.6rem;
  border-radius: var(--border-radius-input);
  padding: 0.4rem;
  height: auto;
  width: 100%;
  color: var(--clr-fg-2);

  &::placeholder {
    color: var(--clr-bg-4);
  }

  &:focus-visible {
    outline: none;
    border: 1px solid var(--clr-accent--2);
  }

  &:focus-visible::placeholder {
    color: transparent;
  }
}

textarea.inactive-input,
input[type="text"].inactive-input {
  pointer-events: none;
  color: var(--clr-fg-4);
  resize: none;
  height: fit-content;
}

input[type="file"] {
  padding: 0;
  margin-block-end: 0.8rem;

  & .button {
    background: hotpink;
    border-radius: var(--border-radius-button);
  }
}

.checkbox-visible {
  appearance: auto;
  align-self: start;
  margin-top: 0.4rem;
}

.checkbox-not-visible {
  display: none;
}

input[type="checkbox"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 1.6rem !important;
  aspect-ratio: 1/1;
  border: 2px solid var(--clr-accent--1);
  border-radius: 4px;
  background: var(--clr-bg-2);
  cursor: var(--cursor-pointer);
  position: relative;
  top: calc(50% - 1.2rem);

  &[id*="channel"] {
    top: calc(50% - 1.4rem);
  }

  &:checked {
    position: relative;
    background: var(--clr-accent--1);
    border-color: var(--clr-accent--1);

    &:after {
      position: absolute;
      width: 1rem;
      aspect-ratio: 1/1;
      top: 50%;
      left: 50%;
      content: "";
      background: url("/assets/images/check.svg") center/contain no-repeat;
      transform: translate(-50%, -50%);
    }
  }
}

.form-field {
  position: relative;
  width: 100%;
  margin-block: 0.4rem 0;
}

.form-field input,
.form-field textarea {
  border: 1px solid var(--clr-bg-4);
  font-size: var(--input-font);
  border-radius: var(--border-radius-input);
  padding: var(--input-padding);
  width: 100%;
  color: var(--clr-fg-2);
  background: transparent;
}

/* label initial state (overlaps input) */
.form-field label {
  position: absolute;
  left: 1rem;
  /* lines up with input padding */
  top: calc(var(--label-line-height) - var(--label-padding--block) - var(--input-padding--block-halved));
  font-size: var(--input-font);
  line-height: 1;
  padding: var(--label-padding);
  /* small background padding so label text doesn't cut */
  background: transparent;
  transform-origin: left top;
  transform: translateY(0) scale(1);
  transition:
    transform var(--transition-speed) ease,
    background var(--transition-speed) ease,
    color var(--transition-speed) ease;
  pointer-events: none;
  z-index: 2;
  color: var(--clr-fg-4);
}

/* FLOATED state: when focused OR when input has content */
.form-field:focus-within label,
.form-field input:not(:placeholder-shown)~label,
.form-field textarea:not(:placeholder-shown)~label {
  /* .form-field input:valid ~ label { */
  /* helpful fallback for types that validate (only if using required) */
  transform: translateY(var(--label-float-translate)) scale(var(--label-float-scale));
  background: var(--clr-accent--2);
  color: var(--clr-fg-1);
  border-radius: 1rem;
}

form-field:focus-within input {
  border-color: var(--clr-accent--2);
}

/* .form-field label { */
/*   position: absolute; */
/*   left: 1rem; */
/*   top: 0.7rem; */
/*   font-size: 1rem; */
/*   background: var(--clr-fg-2); */
/*   pointer-events: none; */
/* } */
/**/
/* /* forward animation: on focus */

/* .form-field:focus-within label { */
/*   animation: form-label 300ms ease-in-out forwards; */
/* } */
/**/
/* /* backward animation: only if empty and losing focus */

/* .form-field:not(:focus-within) input:placeholder-shown ~ label, */
/* .form-field:not(:focus-within) textarea:placeholder-shown ~ label { */
/*   animation: form-label-back 300ms ease-in-out forwards; */
/* } */
/**/
/* /* stay floated if input has value */

/* .form-field input:not(:placeholder-shown) ~ label, */
/* .form-field textarea:not(:placeholder-shown) ~ label { */
/*   left: 1rem; */
/*   top: 0; */
/*   font-size: 1rem; */
/*   background: var(--clr-accent--2); */
/* } */

/* /* TODO use @starting-style to achieve this */

/* /* .user-interacted > * { */

/* textarea, */
/* input[type="text"], */
/* input[type="password"], */
/* input[type="email"] { */
/*   &:focus-visible ~ label { */
/*     /* flex-basis: auto; */

/*     /* position: absolute; */

/*     /*background: var(--clr-accent--2);*/

/*     /*left: 1rem;*/

/*     /*font-size: 1rem;*/

/*     /*top: 0;*/

/*     animation: form-label 300ms ease-in-out forwards; */
/*     @starting-style { */
/*       font-size: 0; */
/*       background: var(--clr-fg-2); */
/*       top: 0.7rem; */
/*       left: 15rem; */
/*     } */
/*   } */

/*   /*TODO prevent this happening on form popop */

/*   &:not(focus-visible) ~ label { */
/*     animation: form-label-back 300ms ease-in-out forwards; */
/*   } */
/* } */

@keyframes form-label {
  0% {
    font-size: 0;
    background: var(--clr-fg-2);
    top: 0.7rem;
    left: 15rem;
  }

  20% {
    font-size: 1rem;
    background: var(--clr-accent--2);
    top: 0;
  }

  100% {
    background: var(--clr-accent--2);
    left: 1rem;
    font-size: 1rem;
    top: 0;
  }
}

@keyframes form-label-back {
  100% {
    font-size: 0;
    background: var(--clr-fg-2);
    top: 0.7rem;
    left: 15rem;
  }

  80% {
    font-size: 1rem;
    background: var(--clr-accent--2);
    top: 0;
  }

  0% {
    background: var(--clr-accent--2);
    left: 1rem;
    font-size: 1rem;
    top: 0;
  }
}

/* reply with a comment form styling */

.form-reply {
  width: 100%;
  display: none;

  &.replying {
    display: flex;

    &>div>div {
      display: block;
    }
  }

  &>* {
    gap: 1.2rem;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    align-content: flex-end;
  }
}

