.card-selected {
    position : relative;
    &::before {
        content       : "";
        position      : absolute;
        top           : -2px;
        left          : -2px;
        width         : calc(100% + 4px);
        height        : calc(100% + 4px);
        background    : conic-gradient(
                from var(--grad-from),
                transparent var(--trans-start),
                var(--color-hl-pink) var(--pink-start),
                var(--color-hl-pink) var(--pink-end),
                transparent var(--trans-end)
        );
        --grad-from   : 0deg;
        border-radius : .8rem;
        z-index       : -1;
        animation     : spin 3s linear 1;
    }
    &::after {
        content         : "";
        position        : absolute;
        top             : -1px;
        left            : -1px;
        width           : calc(100% + 2px);
        height          : calc(100% + 2px);
        background      : transparent;
        border          : 1px solid color-mix(in srgb, var(--color-hl-pink) var(--color-ratio), var(--color-bg-1));
        animation       : glow-breathe 3s ease-in-out 1;
        border-radius   : .8rem;
        z-index         : 1;
        --color-hl-pink : var(--color-hl-green);
    }
}
@keyframes spin {
    0% {
        --pink-start: 0%;
        --trans-start: 0%;
    }
    10% {
        --pink-start: 14%;
        --trans-start: 14%;
        --pink-end: 60%;
        --trans-end: 60%;
        --color-hl-pink: var(--color-hl-green);
    }
    15% {
        --pink-start: 34%;
        --trans-start: 34%;
        --pink-end: 80%;
        --trans-end: 80%;
        --color-hl-pink: var(--color-hl-pink);
    }
    25%, 100% {
        --pink-end: 100%;
        --trans-end: 100%;
        --color-hl-pink: var(--color-hl-green);
    }
    35%, 100% {
        --pink-start: 100%;
        --trans-start: 100%;
        --color-hl-pink: var(--color-hl-green);
    }
    100% {
        --grad-from: 180deg;
    }
}
@keyframes glow-breathe {
    0%, 25%, 100% {
        --color-ratio: 0%;
    }
    35%, 75% {
        --color-ratio: 100%;
    }
}