/* -- custom properties -- */
/* ----------------------- */
:root {
  /* fonts */
  --font-sz-title: clamp(1.8rem, 2rem + 0.65vw, 2.2rem);
  --font-sz-main: clamp(1rem, 1.2rem + -0vw, 1.6rem);
  --font-sz-cards: clamp(0.8rem, 1rem + 0.65vw, 1.2rem);
  /* box shadows */
  --shadow-box: 0 0.25 1rem rgb(0 0 0 / 0.5);
  --shadow-main: 0 5px 25px rgba(0 0 0 / 0.4);
  --shadow-card: 1px 0.6px 4.1px rgba(0 0 0 / 0.018),
    2.4px 1.5px 10px rgba(0 0 0 / 0.027), 4.3px 2.7px 19px rgba(0 0 0 / 0.034),
    7.4px 4.6px 33.3px rgba(0 0 0 / 0.041), 14px 8.7px 59px rgba(0 0 0 / 0.05),
    37px 23px 126px rgba(0 0 0 / 0.07);
  --shadow-text: 1px 1px 1px rgba(0, 0, 0, 0.2);
  --shadow-icon: inset 0 1px 1px rgba(0 0 0 / 0.2),
    inset 0 3px 5px rgba(0 0 0 / 0.1), inset 0 -1px 1px rgba(225 225 225 / 0.3);
  --shadow-toggle: inset 0 5px 15px rgba(0 0 0 / 0.4),
    inset 0 -1px 1px rgba(255 255 255 / 0.4);
  --shadow-button: 1px 1px 1px rgba(74, 74, 74, 0.3),
    -1px -1px 1px 0 rgba(255 2552 255 / 0.18);
  --shadow-button-hover: 4px 4px 5px -1px rgba(0, 0, 0, 0.45);
  --shadow-button-pressed: inset 0 3px 5px -1px rgba(0 0 0 / 0.3),
    inset 0 -1px 2px -1px rgba(200 200 200 / 0.6);
  --shadow-button-pressed-2: inset 0 1px 2px rgba(0 0 0 / 0.7),
    inset 0 3px 5px rgba(0 0 0 / 0.3), inset 0 -1px 2px rgba(225 225 225 / 0.5);
  /* --- borders --- */
  --border-radius-input: .8rem;
  /* --- transitions --- */
  transition-behavior: allow-discrete;
  interpolate-size: allow-keywords; /* allow animations between intrinsic sizes */
  --transition-dur-hover: 200ms;
  --transition-dur-feeds: 500ms;
  --transition-dur-hover-darklight: 500ms;
  --transition-type-hover: ease-in-out;
  /* --- filters --- */
  --filter-invert-on_off: invert(0);
  --filter-invert-off_on: invert(1);
  --filter-invert-always_on: invert(1);
  --filter-invert-always_off: invert(0);
  /* --- switches --- */
  --switch-darkLight: url("/assets/icons/switch-on.svg");
  /*--- icons --- */
  --svg-upload: url("/assets/icons/upload_24.svg");

  @media (prefers-color-scheme: light) {
    .branding {
      background: url("/assets/icons/codex-logo-blue.svg") no-repeat;
    }
    .btn-following {
      &::before {
        background: url("/assets/icons/following-blue_24.svg") no-repeat center;
      }
    }
    /*.btn-notifications {*/
    /*  &::before {*/
    /*    background: url('/assets/icons/notification-black_16.svg') no-repeat center;*/
    /*  }*/
    /*}*/
    --filter-invert-on_off: invert(1);
    --filter-invert-off_on: invert(0);
    --filter-invert-always_on: invert(1);
    --filter-invert-always_off: invert(0);
    --switch-darkLight: url("/assets/icons/switch-off.svg");
    body {
      background: var(--color-bg-4);
    }
  }
}

/* --- functional classes --- */
#switch-dl {
  background: var(--switch-darkLight);
  height: 3rem;
  width: 5.5rem;
}
.display-on {
  display: revert;
}
.display-off {
  display: none !important;
}
.invert-off {
  filter: invert(0);
}
/*svg {
  stroke: var(--color-fg-1);
  fill: var(--color-fg-1);
}*/

html {
  font-family: system-ui;
  font-size: 62.5%;
}
body {
  width: 100%;
  background: lab(var(--color-bg-1-lab));
  color: var(--color-fg-1);
  font-family: SpaceGrotesk-Regular, system-ui;
  font-size: 2rem;
  overflow: hidden;
}

/* text elements and classes */
h1 {
  font-family: SpaceMono, system-ui;
  font-size: 5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
h2 {
  font-family: SpaceMono, system-ui;
  font-size: 3.2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
h3 {
  font-family: SpaceMono, system-ui;
  font-size: 2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  align-self: self-start;
}
h4 {
  font-family: SpaceMono, system-ui;
  font-size: 1.6rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
p {
  font-family: SpaceGrotesk-Regular, system-ui;
  font-size: 1.6rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.p-bold {
  font-family: SpaceGrotesk-Medium, system-ui;
  font-size: 1.6rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
small {
  font-family: SpaceGrotesk-Regular, system-ui;
  font-size: 1.2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  &.padded {
    padding: 0 1.2rem;
  }
}
.small-bold {
  font-family: SpaceGrotesk-Medium, system-ui;
  font-size: 1.2rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
a,
a:visited,
a:link,
a:active {
  text-decoration: none;
  cursor: pointer;
  /*color: inherit;*/
}
/* ---- images ---- */
.post-image {
  /* TODO add a container query to size this correctly */
  max-width: 100%;
  border: 1px solid var(--color-bg-3);
  border-radius: var(--border-radius-input);
}
.profile-pic, .profile-pic--empty, .channel-pic {
  font-size: inherit;
  position: relative;
}
.profile-pic--empty {
  &::before {
    content: attr(data-initial);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
/*.profile-pic--empty {*/
/*  font-size: 2rem;*/
/*}*/
/*.profile-pic--empty-sidebar {*/
/*  font-size: 5rem;*/
/*}*/
/* ---- one-line elements ---- */
.invisible {
  visibility: hidden;
  height: 0;
}
/* ---- containers ---- */
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 1.5rem;
  /* margin: 0.6rem 0 0 0; */
  background: var(--color-bg-2);
  border-bottom: 1px solid var(--color-bg-3);
  min-height: 6rem;
  z-index: 2;
}
/* ---- grid containers ---- */
.cont-grid-auto15rem {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  column-gap: 1rem;
  row-gap: 0.3rem;
}
.cont-grid-4x-10rem {
  display: grid;
  grid-template-columns: repeat(4, minmax(10rem, 1fr));
  column-gap: 1rem;
  row-gap: 0.3rem;
  /*& *:hover {*/
  /*  filter: invert(1) drop-shadow(0 0 0.35rem);*/
  /*  transition: filter var(--transition-dur-hover) var(--transition-type-hover)*/
  /*    0s;*/
  /*  cursor: alias;*/
  /*}*/
}
.grid-wrapper {
  columns: 4;
  margin: 2rem 0;
}
.grid-cell {
  height: 9.6rem;
  aspect-ratio: 16 / 9;
  text-align: center;
  margin: 0 auto 1.2rem auto;
  /*margin-block: 1.2rem;*/
  border: 3px dotted var(--color-bg-3);
  border-radius: 1.2rem;
}
.grid-bullseye {
  justify-self: center;
  align-self: center;
}
/* ---- login window ---- */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100000000000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgb(0 0 0 / 0.6);
  transition: display 0.4s ease-in-out; /* Black w/ opacity */
}
.modal-content {
  position: relative;
  background-color: var(--color-bg-2);
  margin: 15% auto; /* 15% from the top and centered */
  border: 1px solid var(--color-bg-4);
  /* TODO which one? */
  min-width: min-content;
  min-width: 50dvw;
  width: 40dvw; /* Could be more or less, depending on screen size */
  /*font-family: SpaceGrotesk-Regular, system-ui;*/
  font-size: clamp(1.2rem, 2.4rem + -0.3dvw, 2.4rem);
  /*position: absolute;*/
  padding: 2rem;
  min-height: 40rem;
  border-radius: 1.2rem;
  /*box-shadow: inset 0 .4rem 2rem .2rem rgba(0 0 0 / 0.4),*/
  /*0 -.4rem 1.8rem rgba(0 0 0 / 0.4);*/
  /* background: var(--color-bg-4); */





























































  & form {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* row-gap: 1.2rem; */
  }
  & > span:nth-of-type(1) {
    position: absolute;
    top: 0.2rem;
    right: 1.4rem;
  }
}
/* The Close Button */
.close {
  color: var(--color-fg-4);
  float: right;
  font-size: 2.8rem;
  font-weight: bold;
  transition: all var(--transition-dur-hover) ease-in-out;
}
.close:hover,
.close:focus {
  color: firebrick;
  transform: rotate(-90deg);
  text-decoration: none;
  cursor: pointer;
}

.form-title {
  font-size: clamp(1.2rem, 2rem + -0.4dvw, 2.4rem);
  /* margin-inline: auto; */
  text-align: center;
}
.form-container {
  width: 320px;
  border-radius: 0.75rem;
  background-color: rgba(17, 24, 39, 1);
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
  z-index: -19;
}
.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
.form {
  margin-top: 1.5rem;
}
.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.input-group label {
  display: block;
  color: rgba(156, 163, 175, 1);
  margin-bottom: 4px;
}
.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgba(17, 24, 39, 1);
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
}
.input-group input:focus {
  border-color: rgba(167, 139, 250);
}
.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
  margin: 0.8rem 0 1.2rem 0;
}
.forgot a,
.signup a {
  color: rgba(243, 244, 246, 1);
  text-decoration: none;
  font-size: 14px;
}
.forgot a:hover,
.signup a:hover {
  text-decoration: underline rgba(167, 139, 250, 1);
}
.sign {
  display: block;
  width: 100%;
  background-color: rgba(167, 139, 250, 1);
  padding: 0.75rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}
.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
.line {
  height: 1px;
  flex: 1 1 0;
  background-color: lab(
    from var(--color-fg-3) calc(l - 0) calc(a - 0) calc(b - 0) / 0.4
  );
}
.social-message .message {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: var(--color-fg-3);
}
.social-icons {
  display: flex;
  justify-content: center;
}
.social-icons .icon {
  border-radius: 0.12rem;
  padding: 0.8rem;
  border: none;
  background-color: transparent;
  margin-left: 0.8rem;
}
.social-icons .icon svg {
  height: 1.2rem;
  width: 1.2rem;
  fill: var(--color-fg-1);
}
.reg-log {
  padding: 0.8rem 0 0 0;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
  justify-content: space-between;
  align-items: center;
  & small {
    padding: 0 0 0.8rem 0;
  }
}
/* ---- lab test colors ---- */

.hexGRN {
  background: var(--color-hl-green);
  justify-content: space-between;
}

.labGRN {
  background: var(--color-hl-green-lab);
}

.hexPINK {
  background: var(--color-hl-pink);
  justify-content: space-between;
}

.labPINK {
  background: var(--color-hl-pink-lab);
}

.hexInRGB {
  background: radial-gradient(
    in srgb circle at 50% 100%,
    var(--color-hl-green),
    var(--color-hl-pink)
  );
}

.hexInHSL {
  background: radial-gradient(
    in hsl circle at 50% 100%,
    var(--color-hl-green),
    var(--color-hl-pink)
  );
}

.hexInLCH {
  background: radial-gradient(
    in lch circle at 50% 100%,
    var(--color-hl-green),
    var(--color-hl-pink)
  );
}

.hexInLAB {
  background: radial-gradient(
    in oklab circle at 50% 100%,
    var(--color-hl-green),
    var(--color-hl-pink)
  );
}

.labInRGB {
  background: radial-gradient(
    in srgb circle at 50% 100%,
    var(--color-hl-green-lab),
    var(--color-hl-pink-lab)
  );
}

.labInHSL {
  background: radial-gradient(
    in hsl circle at 50% 100%,
    var(--color-hl-green-lab),
    var(--color-hl-pink-lab)
  );
}

.labInLCH {
  background: radial-gradient(
    in lch circle at 50% 100%,
    var(--color-hl-green-lab),
    var(--color-hl-pink-lab)
  );
}

.labInLAB {
  background: radial-gradient(
    in lab circle at 50% 100%,
    var(--color-hl-green-lab),
    var(--color-hl-pink-lab)
  );
}

/* ---- flex containers ---- */

.cont-flex-row {
  display: flex;
}

.drag-drop-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* gap: 0.8rem; */
  /* align-content: center; */
}

.main-content {
  display: flex;
  flex-grow: 1;
  /*gap     : 1.2rem;*/
}
.container-content {
  display: flex;
  flex-direction: row;
  gap: 4.8rem;
  width: calc(100dvw - 30.4rem);
  height: 20dvh;
  /*border: 2px hotpink solid;*/
}

.content {
  /* 100% of container - right panel - padding*/
  width: calc(100% - 27.2rem - 9.6rem);
  height: 100%;
  z-index: 100;
  padding: 0 2.4rem;
  overflow: hidden;
  /*border: 3px cornflowerblue solid;*/
}

.cont-flex-column {
  display: flex;
  flex-direction: column;
}

.flex-align-c {
  display: flex;
  justify-content: center;
  column-gap: 1.2rem;
}

/* ---------------------------------------- */

/* prevent special form element styling  */

.user-label {
  font-size: 0;
  color: var(--color-bg-1);
  background: var(--color-fg-2);
  border-radius: 1rem;
  padding: 0 0.4rem;
  margin: 0.4rem;
  position: absolute;
  z-index: 100;
  top: 0.7rem;
  left: 15rem;
  transform: translate(0.8rem, -0.4rem);
  /*transition:*/
  /*  font-size var(--transition-dur-hover) ease-in-out,*/
  /*  color var(--transition-dur-hover) ease-in-out,*/
  /*  top var(--transition-dur-hover) ease-in-out,*/
  /*  left 300ms ease-in-out;*/
}
legend,
fieldset,
select,
textarea,
input,
button {
  background: transparent;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}
textarea,
input[type="text"],
input[type="password"],
input[type="email"] {
  position: relative;
  /*margin: 0.8rem;*/
  border: 1px solid var(--color-bg-4);
  font-size: 1.6rem;
  border-radius: var(--border-radius-input);
  padding: 0.4rem;
  height: auto;
  width: 100%;
  color: var(--color-fg-2);
  &::placeholder {
    color: var(--color-bg-4);
  }
  &:focus-visible {
    outline: none;
  border: 1px solid var(--color-hl-pink);
  }
  &:focus-visible::placeholder {
    color: transparent;
  }
  &:focus-visible ~ label {
    flex-basis: auto;
    position: absolute;
  /*background: var(--color-hl-pink);*/
  /*left: 1rem;*/
  /*font-size: 1rem;*/
  /*top: 0;*/
  animation: form-label 300ms ease-in-out forwards;
  }
  /*TODO prevent this happening on form popop */
  &:not(:focus-visible) ~ label {
    animation: form-label-back 300ms ease-in-out forwards;
  }
}
@keyframes form-label {
  0% {
    font-size: 0;
    background: var(--color-fg-2);
    top: 0.7rem;
    left: 15rem;
  }
  20% {
    font-size: 1rem;
    background: var(--color-hl-pink);
    top: 0;
  }
  100% {
    background: var(--color-hl-pink);
    left: 1rem;
    font-size: 1rem;
    top: 0;
  }
}
@keyframes form-label-back {
  100% {
    font-size: 0;
    background: var(--color-fg-2);
    top: 0.7rem;
    left: 15rem;
  }
  80% {
    font-size: 1rem;
    background: var(--color-hl-pink);
    top: 0;
  }
  0% {
    background: var(--color-hl-pink);
    left: 1rem;
    font-size: 1rem;
    top: 0;
  }
}
/* --- login and registration from styling --- */
.input-wrapper {
  position: relative
}
#form-login, #form-edit-user {
  & input {
    margin: 0.8rem 0;
  }
}
#bio {
  width: 100%;
  height: 22rem;
}
#form-register {
  /*textarea {*/
  /*  min-width: 100%;*/
  /*}*/
  & input {
      margin: 0.8rem 0 0 0;
  }
  & input:not(:placeholder-shown):valid,
  & input:user-valid,
  & input:not(:placeholder-shown):invalid,
  & input:user-invalid,
  .pass-nomatch,
  .pass-match {
    & + span,
    & ~ .validation-tooltip {
      height: 0;
      width: 0;
    }
    & + span::before {
      display: flex;
      content: "";
      position: relative;
      left: 8.6rem;
      top: -3.2rem;
      height: 1.6rem;
      width: 1.6rem;
    }
    & ~ .validation-tooltip::before {
      content: "";
      display: none;
      position: relative;
      top: 0;
      left: 0;
      padding: 0.8rem;
      text-align: justify;
      background: var(--color-bg-1);
      font-family: SpaceGrotesk-Regular, system-ui;
      font-size: clamp(1.2rem, 1.4rem + -0.3dvw, 2.4rem);
      border-radius: var(--border-radius-input);
      border: 1px solid var(--color-bg-5);
      height: 0;
      z-index: 1;
      transition: height var(--transition-dur-hover) ease-in-out;
    }
  }
  & input:valid,
    /* TODO get code under working */
  /*& input:not(:placeholder-shown):valid,*/
  /*  TODO use this class*/
  .pass-match {
    color: var(--color-hl-green);
    & + span::before {
      background: url("/assets/icons/form-success.svg") no-repeat;
    }
    & ~ label {
      background: var(--color-hl-green);
    }
  }
  & input:user-invalid,
  /* TODO get code under working */
  /*& input:not(:placeholder-shown):invalid,*/
  /*  TODO use this class*/
  .pass-nomatch {
    color: firebrick;
    & + span::before {
      background: url("/assets/icons/form-error.svg") no-repeat;
    }
    & ~ label {
      background: firebrick;
    }
  }
}
#register_password-rpt {
  margin: .8rem 0 !important;
}

.validation-list {
  pointer-events: none;
  position: relative;
  left: 2.8rem;
  height: 0;
  width: 21rem;
  z-index: 1;
  font-size: var(--font-sz-main);
  transition: height 1s ease-in-out;
  list-style-image: url("/assets/icons/form-grey.svg");
  .li-valid {
    list-style-image: url("/assets/icons/form-success.svg");
  }
  .li-invalid {
    list-style-image: url("/assets/icons/form-error.svg");
  }
  & li {
    opacity: 0;
    line-height: 1.6rem;
  }
  & li:nth-of-type(1) {
    transition-delay: var(--delay-1);
  }
  & li:nth-of-type(2) {
    transition-delay: var(--delay-2);
  }
  & li:nth-of-type(3) {
    transition-delay: var(--delay-3);
  }
  & li:nth-of-type(4) {
    transition-delay: var(--delay-4);
  }
}
.ul-forwards {
  & li {
    transition: opacity 0.6s ease-in-out;
  }
  --delay-1: 0.2s;
  --delay-2: 0.4s;
  --delay-3: 0.55s;
  --delay-4: 0.65s;
}
.ul-reverse {
  & li {
    transition: opacity 0.4s ease-in-out;
  }
  --delay-1: 0.3s;
  --delay-2: 0.2s;
  --delay-3: 0.1s;
  --delay-4: 0;
}
#register_password:focus-visible {
  & ~ .validation-list {
    height: fit-content;
    @starting-style {
      height: 0;
    }
    /*transform: translateX(-50%) translateY(-150%);*/
    & li {
      opacity: 1;
    }
  }
}
/*input[type="password"]:user-invalid {*/
/*  & + span + .validation-tooltip::before {*/
/*    display: block;*/
/*    content: 'password must contain at least one number and one uppercase and lowercase letter, and 8 or more characters';*/
/*    height: fit-content;*/
/*    width: 19rem;*/
/*    transform: translateX(-50%) translateY(-150%);*/
/*  }*/
/*}*/
input#register_user:user-invalid {
  & ~ .validation-tooltip::before {
    display: block;
    content: "username must have 5 or more characters";
    height: fit-content;
    width: 19rem;
    transform: translateX(-50%) translateY(-189%);
  }
}
.pass-nomatch {
  & ~ .validation-tooltip::before {
    display: block;
    content: "passwords do not match";
    height: fit-content;
    width: 19rem;
    transform: translateX(-50%) translateY(-189%);
  }
}

textarea.inactive-input,
input[type="text"].inactive-input {
  pointer-events: none;
  color: var(--color-fg-4);
}

.searchbar {
  height: 3rem;
  width: calc(100vw / 4);
  padding: 1rem;
  border-radius: 5rem;
}

/*select {*/
/*    background: url("/assets/images/down-arrow.svg") no-repeat center right 0.75rem;*/
/*}*/

input[type="checkbox"]:checked {
  background: url("/assets/images/check.svg") no-repeat center / 75% auto;
}

.wrapper-main {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.gradient {
  min-height: 100svh;
  background: var(--grad-main-rad);
}
/*--- post popover and buttons --- */
.btn-post {
  anchor-name: --post-button;
}
.btn-channel {
  anchor-name: --channel-button;
}
#form-post, #form-channel {
  position: absolute;
  inset: auto;
  margin: 0;
  padding: 2rem;
  font-size: 1.5rem;
  border: none;
  background: transparent;
  margin-block-start: 0.8rem;
  max-width: 75dvw;
  max-height: 75dvh;
  opacity: 0;
  overflow: hidden;
  transition:
    display var(--transition-dur-feeds),
    opacity var(--transition-dur-feeds);
  &:popover-open {
    display: flex;
    opacity: 1;
    @starting-style {
      opacity: 0;
    }
  }
  & select {
    margin-inline: auto;
    width: 90%;
    padding: .4rem .4rem .4rem 1.2rem;
    border: 1px solid var(--color-bg-3);
    border-radius: var(--btn-radius);
  }
  & input {
    margin: 0.8rem 0 0 0;
    width: 100%;
  }
  & textarea {
    overflow: visible;
    margin: 0.8rem 0 0 0;
    padding: 0.4rem;
    resize: both;
    font-size: var(--font-sz-cards);
    width: 100%;
    max-width: 100%;
  }
}
#form-post {
  top: 5rem;
  right: 15rem;
  position-anchor: --post-button;
  top: anchor(bottom);
  right: anchor(right);
}
#form-channel {
  top: 15rem;
  right: 5rem;
  position-anchor: --channel-button;
  bottom: anchor(bottom);
  left: anchor(right);
}

  .wrapper-form, .share-container {
  display: flex;
  flex-direction: column;
  background: var(--color-bg-2);
  color: var(--color-fg-2);
  padding: 1.2rem;
  gap: 1.2rem;
  border: 1px solid var(--color-bg-3);
  border-radius: 1rem;
  box-shadow: rgb(0 0 0 / 16%) 0 3px 6px, rgb(0 0 0 / 23%) 0 3px 6px;

  & > label,
  & > p {
    margin: 0 0 -0.8rem 0.8rem;
  }
  /*& * {*/
  /*  margin : 0.4rem;*/
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /*}*/
}

.wrapper-form {
  width: 30rem;
}

.share-container {
  flex-direction: column;
  padding       : 1.6rem;
}

[id^="share-button-"] {
}

[id^="share-container-"] {
  background: none;
  border: none;
  padding: 2.4rem;
  z-index: 0;

  & label {
    transition: all var(--transition-dur-hover) ease-in-out;
    cursor: pointer;
  }

  & input {
    transition: all var(--transition-dur-hover) ease-in-out;
    margin-top: -1rem;
  }
  &:popover-open {
    z-index: -1000;
  }
  &::backdrop {
    z-index: -1;
  }
}

/*--- drag and drop file --- */
[id^="drop-zone"] {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10.5rem;
  margin-block: 1.2rem;
  padding: 0 1.2rem;
  font-size: var(--font-sz-cards);
  background: var(--color-bg-3);
  border: 2px dashed var(--color-bg-5);
  border-radius: var(--border-radius-input);
  z-index: 999;
  flex-wrap: nowrap;
  justify-content: flex-end;
























  &::before {
    filter     : var(--filter-invert-on_off);
    content    : "";
    position   : absolute;
    top        : 1.2rem;
    height     : 2rem;
    width      : 100%;
    background : var(--svg-upload) no-repeat center;
  }
  &:active {
    border: 0;
    background: var(--color-bg-5);
  }
  &.dropped {
    background: var(--color-bg-2);
  }
  & span {
    /*padding: 0.5rem 0;*/
    /*color: var(--color-fg-1);*/
  }
  & .button {
    padding: 0.5rem 0.5rem;
    color: #5074b5;
    cursor: pointer;
  }
  & p a:hover {
    color: var(--color-secondary-hover);
  }
  & input {
    cursor: pointer;
  }
}
/*#drop-zone.active {*/
/*  border: 0;*/
/*  background: var(--color-bg-5);*/
/*}*/
/*#drop-zone.dropped {*/
/*  background: var(--color-bg-2);*/
/*}*/
/*#drop-zone span {*/
/*  padding: 0.5rem 0;*/
/*  color: var(--color-fg-1);*/
/*}*/
/*#drop-zone .button {*/
/*  padding: 0.5rem 0.5rem;*/
/*  color: #5074b5;*/
/*  cursor: pointer;*/
/*}*/
/*#drop-zone p a:hover {*/
/*  color: var(--color-secondary-hover);*/
/*}*/
/*#drop-zone input {*/
/*  cursor: pointer;*/
/*}*/
.dragText,
[id^="browse"] {
  /* padding: 0.5rem 0; */
  color: var(--color-fg-1);
  margin-block: auto;
  width: 21rem;
}
[id^="uploadedFile"] {
  display: grid;
  color: var(--color-fg-1-lab);
}
.uploaded-file {
  font-size: var(--font-sz-main);
  padding: 0.5rem 2rem;
  color: var(--color-bg-2-lab);
  background: var(--color-hl-green);
  border: 1px dashed var(--color-hl-pink);
}

.wrapper-search {
  display: flex;
  flex-grow: 2;
  justify-content: center;
}

/* --- Codex branding --- */

.branding {
  /*display: flex;*/
  /*flex-grow: 1;*/
  /*& p {*/
  /*    letter-spacing: .4em;*/
  /*    text-shadow: var(--shadow-text);*/
  /*}*/
  /*& p:nth-child(odd) {*/
  /*    color: var(--color-hl-pink);*/
  /*}*/
  /*& p:nth-child(even) {*/
  /*    color: var(--color-hl-green);*/
  /*}*/
  background: url("/assets/icons/codex-logo-green.svg") no-repeat;
  width: 10.4rem;
  height: 3.5rem;
}

/* --- Sidebar.--- */

.sidebar {
  display: flex;
  flex-direction: column;
  max-width: 32rem;
  min-width: 32rem;
  height: 100dvh;
  padding: 2.4rem 0;
  gap: 1.2rem;
  background: var(--color-bg-2);
  font-family: SpaceGrotesk-Regular, system-ui;
  border-right: 1px solid var(--color-bg-3);
}

/* sidebar separators */

hr.solid {
  /*width         : calc(100% - 2.4rem);*/
  align-self: center;
  border: none;
  background: var(--color-dark-5); /* hardcoded as works for both */
  height: 0.1rem;
  border-radius: 0.3rem;
}

.sidebarProfile, .page-profile {
  display: flex;
  padding: 0 1.2rem;
  & > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 1rem;
    & > div {
      display: flex;
      flex-direction: row;
      gap: unset;
      align-self: baseline;
    }
  }
}

.sidebar-pic {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 60px;
}

.sidebar-block {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  padding: 1.8rem 0;
  &:last-of-type {
    padding-bottom: 5.2rem;
  }
}

.sidebar-scroll {
  padding: 0 1.2rem;
}

.sidebar-option {
  display: flex;
  font-size: 1.6rem;
  padding: 0.8rem 1.2rem 0.8rem 4.8rem;
  height: 4.8rem;
  align-items: center;
  border-radius: var(--border-radius-input);
  transition: background var(--transition-dur-hover)
    var(--transition-type-hover) 0s;
  cursor: pointer;
  &:hover,
  &:active {
    background: var(--color-bg-3);
    & > label {
      border: 0.2rem solid var(--color-secondary-border-hover);
    }
  }
  &::before {
    filter: var(--filter-invert-on_off) !important;
    position: absolute;
    left: 1.2rem;
    top: 50%;
    transform: translate(0, -45%);
    height: 2.4rem;
    width: 2.4rem;
  }
}
.sidebar-options-list {
  position: relative;
  left: 5rem;
  top: -0.3rem;
  height: 0;
  width: 21rem;
  z-index: 1;
  font-size: var(--font-sz-main);
  transition: height 1s ease-in-out;
  list-style: none;
  & li {
    font-size: 1.2rem;
    opacity: 0;
    line-height: 2rem;
    /* background: darkred; */
    width: max-content;
    padding: .2rem .8rem;
    margin-block-end: 0.6rem;
    border-radius: var(--btn-radius);
    &:hover {
      background: var(--color-hl-pink);
      cursor: pointer;
      transition: all var(--transition-dur-hover) var(--transition-type-hover) 0s;
    }
  }
  & li:nth-of-type(1) {
    transition-delay: var(--delay-1);
  }
  & li:nth-of-type(2) {
    transition-delay: var(--delay-2);
  }
  & li:nth-of-type(3) {
    transition-delay: var(--delay-3);
  }
  & li:nth-of-type(4) {
    transition-delay: var(--delay-4);
    &:hover {
        background: firebrick;
    }
  }
}
.sidebar-options-reveal {
  height: fit-content;
  @starting-style {
    height: 0;
  }
  /*transform: translateX(-50%) translateY(-150%);*/
  & li {
    opacity: 1;
  }
}

.flex-center, .flex-space-between, .flex-space-around, .flex-start, .flex-end {
  display: flex;
  align-items: center;
}

.flex-center {
  justify-content: center !important;
  column-gap: 1.2rem;
}
.flex-space-between {
  justify-content: space-between !important;

  & label {
    font-family: SpaceGrotesk-Regular, system-ui;
    font-size: 1.2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;

    &.padded {
      align-content: center;
      height: 3.2rem;
      padding: 0 1.2rem;
    }
  }
}

.flex-space-around {
  justify-content: space-around !important;
}

.flex-start {
  justify-content: flex-start !important;
}

.flex-end {
  justify-content: flex-end !important;
}

.margin-auto-0 {
  margin-inline: auto 0;
}

.margin-0-auto {
  margin-inline: 0 auto;
}

/* ------ sidebar icons ------ */

.home {
  position: relative;
  &::before {
    content: url("/assets/icons/home_24.svg");
  }
}

.darkMode {
  position: relative;
  &::before {
    content: url("/assets/icons/moon_24.svg");
  }
}

.settings {
  position: relative;
  &::before {
    content: url("/assets/icons/settings_24.svg");
  }
}

.login {
  position: relative;
  &::before {
    content: url("/assets/icons/login_24.svg");
  }
}
.logout {
  position: relative;
  &::before {
    content: url("/assets/icons/logout_24.svg");
  }
}

.sidebar-channel-block {
  font-size: 1.6rem;
  padding: 0 1.2rem;
  gap: 1.2rem;
  background: var(--color-bg-1);
  border-radius: var(--border-radius-input);
}

.sidebar-channel {
  border-radius: var(--border-radius-input);
  margin: 1.2rem 0;
  transition: background var(--transition-dur-hover)
    var(--transition-type-hover) 0s;

  &:hover,
  &:active {
    background: var(--color-bg-2);
  }
}

.container-channel-info {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  padding: 0.8rem 1.2rem;
  column-gap: 1.2rem;
  justify-content: space-between;

  & div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;

    & div:nth-of-type(2) {
      display: flex;
    }
  }
}

.channel-users {
  position: relative;
  padding-left: 2rem;

  &::before {
    content: url("/assets/icons/users_16.svg");
    font-size: 2.8rem;
    position: absolute;
    left: 0;
    top: 0.4rem;
    transform: translate(0, -47%);
  }
}

.channel-green-dot {
  position: relative;
  padding-left: 2.8rem;
  &::before {
    content: "•";
    color: var(--color-hl-primary);
    font-size: 2.8rem;
    position: absolute;
    left: 1.6rem;
    top: 0.4rem;
    transform: translate(0, -47%);
  }
}

main {
  position: relative;
  display: flex;
  flex-direction: row;
  /*flex-grow: 1;*/
  width: 100%;
  max-height: calc(100vh - 5.6rem);
  overflow: hidden;
  margin: 0;
}

.feeds-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

.activity-items {
  color: var(--color-light-1-lab);
  border-radius: 1.1rem;
  margin: 1.2rem 0 0 0.8rem;
  padding: 0.2rem 0.8rem;
  width: fit-content;
}
.activity {
  background: firebrick;
}
.comments {
  background: var(--color-hl-blue);
}
.saved {
  background: var(--color-hl-orange);
}
.muted {
  background: var(--color-hl-yellow);
  color: var(--color-dark-1);
}
.reactions {
  background: var(--color-hl-pink);
}
#home-page {
  display: none;
  margin: 1rem 0 0 .8rem;

  &.active-feed {
    display: flex;
  }
}
  #home-feed {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  padding: 0 1.2rem;
  overflow: auto;
}
.button-row-homepage {
  background: transparent;
  position: absolute;
  top: 0;
  margin: 0.4rem 0.8rem;
}
#homepage-feed-mask-container {
  position: absolute;
  background: limegreen;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100% !important;
  pointer-events: none;
}
/*.feed-content-homepage {*/
/*  margin: 0;*/
/*  mask: url('#homepage-feed-mask');*/
/*}*/
.scrollable {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: top;
  -webkit-mask-position: top;
  /*padding: 6.2rem 0 0 0;*/
  /*margin: 1rem 0 0 0;*/
}
  .scrollable-home, .scrollable-channel {
  mask-image: url(#homepage-feed-mask); /* For modern browsers */
  -webkit-mask-image: url(#homepage-feed-mask); /* For WebKit browsers */
  padding: 0 1.2rem;
  margin: 6rem 0 0 0;
}
.scrollable-channel {
  margin: 0;
}
.scrollable-user {
  /* mask-image: url(#userpage-feed-mask); */ /* For modern browsers */
  /* -webkit-mask-image: url(#userpage-feed-mask); */ /* For WebKit browsers */
}

.noborder {
  border: none;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
  color: var(--color-fg-1);
  background: var(--color-bg-2);
  border: 1px solid var(--color-bg-3);
  border-radius: var(--border-radius-input);
  padding: 1.2rem;
  margin-bottom: 1.2rem;
  /* box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.20); */
  box-shadow:
    rgba(0, 0, 0, 0.16) 0 3px 6px,
    rgba(0, 0, 0, 0.23) 0 3px 6px;
  /* z-index: 100; a positive z-index breaks the before */
}

.container-comments {
  display: flex;
  width: 100%;
  gap: 1.2rem;
  padding: 1.2rem 0 2.4rem 1.2rem;
  margin-top: -1.2rem;

}

.reply-arrow {
  width: 1.6rem;
  height: 1.6rem;
  background: url("/assets/icons/reply_arrow_16.svg") no-repeat center;
}
@keyframes glow-breathe {
  0%, 25%, 100% {
    --color-ratio: 0%;
  }
  35%, 75% {
    --color-ratio: 100%;
  }
}

.container-post-info, .container-comment-info {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;

  /* post inner container */

  & div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    /* post below-author container */

    & div {
      display: flex;
      flex-direction: unset;
      gap: 0.3rem;

      & small:first-of-type {
        position: relative;
        padding: 0 0 0 1.6rem;

        &::before {
          position: absolute;
          top: -0.3rem;
          left: 0;
          content: url("/assets/icons/reply_arrow_16.svg");
          filter: var(--filter-invert-on_off);
        }
      }
    }
  }
  & .like-button {
    width: 2.4rem;
    aspect-ratio: 1 / 1;
    margin-inline-start: auto;
    background: url('/assets/icons/heart-empty_24.svg') no-repeat center;
    &:hover {
      background: url('/assets/icons/heart-full_24.svg') no-repeat center;
    }
  }
}

.card-pic {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 24px;
  /*background: url(/assets/images/profile.png) lightgray 50% / cover no-repeat;*/
}

.cardTitle {
  font-size: 2ch;
}

.cardAuthor {
  font-size: 1.3ch;
}

.cardChannel {
  font-size: 1.3ch;
}

.cardDate {
  font-size: 0.8ch;
}

.cardContent {
  font-family: SpaceGrotesk-Variable, system-ui;
  font-size: 1.2rem;
  display: -webkit-box; /* Required for the ellipsis */
  -webkit-box-orient: vertical; /* Specify vertical orientation */
  overflow: hidden; /* Hide the overflowing text */
  text-overflow: ellipsis; /* Add the ellipsis */
  -webkit-line-clamp: 3; /* Limit to 3 visible lines */
  line-height: 1.5; /* Adjust the line height */
  max-height: calc(1.5em * 3); /* Set max height to match 3 lines */
}

.title {
  font-size: 3ch;
  margin: 0.5ch;
  text-align: center;
}

/* -------- buttons -------- */

  .button-row, .button-row-wrap, .page-buttons{
  display: flex;
  padding: 1.2rem 0;
  column-gap: 1.2rem;
  row-gap: 0.8rem;
}

.button-row-wrap {
  flex-wrap: wrap;
}

.filters-row {
  padding-bottom: 2.4rem !important;
  /*position: relative;*/
  & button {
    /*position: absolute;*/
    /*top : 1.2rem;*/
  }
  & button:nth-of-type(1) {
    /*left: 0;*/
    z-index: 0;
  }
  & button:nth-of-type(2) {
    /*left: 11;*/
    z-index: 0;
  }
}

.above-posts {
  /*position   : absolute;*/
  background: var(--color-bg-1);
  background: transparent;
  width: calc(100vw - 3rem - 1.2rem - 32rem);
  z-index: 100;
}

.above-activity {
  position: sticky;
  width: calc(100vw - 3rem - 1.2rem - 32rem);
  z-index: 100;
}
.post-controls {
  position: relative;
}
.right-panel {
  position: relative;
  /* Height of right panel equal to the sreen size - 9.6rem padding (4.8rem top and bottom) */
  height: calc(100dvh - 9.6rem);
  .right-panel-content {
    position: sticky;
    top: 0;
    left: 0;
    width: 28rem;
    height: auto;
    max-height: calc(100dvh - 20rem - 9.6rem - 2.4rem);
    background: var(--color-bg-2);
    border: 1px solid var(--color-bg-3);
    border-radius: var(--border-radius-input);
    z-index: 10000;
    display: flex;
    padding: 0.8rem 1.2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.2rem;
    align-self: stretch;
    & > * {
      width: 100%;
      & > .sidebar-block {
        padding: 0.4rem 0;
      }
    }
    & .right-panel-name-container {
      & .right-panel-name {
        height: 3.2rem;
        align-items: center;
        overflow: hidden;
        color: var(--color-fg-1);
        text-overflow: ellipsis;
      }
    }
    & .right-panel-bio-container,
    & .right-panel-rules-container {
      & label {
        font-family: SpaceGrotesk-Regular, system-ui;
        font-size: 1.2rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        &.padded {
          padding: 0 1.2rem;
        }
      }
    }
    & .right-panel-pic-container {
      display: flex;
      gap: 1.2rem;
      align-items: center;
      & .right-panel-pic {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        border-radius: 60px;
        /*background: url(/assets/images/profile.png) lightgray 50% / cover no-repeat;*/
      }
    }
  }
}
.scroll-down {
  overflow-y: auto;
  overflow-x: hidden;

  &.sidebar-scroll {
    height: auto;
    min-height: calc(100dvh - 6rem);
  }
  &::-webkit-scrollbar {
    width: 0.8rem;
    height: 0.8rem;
  }
  &::-webkit-scrollbar-track {
    margin: 0.4rem;
    width: 0.8rem;
    height: 0.8rem;
    background: var(--color-bg-1);
    border-radius: 2.4rem;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-bg-3);
    border-radius: 2.4rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--color-bg-4);
  }
}


/* ---- animations ---- */
@keyframes border-fade {
  100% {
    /*border: .15rem solid transparent;*/
    background: var(--color-hl-pink);
  }
}
@keyframes text-refresh {
  20%,
  80% {
    transform: rotate3d(-1, 0, 0, 90deg);
  }
  60% {
    filter: invert(1) brightness(1.2);
    color: var(--color-light-1);
  }
}
@keyframes fill-fade {
  80% {
    filter: opacity(100%);
  }
  100% {
    filter: opacity(0%);
  }
}
@keyframes image-invert {
  45% {
    filter: invert(0);
  }
  50% {
    filter: invert(1);
  }
}
@keyframes text-invert {
  45% {
    color: var(--color-dark-1);
  }
  50% {
    color: var(--color-light-1);
  }
}

