/* -- custom properties -- */
/* ----------------------- */
:root {
  /* allow animations between intrinsic sizes */
  transition-behavior: allow-discrete;

  /* allow animations on items that animate discretley (eg display: none) */
  interpolate-size: allow-keywords;

  /* paragraphs */
  --p-max-width: 78ch;
  /* fonts */
  --font-sz-title: clamp(1.8rem, 2rem + 0.65vw, 2.2rem);
  --font-sz-popover-title: clamp(1rem, 1rem + 0.5vw, 1.5rem);
  --font-sz-main: clamp(1rem, 1.2rem + -0vw, 1.6rem);
  --font-sz-cards: clamp(0.8rem, 1rem + 0.65vw, 1.2rem);
  /* box shadows */
  --shadow-box: 0 0.25 1rem rgb(0 0 0 / 0.5);
  --shadow-main: 0 5px 25px rgba(0 0 0 / 0.4);
  --shadow-filter: 0 4px 24px rgba(0 0 0 / 0.4);
  /*TODO ---------- convert all px to rem ---------- */
  --shadow-card:
    1px 0.6px 4.1px rgba(0 0 0 / 0.018), 2.4px 1.5px 10px rgba(0 0 0 / 0.027),
    4.3px 2.7px 19px rgba(0 0 0 / 0.034),
    7.4px 4.6px 33.3px rgba(0 0 0 / 0.041), 14px 8.7px 59px rgba(0 0 0 / 0.05),
    37px 23px 126px rgba(0 0 0 / 0.07);
  --shadow-text: 1px 1px 1px rgba(0, 0, 0, 0.2);
  --shadow-icon:
    inset 0 1px 1px rgba(0 0 0 / 0.2), inset 0 3px 5px rgba(0 0 0 / 0.1),
    inset 0 -1px 1px rgba(225 225 225 / 0.3);
  --shadow-toggle:
    inset 0 5px 15px rgba(0 0 0 / 0.4), inset 0 -1px 1px rgba(255 255 255 / 0.4);
  --shadow-button:
    1px 1px 1px rgba(74, 74, 74, 0.3), -1px -1px 1px 0 rgba(255 2552 255 / 0.18);
  --shadow-button-hover: 4px 4px 5px -1px rgba(0, 0, 0, 0.45);
  --shadow-button-pressed:
    inset 0 3px 5px -1px rgba(0 0 0 / 0.3),
    inset 0 -1px 2px -1px rgba(200 200 200 / 0.6);
  --shadow-button-pressed-2:
    inset 0 1px 2px rgba(0 0 0 / 0.7), inset 0 3px 5px rgba(0 0 0 / 0.3),
    inset 0 -1px 2px rgba(225 225 225 / 0.5);
  /* --- borders --- */
  --border-radius-input: 0.8rem;
  --border-radius-button: 5rem;
  /* --- transitions --- */
  --transition-dur-hover: 200ms;
  --transition-dur-appear: 400ms;
  --transition-dur-feeds: 500ms;
  --transition-dur-hover-darklight: 500ms;
  --transition-type-hover: ease-in-out;
  /* --- filters --- */
  --filter-invert-on_off: invert(0);
  --filter-invert-off_on: invert(1);
  --filter-invert-always_on: invert(1);
  --filter-invert-always_off: invert(0);
  /* --- switches --- */
  --switch-darkLight: url("/assets/icons/switch-on.svg");
  /* --- icons --- */
  --svg-upload: url("/assets/icons/upload_24.svg");
  /* --- z-index --- */
  --z-index-notification-main: 10100;
  --z-index-modal: 10000;
  --z-index-drop-zone: 600;
  --z-index-right-panel-content: 500;
  --z-index-above: 500;
  /* above-posts, above-activity */
  --z-index-content: 500;
  --z-index-user-label: 500;
  --z-index-darklight-border: 400;
  --z-index-button: 400;
  --z-index-page-control: 300;
  --z-index-header: 200;
  --z-index-sidebar-channel: 150;
  --z-index-sidebar-options-list: 100;
  --z-index-banner: 0;
  --z-index-btn-action: 0;
  --z-index-share-container: 0;
  --z-index-darklight-fx: -100;
  --z-index-form-container: -200;
  /* --- blurs ---*/
  --blur-modal: blur(0.4rem);

  @media (prefers-color-scheme: light) {
    .branding {
      background: url("/assets/icons/codex-logo-blue.svg") no-repeat;
    }

    /*.btn-notifications {*/
    /*  &::before {*/
    /*    background: url('/assets/icons/notification-black_16.svg') no-repeat center;*/
    /*  }*/
    /*}*/
    --filter-invert-on_off: invert(1);
    --filter-invert-off_on: invert(0);
    --filter-invert-always_on: invert(1);
    --filter-invert-always_off: invert(0);
    --switch-darkLight: url("/assets/icons/switch-off.svg");

    /* body { */
    /*   background: var(--clr-bg-4); */
    /* } */
  }
}

/* SECTION --- functional classes --- */
#switch-dl {
  background: var(--switch-darkLight);
  height: 3rem;
  width: 5.5rem;
}

.invisible,
.invisible-notify {
  visibility: hidden;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.invisible-notify {
  margin-block: -0.6rem !important;
}

.hidden {
  display: none;
}

.display-on {
  display: revert;
}

.display-off {
  display: none !important;
}

.invert-off {
  filter: invert(0);
}

.info-box {
  color: var(--clr-accent--1);
  font-size: 0.8rem;
  border: 0.1rem solid var(--clr-accent--1);
  border-radius: 0.2rem;
  padding: 0 0.4rem;
  background: transparent;
}

/*svg {
  stroke: var(--clr-fg-1);
  fill: var(--clr-fg-1);
}*/

html {
  font-family: system-ui;
  font-size: 62.5%;
}

body {
  width: 100%;
  background: var(--clr-bg-1);
  color: var(--clr-fg-1);
  font-family: SpaceGrotesk-Regular, system-ui;
  font-size: 2rem;
  overflow: hidden;
}

/* text elements and classes */
h1,
h2,
h3,
h4 {
  font-family: SpaceMono, system-ui;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
}

p,
.p-bold {
  font-family: SpaceGrotesk-Regular, system-ui;
  font-size: 1.6rem;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

p {
  font-weight: normal;
  cursor: var(--cursor-text);
}

.p-bold {
  font-weight: 600;
}

small,
.small-bold {
  font-size: 1.2rem;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;

  &.sticky {
    position: sticky;
    top: 0;
    background: var(--clr-bg-2);
    padding: 1.2rem 2rem;
    z-index: var(--z-index-above);
  }
}

small {
  font-family: SpaceGrotesk-Regular, system-ui;
  font-weight: normal;
}

.small-bold {
  font-family: SpaceGrotesk-Medium, system-ui;
  font-weight: 500;
}

a,
a:visited,
a:link,
a:active,
.link {
  text-decoration: none;
  cursor: var(--cursor-pointer);
  /*color: inherit;*/
}

.link:hover {
  color: var(--clr-accent--1--1);
}

.link-under {
  color: var(--clr-accent--1--1);
  text-decoration: underline;

  &:hover {
    color: var(--clr-accent--2--2);
  }
}

/* SECTION ---- images ---- */
.post-image {
  /* TODO add a container query to size this correctly */
  max-width: 100%;
  border: 1px solid var(--clr-bg-3);
  border-radius: var(--border-radius-input);
}

.profile-pic,
.user-page-pic,
.profile-pic--empty,
.channel-pic {
  font-family: SpaceMonoFixed, system-ui;
  font-size: inherit;
  position: relative;
}

.profile-pic--empty {
  &::before {
    content: attr(data-initial);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

/*.profile-pic--empty {*/
/*  font-size: 2rem;*/
/*}*/
/*.profile-pic--empty-sidebar {*/
/*  font-size: 5rem;*/
/*}*/

/* SECTION ---- containers ---- */
.header {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 0.8rem 1.5rem;
  background: var(--clr-bg-2);
  border-bottom: 1px solid var(--clr-bg-3);
  z-index: var(--z-index-header);
}

/* --- Codex branding --- */

.branding {
  /*display: flex;*/
  /*flex-grow: 1;*/
  /*& p {*/
  /*    letter-spacing: .4em;*/
  /*    text-shadow: var(--shadow-text);*/
  /*}*/
  /*& p:nth-child(odd) {*/
  /*    color: var(--clr-accent--2);*/
  /*}*/
  /*& p:nth-child(even) {*/
  /*    color: var(--clr-accent--1);*/
  /*}*/
  background: url("/assets/icons/codex-logo-green.svg") no-repeat;
  width: 10.4rem;
  height: 3.5rem;
}

.searchbar {
  height: 3rem;
  width: calc(100vw / 4);
  padding: 1rem;
  border-radius: 5rem;
}

.wrapper-search {
  max-width: 48.4rem;
  place-self: center;

  & #search {
  }

  & #search-results-page {
    display: flex;
    flex-direction: column;
    position: absolute;
    max-width: 48.4rem;
    gap: 1.2rem;
    top: 6rem;
    padding: 0 0 0.8rem 0;
    max-height: 52rem;
    overflow: auto;
    background: var(--clr-bg-2);
    border: 1px solid var(--clr-bg-4);
    justify-content: flex-start;
    align-items: center;
    box-shadow:
      rgb(0 0 0 / 23%) 0 3px 6px,
      rgb(0 0 0 / 35%) 0 3px 6px;
    z-index: var(--z-index-modal);
    width: 100%;

    /*& > div:first-child > :nth-of-type(div) > {*/
    /*  margin-top: 12rem;*/
    /*}*/

    /*& > div:last-child {*/
    /*  margin-top: 0;*/
    /*}*/

    & .solid {
      /*color: var(--clr-fg-4);*/
      width: calc(100% - 2.4rem);
    }

    & > *:not(hr),
    & #result-channels,
    & #result-users,
    & #result-posts {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      width: 100%;

      & .result-cards {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 0.2rem;
        padding: 0 0.8rem;

        & .result-card {
          position: relative;
          display: flex;
          flex-direction: row;
          gap: 0.8rem;
          padding: 1.2rem 1.2rem;
          border-radius: 0.4rem;

          & .profile-pic,
          .profile-pic--empty {
            border: 1px solid var(--clr-bg-4);
          }

          &:hover {
            background: var(--clr-bg-1);

            & .profile-pic,
            .profile-pic--empty {
              border: 1px solid var(--clr-bg-5);
            }
          }

          &.result-post {
            flex-direction: column;
            gap: 0.4rem;

            & p,
            small {
              max-width: 90ch;
              max-height: 8ch;
              text-overflow: ellipsis;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 2; /* Specify the number of lines */
              -webkit-box-orient: vertical;
            }
          }
        }
      }
    }
  }
}

/* ---- grid containers ---- */
.cont-grid-auto15rem {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  column-gap: 1rem;
  row-gap: 0.3rem;
}

.cont-grid-4x-10rem {
  display: grid;
  grid-template-columns: repeat(4, minmax(10rem, 1fr));
  column-gap: 1rem;
  row-gap: 0.3rem;
  /*& *:hover {*/
  /*  filter: invert(1) drop-shadow(0 0 0.35rem);*/
  /*  transition: filter var(--transition-dur-hover) var(--transition-type-hover)*/
  /*    0s;*/
  /*  cursor: alias;*/
  /*}*/
}

.grid-wrapper {
  columns: 4;
  margin: 2rem 0;
}

.grid-cell {
  height: 9.6rem;
  aspect-ratio: 16 / 9;
  text-align: center;
  margin: 0 auto 1.2rem auto;
  /*margin-block: 1.2rem;*/
  border: 3px dotted var(--clr-bg-3);
  border-radius: 1.2rem;
}

.grid-bullseye {
  justify-self: center;
  align-self: center;
}

/* ---- flex containers ---- */
.cont-flex-row {
  display: flex;
}

.drag-drop-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.main-content {
  display: flex;
  flex-grow: 1;
  /*gap     : 1.2rem;*/
}

.container-content {
  display: flex;
  flex-direction: row;
  gap: 4.8rem;
  width: 100%;
  padding: 0 4.8rem 4.8rem 4.8rem;
  justify-content: space-between;
  overflow: hidden;
  height: calc(100% - 6rem);
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
}

.cont-flex-column {
  display: flex;
  flex-direction: column;
}

.flex-align-c {
  display: flex;
  justify-content: center;
  column-gap: 1.2rem;
}

.flex-align-l {
  display: flex;
  column-gap: 1.2rem;
  justify-content: flex-start;
}

.flex-align-r {
  display: flex;
  column-gap: 1.2rem;
  justify-content: flex-end;
}

.post-channel-dropdown {
  /* width: 100%; */
  /* padding-inline: 3rem; */
}

.wrapper-dropdown {
  display: none;
}

.dropdown-toggle {
  border: 1px solid var(--clr-bg-3);
  padding: 0.4rem 0.8rem;
  border-radius: var(--border-radius-input);
  color: var(--clr-fg-1);
  &:hover {
    border: 1px solid var(--clr-accent--2);
  }
  &.active {
    background: var(--clr-accent--2);
    border: 1px solid var(--clr-accent--2);
  }
}

/*SECTION ----notifications ---*/
#notification-main {
  display: none;
  justify-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  /*top: 2rem;*/
  /*left: 50%;*/
  /*transform: translateX(-50%);*/
  z-index: var(--z-index-notification-main);
  align-content: center;
  justify-content: center;
  background: rgb(1 1 1 / 0.8);
  backdrop-filter: var(--blur-modal);
  transition: display 0.4s ease-in-out;

  & > div {
    padding: 0 2rem;
    margin: 6.4rem 0;
    height: fit-content;
    color: var(--clr-accent--1);
    background: var(--clr-dark--1);
    border: 2px solid var(--clr-accent--1);
    border-radius: var(--border-radius-button);
  }
}

/* SECTION ---- login window ---- */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: var(--z-index-modal);
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgb(0 0 0 / 0.6);
  backdrop-filter: var(--blur-modal);
  transition: display 0.4s ease-in-out;
}

.modal-content {
  container-type: size;
  position: relative;
  background-color: var(--clr-bg-2);
  margin: 15% auto;
  /* 15% from the top and centered */
  border: 1px solid var(--clr-bg-4);
  width: max(40dvw, 25.2rem);
  /* Could be more or less, depending on screen size */
  /*font-family: SpaceGrotesk-Regular, system-ui;*/
  font-size: clamp(1.2rem, 2.4rem + -0.3dvw, 2.4rem);
  /*position: absolute;*/
  padding: 0 2rem;
  min-height: 40rem;
  border-radius: 1.2rem;
  /*box-shadow: inset 0 .4rem 2rem .2rem rgba(0 0 0 / 0.4),*/
  /*0 -.4rem 1.8rem rgba(0 0 0 / 0.4);*/
  /* background: var(--clr-bg-4); */
  & form {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.2rem;
  }

  & > span:nth-of-type(1) {
    position: absolute;
    top: 0.2rem;
    right: 1.4rem;
  }
}

.modal-header {
  display: flex;
  justify-content: center;
  padding-block: 0 1.6rem;
  & > div {
    position: relative;
    font-size: 1.6rem;
    background: var(--clr-accent--2);
    color: var(--clr-light--1);
    padding: 0.9rem;
    border-radius: 0 0 1.2rem 1.2rem;
    &::before {
      content: "";
      position: absolute;
      left: -2rem;
      top: 0;
      height: 2rem;
      aspect-ratio: 1;
      background: transparent;
      border-radius: 0 1.2rem 0 0;
      box-shadow: 1rem 0 0 0 var(--clr-accent--2);
    }
    &::after {
      content: "";
      position: absolute;
      right: -2rem;
      top: 0;
      height: 2rem;
      aspect-ratio: 1;
      background: transparent;
      border-radius: 1.2rem 0 0 0;
      box-shadow: -1rem 0 0 0 var(--clr-accent--2);
    }
  }
}

/* The Close Button */
.close {
  color: var(--clr-fg-4);
  float: right;
  font-size: 2.8rem;
  font-weight: bold;
  transition: all var(--transition-dur-hover) ease-in-out;
}

.close:hover,
.close:focus {
  color: var(--clr--error);
  transform: rotate(-90deg);
  text-decoration: none;
  cursor: var(--cursor-pointer);
}

.form-title {
  font-size: clamp(1.2rem, 2rem + -0.4dvw, 2.4rem);
  color: var(--clr-fg-1);
  text-align: center;

  & span {
    text-transform: capitalize;
    word-spacing: -0.4rem;
  }
}

.form-container {
  width: 320px;
  border-radius: 0.75rem;
  background-color: rgba(17, 24, 39, 1);
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
  z-index: var(--z-index-form-container);
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group label {
  display: block;
  color: rgba(156, 163, 175, 1);
  margin-bottom: 4px;
}

.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgba(17, 24, 39, 1);
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
  border-color: rgba(167, 139, 250);
}

.remember-forgot {
  display: flex;
  width: min(80%, 25rem);
  font-size: 1.2rem;
  padding-block: 0.9rem 1.2rem;
  justify-content: space-between;
  @container (max-width: 33.35rem) {
    flex-direction: column;
    justify-content: center;
    padding-block: 0;
    row-gap: 0.4rem;
  }
}

.forgot {
  display: flex;
  place-content: center;
  justify-content: center;
  /* line-height: 1rem; */
  color: var(--clr-light--3);
  padding: 0 0.4rem 0 0;
}

.forgot a,
.signup a {
  color: rgba(243, 244, 246, 1);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover,
.signup a:hover {
  text-decoration: underline rgba(167, 139, 250, 1);
}
.signup {
  color: var(--clr-bg-5);
  & ~ div {
    column-gap: 0.8rem;
    font-size: 1.2rem;
    & button {
      color: var(--clr-fg-1);
    }
  }
  & ~ button {
    color: var(--clr-fg-1);
  }
}

.sign {
  display: block;
  width: 100%;
  background-color: rgba(167, 139, 250, 1);
  padding: 0.75rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0;
  background-color: lab(
    from var(--clr-fg-3) calc(l - 0) calc(a - 0) calc(b - 0) / 0.4
  );
}

.social-message .message {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: var(--clr-fg-3);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  border-radius: 0.12rem;
  padding: 0.8rem;
  border: none;
  background-color: transparent;
  margin-left: 0.8rem;
}

.social-icons .icon svg {
  height: 1.2rem;
  width: 1.2rem;
  fill: var(--clr-fg-1);
}

.reg-log {
  padding: 0.8rem 0 0 0;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  line-height: 1rem;
  column-gap: 0.8rem;
  color: rgba(156, 163, 175, 1);
  justify-content: center;
  align-items: center;
  & small {
  }
}

/* prevent special form element styling  */

.user-label {
  font-size: 0;
  color: var(--clr-bg-1);
  background: var(--clr-fg-2);
  border-radius: 1rem;
  padding: 0 0.4rem;
  /* margin: 0.4rem; */
  position: absolute;
  z-index: var(--z-index-user-label);
  /* top: 0.7rem; */
  /* left: 15rem; */
  transform: translate(0.8rem, -0.3rem);
  /*transition:*/
  /*  font-size var(--transition-dur-hover) ease-in-out,*/
  /*  color var(--transition-dur-hover) ease-in-out,*/
  /*  top var(--transition-dur-hover) ease-in-out,*/
  /*  left 300ms ease-in-out;*/
}

legend,
fieldset,
select,
textarea,
input,
button {
  background: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
}

textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"] {
  position: relative;
  margin-block: 0.4rem 0;
  border: 1px solid var(--clr-bg-4);
  font-size: 1.6rem;
  border-radius: var(--border-radius-input);
  padding: 0.4rem;
  height: auto;
  width: 100%;
  color: var(--clr-fg-2);
  &::placeholder {
    color: var(--clr-bg-4);
  }
  &:focus-visible {
    outline: none;
    border: 1px solid var(--clr-accent--2);
  }

  &:focus-visible::placeholder {
    color: transparent;
  }
}

textarea.inactive-input,
input[type="text"].inactive-input {
  pointer-events: none;
  color: var(--clr-fg-4);
  resize: none;
  height: fit-content;
}

input[type="file"] {
  padding: 0;
  margin-block-end: 0.8rem;
  & .button {
    background: hotpink;
    border-radius: var(--border-radius-button);
  }
}

.checkbox-visible {
  appearance: auto;
  align-self: start;
  margin-top: 0.4rem;
}

.checkbox-not-visible {
  display: none;
}

input[type="checkbox"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 1.6rem !important;
  aspect-ratio: 1/1;
  border: 2px solid var(--clr-accent--1);
  border-radius: 4px;
  background: var(--clr-bg-2);
  cursor: var(--cursor-pointer);
  position: relative;
  top: calc(50% - 1.2rem);
  &[id*="channel"] {
    top: calc(50% - 1.4rem);
  }

  &:checked {
    position: relative;
    background: var(--clr-accent--1);
    border-color: var(--clr-accent--1);

    &:after {
      position: absolute;
      width: 1rem;
      aspect-ratio: 1/1;
      top: 50%;
      left: 50%;
      content: "";
      background: url("/assets/images/check.svg") center/contain no-repeat;
      transform: translate(-50%, -50%);
    }
  }
}

/* TODO use @starting-style to achieve this */
.user-interacted > * {
  &:focus-visible ~ label {
    /* flex-basis: auto; */
    /* position: absolute; */
    /*background: var(--clr-accent--2);*/
    /*left: 1rem;*/
    /*font-size: 1rem;*/
    /*top: 0;*/
    animation: form-label 300ms ease-in-out forwards;
  }

  /*TODO prevent this happening on form popop */
  &:not(focus-visible) ~ label {
    animation: form-label-back 300ms ease-in-out forwards;
  }
}

@keyframes form-label {
  0% {
    font-size: 0;
    background: var(--clr-fg-2);
    top: 0.7rem;
    left: 15rem;
  }

  20% {
    font-size: 1rem;
    background: var(--clr-accent--2);
    top: 0;
  }

  100% {
    background: var(--clr-accent--2);
    left: 1rem;
    font-size: 1rem;
    top: 0;
  }
}

@keyframes form-label-back {
  100% {
    font-size: 0;
    background: var(--clr-fg-2);
    top: 0.7rem;
    left: 15rem;
  }

  80% {
    font-size: 1rem;
    background: var(--clr-accent--2);
    top: 0;
  }

  0% {
    background: var(--clr-accent--2);
    left: 1rem;
    font-size: 1rem;
    top: 0;
  }
}

/* reply with a comment form styling */

.form-reply {
  width: 100%;
  display: none;

  &.replying {
    display: flex;
    & > div > div {
      display: block;
    }
  }
  & > * {
    gap: 1.2rem;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    align-content: flex-end;
  }
}
/* --- login and registration form styling --- */
.popover-title {
  font-size: var(--font-sz-popover-title);
  margin-inline: auto;
  padding-block: 0.8rem;
  height: 2rem;
  text-align: center;
}
.input-wrapper {
  width: 100%;
  &:has(.input-3d) {
    width: min(80%, 25rem);
  }
  position: relative;

  &.container-reply,
  &.edit-wrapper {
    display: none;
    width: 100%;
    max-width: calc(100% - 1.2rem - 11rem);
    font-size: 1.2rem;
    /*padding: 0.8rem 1.2rem;*/

    &:has(.editing) {
      display: block;
    }
    & textarea {
      resize: none;
      overflow: hidden;
      field-sizing: content;
      max-width: 100%;
      min-height: 5rem;
      max-height: 30rem;
    }
  }
}

#form-login,
#form-edit-user {
  &input {
    margin: 0.8rem auto;
  }
  margin-block-start: 2rem;
  height: auto;
}

.logreg-form {
  /* margin-block: auto; */
  padding-block: 0 1.6rem;
}
#resetForm {
  & .form-title {
    font-size: clamp(1.2rem, 1.2rem + 0.4vw, 1.6rem);
    width: min(80%, 25rem);
  }
}

#form-register {
  /*textarea {*/
  /*  min-width: 100%;*/
  /*}*/
  position: relative;

  & input {
    /*margin: 0.8rem 0 0 0;*/
  }

  & .validation-icon::before {
    display: flex;
    content: "";
    position: absolute;
    right: 0.4rem;
    top: 50%;
    transform: translateY(-50%);
    height: 1.6rem;
    width: 1.6rem;
    background: url("/assets/icons/form-grey.svg");
  }

  & .pass-nomatch,
  input#register_user:user-invalid {
    & ~ .validation-tooltip {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      /*color: var(--color-inv-input);*/
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: var(--clr-bg-1);
        width: 1.2rem;
        aspect-ratio: 1;
        clip-path: polygon(0 0, 100% 0, 50% 100%);
      }

      &::before {
        display: block;
        height: fit-content;
        opacity: 1;

        @starting-style {
          opacity: 0;
        }

        width: max-content;
        position: absolute;
        bottom: 1.2rem;
        left: 50%;
        transform: translateX(-50%);
        padding: 0.8rem;
        /* text-align    : justify; */
        background: var(--clr-bg-1);
        font-family: SpaceGrotesk-Regular, system-ui;
        font-size: clamp(0.8rem, 1.4rem + -0.3dvw, 1.2rem);
        border-radius: var(--border-radius-input);
        /* border        : 1px solid var(
        --clr-bg-5); */
        z-index: 1;
        transition: opacity var(--transition-dur-hover) ease-in-out;
      }
    }
  }

  & input:valid,
  /* TODO get code under working */
  /*& input:not(:placeholder-shown):valid,*/
  .pass-match {
    color: var(--clr-accent--1);
    border-color: var(--clr-accent--1);

    & ~ .validation-icon::before {
      background: url("/assets/icons/form-success.svg") no-repeat;
    }

    & ~ label {
      background: var(--clr-accent--1);
    }
  }

  & input:user-invalid,
  /* TODO get code under working */
  /*& input:not(:placeholder-shown):invalid,*/
  .pass-nomatch {
    color: var(--clr--error);
    border-color: var(--clr--error);

    & ~ .validation-icon::before {
      background: url("/assets/icons/form-error.svg") no-repeat;
    }

    & ~ label {
      background: var(--clr--error);
    }
  }
}

.pass-nomatch {
  & ~ .validation-tooltip::before {
    content: "passwords do not match";
  }
}

input#register_user:user-invalid {
  & ~ .validation-tooltip::before {
    content: "username must have 5 or more characters";
  }
}

.validation-list {
  pointer-events: none;
  position: relative;
  left: 2.8rem;
  height: 0;
  width: 21rem;
  z-index: 1;
  font-size: var(--font-sz-main);
  transition: height 1s ease-in-out;
  list-style-image: url("/assets/icons/form-grey.svg");

  .li-valid {
    list-style-image: url("/assets/icons/form-success.svg");
  }

  .li-invalid {
    list-style-image: url("/assets/icons/form-error.svg");
  }

  & li {
    opacity: 0;
    line-height: 1.6rem;
  }

  & li:nth-of-type(1) {
    transition-delay: var(--delay-1);
  }

  & li:nth-of-type(2) {
    transition-delay: var(--delay-2);
  }

  & li:nth-of-type(3) {
    transition-delay: var(--delay-3);
  }

  & li:nth-of-type(4) {
    transition-delay: var(--delay-4);
  }
}

.ul-forwards {
  & li {
    transition: opacity 0.6s ease-in-out;
  }

  --delay-1: 0.2s;
  --delay-2: 0.4s;
  --delay-3: 0.55s;
  --delay-4: 0.65s;
}

.ul-reverse {
  & li {
    transition: opacity 0.4s ease-in-out;
  }

  --delay-1: 0.3s;
  --delay-2: 0.2s;
  --delay-3: 0.1s;
  --delay-4: 0;
}

#register_password:focus-visible {
  & ~ .validation-list {
    height: fit-content;

    @starting-style {
      height: 0;
    }

    /*transform: translateX(-50%) translateY(-150%);*/
    & li {
      opacity: 1;
    }
  }
}

/*input[type="password"]:user-invalid {*/
/*  & + span + .validation-tooltip::before {*/
/*    display: block;*/
/*    content: 'password must contain at least one number and one uppercase and lowercase letter, and 8 or more characters';*/
/*    height: fit-content;*/
/*    width: 19rem;*/
/*    transform: translateX(-50%) translateY(-150%);*/
/*  }*/
/*}*/

/*select {*/
/*    background: url("/assets/images/down-arrow.svg") no-repeat center right 0.75rem;*/
/*}*/

.wrapper-main {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.gradient {
  min-height: 100svh;
  background: var(--grad-main-rad);
}

/*--- post popover and buttons --- */
.btn-post {
  anchor-name: --post-button;
}

.btn-channel {
  anchor-name: --channel-button;
}

.btn-join-channel {
  anchor-name: --join-channel-button;
}

#right-panel-container-rules {
  anchor-name: --edit-channel-rules-button;
  position: relative;
}

#form-post,
#form-channel,
#form-join-channel,
#form-edit-channel-rules {
  position: fixed;
  inset: auto;
  margin: 0;
  /*padding: 2rem;*/
  font-size: 1.5rem;
  background: var(--clr-bg-2);
  color: var(--clr-fg-2);
  margin-block-start: 0.8rem;
  border: 1px solid var(--clr-bg-3);
  border-radius: 1rem;
  box-shadow:
    rgb(0 0 0 / 16%) 0 3px 6px,
    rgb(0 0 0 / 23%) 0 3px 6px;
  max-width: 22dvw;
  max-height: 90dvh;
  opacity: 0;
  overflow: hidden;
  transition:
    display var(--transition-dur-feeds),
    opacity var(--transition-dur-feeds);

  &:popover-open {
    display: flex;
    opacity: 1;
    flex-direction: column;

    @starting-style {
      opacity: 0;
    }
  }

  & select {
    margin-inline: auto;
    width: 90%;
    padding: 0.4rem 0.4rem 0.4rem 1.2rem;
    border: 1px solid var(--clr-bg-3);
    border-radius: var(--btn-radius);
  }

  & input {
    /* margin: 0.8rem 0; */
    /* width: max-content; */
  }

  & textarea {
    overflow: visible;
    padding: 0.4rem;
    resize: both;
    font-size: var(--font-sz-cards);
    width: 100%;
    max-width: 100%;
  }
}

#form-post {
  top: 5rem;
  right: 15rem;
  position-anchor: --post-button;
  top: anchor(bottom);
  right: anchor(right);
}

#form-channel {
  top: 15rem;
  right: 5rem;
  position-anchor: --channel-button;
  bottom: anchor(bottom);
  left: anchor(right);
}

#form-join-channel {
  top: 15rem;
  right: 5rem;
  position-anchor: --join-channel-button;
  bottom: anchor(bottom);
  right: anchor(left);
}

#form-edit-channel-rules {
  top: 15rem;
  right: 5rem;
  position-anchor: --edit-channel-rules-button;
  bottom: anchor(top);
  right: anchor(left);
}

#rules-wrapper {
  & span {
    font-size: 1.2rem;
    color: var(--clr-fg-3);
  }
}

// TODO does this need a var(--cursor-default)?
[id^="edit-channel-rules-title-rules-"] {
  font-size: 1.6rem;
  cursor: default;
}
#edit-channel-rules-title-rules-existing {
  color: var(--clr-accent--2);
}
#edit-channel-rules-title-rules-added {
  color: var(--clr-accent--1);
}
#edit-channel-rules-title-rules-removed {
  color: var(--clr--error);
}
[id^="rules-wrapper"] {
  & span,
  & li {
    font-size: 1.2rem;
  }
}
#rules-wrapper-existing span {
  &:hover {
    color: var(--clr--error);
    cursor: var(--cursor-minus);
  }
}
#rules-wrapper-added span,
#rules-wrapper-removed span {
  &:hover {
    color: var(--clr-accent--1);
    cursor: var(--cursor-plus);
  }
}
#rules-wrapper-removed {
  &:hover {
    cursor: cell;
  }
}
#wrapper-edit-channel-rules-added:has(#rules-wrapper-added:empty),
#wrapper-edit-channel-rules-removed:has(#rules-wrapper-removed:empty) {
  display: none;
}

.container-join-rules {
  width: 100%;
  /* display: none; */
  overflow: auto;
  height: fit-content;
  max-height: 22rem;
  transition: display var(--transition-dur-appear) ease-in-out;
}

.text-join-channel,
.text-join-private {
  font-size: 1.2rem;
  width: min(40ch, 85%);
  margin-block: 0.8rem 0.4rem;
  margin-inline: auto;
  padding: 0.4rem 1.2rem;
}

.text-join-channel {
  border-block-start: 1px dashed var(--clr-dark--6);
}

.text-join-private {
  --b: 2px; /* border thickness */
  --s: 10px; /* size of the dashes */
  --t: 25px; /* size of the dashes */
  --c1: var(--clr-accent--2--2);
  --c2: var(--clr-accent--2-1);
  position: relative;
  background: var(--clr-accent--2-faded);
  /* border: 1px dashed var(--clr-accent--pink); */
  border-radius: 0.8rem;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0.8rem;
    padding: var(--b);
    background: repeating-conic-gradient(var(--c1) 0 25%, var(--c2) 0 50%) 0 0 /
      var(--s) var(--s) round;
    -webkit-mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

.wrapper-form,
.share-container {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  gap: 0.4rem;
  & > label,
  & > p {
    margin: 0 0 -0.8rem 0.8rem;
  }
}

.wrapper-form {
  width: 100%;
  align-items: center;
}

.share-container {
  /* flex-direction: column; */
  padding: 1.6rem;
  background: var(--clr-bg-2);
  border-radius: 1rem;
  border: 1px solid var(--clr-bg-3);
  box-shadow:
    rgb(0 0 0 / 16%) 0 3px 6px,
    rgb(0 0 0 / 23%) 0 3px 6px;
}

[id^="share-button-"] {
}

[id^="share-container-"] {
  background: none;
  border: none;
  padding: 2.4rem;
  z-index: var(--z-index-share-container);

  & label {
    transition: all var(--transition-dur-hover) ease-in-out;
    cursor: var(--cursor-pointer);
  }

  & input {
    transition: all var(--transition-dur-hover) ease-in-out;
    margin-top: -1rem;
  }

  &:popover-open {
    z-index: calc(var(--z-index-share-container) - 1000);
  }

  &::backdrop {
    z-index: calc(var(--z-index-share-container) - 1);
  }
}

/*--- drag and drop file --- */
[id^="drop-zone"] {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10.5rem;
  margin-block: 0.4rem 0;
  padding: 0 1.2rem;
  font-size: var(--font-sz-cards);
  background: var(--clr-bg-3);
  border: 2px dashed var(--clr-bg-5);
  border-radius: var(--border-radius-input);
  z-index: var(--z-index-drop-zone);
  flex-wrap: nowrap;
  justify-content: flex-end;

  &::before {
    filter: var(--filter-invert-on_off);
    content: "";
    position: absolute;
    top: 1.2rem;
    height: 2rem;
    width: 100%;
    background: var(--svg-upload) no-repeat center;
  }

  &:active {
    border: 0;
    background: var(--clr-bg-5);
  }

  &.dropped {
    background: var(--clr-bg-2);
  }

  & span {
    /*padding: 0.5rem 0;*/
    /*color: var(--clr-fg-1);*/
  }

  & .button {
    padding: 0.5rem 0.5rem;
    color: #5074b5;
    cursor: var(--cursor-pointer);
  }

  & p a:hover {
    color: var(--clr-secondary--hover);
  }

  & input {
    cursor: var(--cursor-pointer);
  }
}

/*#drop-zone.active {*/
/*  border: 0;*/
/*  background: var(--clr-bg-5);*/
/*}*/
/*#drop-zone.dropped {*/
/*  background: var(--clr-bg-2);*/
/*}*/
/*#drop-zone span {*/
/*  padding: 0.5rem 0;*/
/*  color: var(--clr-fg-1);*/
/*}*/
/*#drop-zone .button {*/
/*  padding: 0.5rem 0.5rem;*/
/*  color: #5074b5;*/
/*  cursor: pointer;*/
/*}*/
/*#drop-zone p a:hover {*/
/*  color: var(--clr-secondary--hover);*/
/*}*/
/*#drop-zone input {*/
/*  cursor: pointer;*/
/*}*/
.dragText,
[id^="browse"] {
  /* padding: 0.5rem 0; */
  color: var(--clr-light--1);
}

[id^="browse"] {
  background: var(--clr-accent--2);
  border-radius: var(--border-radius-button);
  width: 85%;
}

[id^="uploadedFile"] {
  display: grid;
  color: var(--clr-fg-1);
}

.uploaded-file {
  font-size: var(--font-sz-main);
  padding: 0.5rem 2rem;
  color: var(--clr-bg-2);
  background: var(--clr-accent--1);
  border: 1px dashed var(--clr-accent--2);
}

/* --- Sidebar.--- */

@media (max-width: 75rem) {
  .sidebar {
    display: none;
  }
}

@media (min-width: 75.1rem) {
  .sidebar {
    display: flex;
    max-width: 32rem;
    min-width: 32rem;
  }
}

@media (min-width: 75.1rem) and (max-width: 100rem) {
  .sidebar {
    max-width: 28rem;
    min-width: 28rem;
  }
}

.sidebar {
  flex-direction: column;
  height: calc(100dvh - 6rem);
  padding: 2.4rem 0;
  gap: 1.2rem;
  background: var(--clr-bg-2);
  font-family: SpaceGrotesk-Regular, system-ui;
  border-right: 1px solid var(--clr-bg-3);
}

/* sidebar separators */

hr.solid {
  /*width         : calc(100% - 2.4rem);*/
  align-self: center;
  border: none;
  background-color: var(--clr-bg-5);
  /* hardcoded as works for both */
  height: 0.2rem;
  border-radius: 0.3rem;
}

.sidebarProfile,
.page-profile {
  display: flex;
  &:not(.page-profile) {
    padding: 0 1.2rem;
  }

  & > div:nth-child(2) {
    display: flex;
    width: max-content;
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 1rem;

    & > div {
      display: flex;
      flex-direction: row;
      gap: unset;
      align-self: baseline;
    }
  }
}

.page-profile {
  --before-trans: translatey(-35%);
}

.sidebar-pic {
  width: 6rem;
  height: 6rem;
  flex-shrink: 0;
  border-radius: 6rem;
  align-self: center;

  &.user-page-pic {
    width: 8rem;
    height: 8rem;
    border-radius: 8rem;
  }
}

.sidebar-block {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  padding: 1.8rem 0;

  &:last-of-type {
    padding-bottom: 5.2rem;
  }
}

.sidebar-scroll {
  padding: 0 1.2rem;
}

.sidebar-option {
  display: flex;
  font-size: 1.6rem;
  padding: 0.8rem 1.2rem 0.8rem 4.8rem;
  height: 4.8rem;
  align-items: center;
  border-radius: var(--border-radius-input);
  transition: background var(--transition-dur-hover)
    var(--transition-type-hover) 0s;
  cursor: var(--cursor-pointer);

  &:hover,
  &:active {
    background: var(--clr-bg-3);

    & > label {
      border: 0.2rem solid var(--clr-secondary--border-hover);
    }
  }

  &::before {
    filter: var(--filter-invert-on_off) !important;
    position: absolute;
    left: 1.2rem;
    top: 50%;
    transform: translate(0, -45%);
    height: 2.4rem;
    width: 2.4rem;
  }
}

.sidebar-options-list {
  position: relative;
  left: 5rem;
  top: -0.3rem;
  height: 0;
  width: 21rem;
  z-index: var(--z-index-sidebar-options-list);
  font-size: var(--font-sz-main);
  transition: height 1s ease-in-out;
  list-style: none;

  & li {
    font-size: 1.2rem;
    opacity: 0;
    line-height: 2rem;
    /* background: darkred; */
    width: max-content;
    padding: 0.2rem 0.8rem;
    margin-block-end: 0.6rem;
    border-radius: var(--btn-radius);

    &:hover {
      background: var(--clr-accent--2);
      cursor: var(--cursor-pointer);
      transition: all var(--transition-dur-hover) var(--transition-type-hover)
        0s;
    }
  }

  & li:nth-of-type(1) {
    transition-delay: var(--delay-1);
  }

  & li:nth-of-type(2) {
    transition-delay: var(--delay-2);
  }

  & li:nth-of-type(3) {
    transition-delay: var(--delay-3);
  }

  & li:nth-of-type(4) {
    transition-delay: var(--delay-4);

    &:hover {
      background: var(--clr--error);
    }
  }
}

.sidebar-options-reveal {
  height: fit-content;

  @starting-style {
    height: 0;
  }

  /*transform: translateX(-50%) translateY(-150%);*/
  & li {
    opacity: 1;
  }
}

.flex-center,
.flex-space-between,
.flex-space-around,
.flex-start,
.flex-end {
  display: flex;
  align-items: center;
}

.flex-center {
  justify-content: center !important;
  column-gap: 1.2rem;
}

.flex-space-between {
  justify-content: space-between !important;

  & label {
    font-family: SpaceGrotesk-Regular, system-ui;
    font-size: 1.2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;

    &.padded {
      align-content: center;
      height: 3.2rem;
    }
  }
}

.padded {
  padding: 0 1.2rem;
}
.padded-left {
  padding: 0 0 0 1.2rem;
}

.flex-space-around {
  justify-content: space-around !important;
}

.flex-start {
  justify-content: flex-start !important;
}

.flex-end {
  justify-content: flex-end !important;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.margin-auto-0 {
  margin-inline: auto 0;
}

.margin-0-auto {
  margin-inline: 0 auto;
}

/* ------ sidebar icons ------ */

.home {
  position: relative;

  &::before {
    content: url("/assets/icons/home_24.svg");
  }
}

.darkMode {
  position: relative;

  &::before {
    content: url("/assets/icons/moon_24.svg");
  }
}

.settings {
  position: relative;

  &::before {
    content: url("/assets/icons/settings_24.svg");
  }
}

.login {
  position: relative;

  &::before {
    content: url("/assets/icons/login_24.svg");
  }
}

.logout {
  position: relative;

  &::before {
    content: url("/assets/icons/logout_24.svg");
  }
}

#sidebar-channel-block,
.side-panel-block {
  font-size: 1.6rem;
  padding: 0 1.2rem;
  gap: 1.2rem;
  background: var(--clr-bg-1);
  border-radius: var(--border-radius-input);

  & article {
    font-size: 1.2rem;
    padding: 1.2rem 0;
  }
}

.sidebar-channel {
  position: relative;
  border-radius: var(--border-radius-input);
  margin: 1.2rem 0;
  transition: background var(--transition-dur-hover)
    var(--transition-type-hover) 0s;
  z-index: var(--z-index-sidebar-channel);

  &:hover,
  &:active {
    background: var(--clr-bg-2);
  }

  /*&:hover::before {*/
  /*  content: "";*/
  /*  position: absolute;*/
  /*  bottom: 5.1rem;*/
  /*  left: 50%;*/
  /*  transform: translateX(-50%);*/
  /*  background: var(--clr-bg-3);*/
  /*  width: 1.2rem;*/
  /*  aspect-ratio: 1;*/
  /*  clip-path: polygon(0 0,100% 0,50% 100%);*/
  /*}*/
  /*&:hover::after {*/
  /*  position: absolute;*/
  /*  bottom: 6.3rem;*/
  /*  left: 50%;*/
  /*  width: max-content;);););););*/
  /*  transform: translateX(-50%);*/
  /*  content: attr(data-desc-channel);*/
  /*  font-size: 1.2rem;*/
  /*  background: var(--clr-bg-3);*/
  /*  padding: .8rem;*/
  /*  border-radius: var(--border-radius-input);*/
  /*  !* TODO make this transition work *!*/
  /*  !*transition: all 4000ms ease-in-out;*!*/
  /*}*/
}

.container-channel-info {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  padding: 0.8rem 1.2rem;
  column-gap: 1.2rem;
  justify-content: flex-start;
  cursor: var(--cursor-pointer);
  --before-trans: translatey(-47%);

  & div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
    text-transform: capitalize;
    word-spacing: -0.3rem;

    & div:nth-of-type(2) {
      display: flex;
    }
  }
  & div:nth-of-type(2) {
    /* margin-inline-start: auto; */
    z-index: 100;
  }
}

.sidebar-channel-ul {
  font-size: 1.2rem;
  padding: 1.2rem 0 1.2rem 2rem;

  & li {
    list-style-image: url("/assets/icons/bulletpoint.svg");
  }
}

.private-channel {
  position: relative;

  &::after {
    content: "private";
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    right: 0.1rem;
    height: 1.6rem;
    /*width : 2.4rem;*/
    /*aspect-ratio: 1 / 1;*/
    padding: 0 0.4rem;
    background: transparent;
    color: var(--clr-accent--1);
    font-size: 0.8rem;
    border: 1px solid var(--clr-accent--1);
    z-index: 2;
  }
}

.channel-users {
  position: relative;
  padding-left: 2rem;

  &::before {
    content: url("/assets/icons/users_16.svg");
    font-size: 2.8rem;
    position: absolute;
    left: 0;
    top: 0.4rem;
    transform: var(--before-trans);
  }
}

.channel-green-dot {
  position: relative;
  padding-left: 2.8rem;

  &::before {
    content: "•";
    color: var(--clr-accent--1);
    font-size: 2.8rem;
    position: absolute;
    left: 1.6rem;
    top: 0.4rem;
    transform: var(--before-trans);
  }
}

main {
  position: relative;
  display: flex;
  flex-direction: row;
  /*flex-grow: 1;*/
  width: 100%;
  overflow: hidden;
  margin: 0;
  height: 100dvh;
}

.feeds-wrapper {
  /*position: absolute;*/
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 1s;
}
/*.feeds-wrapper-loaded {*/
/*  opacity: 1;*/
/*}*/

.activity-items {
  color: var(--clr-light--1);
  border-radius: 1.1rem;
  margin: 1.2rem 0 0 0.8rem;
  padding: 0.2rem 0.8rem;
  width: fit-content;
}

.activity {
  background: var(--clr--error);
}

.comments {
  background: var(--clr-accent--blue);
}

.comment-header--count {
  counter-reset: comment;
  background: var(--clr-bg-2);
  border-radius: var(--border-radius-input);
  width: fit-content;
  padding: 1.2rem;
  & h3 {
    font-size: 1.4rem;
    margin-block-end: 0.2rem;
  }
}

.comment-list {
  background: var(--clr-bg-3);
  border-radius: var(--border-radius-input);
  border: 1px solid var(--clr-bg-4);
  padding: 0.3rem 0.5rem;
  font-size: 1.2rem;
}

.comment--count::before {
  counter-increment: comment;
  content: counter(comment);
}

.saved {
  background: var(--clr-accent--orange);
}

.muted {
  background: var(--clr-accent--yellow);
  color: var(--clr-dark--1);
}

.reactions {
  background: var(--clr-accent--2);
}

#home-page {
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
  flex: 1 0 0;
  align-self: stretch;
  height: 100%;
  padding: 3.2rem 0 0 0;

  &.active-feed {
    display: flex;
    opacity: 1;
  }
}

#error-400,
#error-500 {
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;

  flex: 1 0 0;
  align-self: stretch;
  height: 100%;
  padding: 3.2rem 6.8rem 0 0;

  &.active-feed {
    display: flex;
    opacity: 1;
  }

  & .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;

    & button {
      margin-top: 2rem;
    }
  }
}

#error-400 .content,
#error-500 .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  padding: 0 21.6rem 0 0;
  width: 100%;

  & button {
    margin-top: 2rem;
  }
}

#home-feed {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  width: 100%;
}

.button-row-homepage {
  background: transparent;
  position: absolute;
  top: 0;
  margin: 0.4rem 0.8rem;
}

#homepage-feed-mask-container {
  position: absolute;
  background: limegreen;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100% !important;
  pointer-events: none;
}

/*.feed-content-homepage {*/
/*  margin: 0;*/
/*  mask: url('#homepage-feed-mask');*/
/*}*/
.scrollable {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: top;
  -webkit-mask-position: top;
  /*padding: 6.2rem 0 0 0;*/
  /*margin: 1rem 0 0 0;*/
}

.scrollable-home,
.scrollable-channel {
  mask-image: url(#homepage-feed-mask);
  /* For modern browsers */
  -webkit-mask-image: url(#homepage-feed-mask);
  /* For WebKit browsers */
  padding: 0 1.2rem;
  margin: 6rem 0 0 0;
}

.scrollable-channel {
  margin: 0;
}

/* .scrollable-user {
   -webkit-mask-image: url(#userpage-feed-mask);
   /* For WebKit browsers
   mask-image: url(#userpage-feed-mask);
   /* For modern browsers
} */

.noborder {
  border: none;
}

.card {
  &:not(.calendar, .date) {
    display: flex;
  }

  flex-direction: column;
  gap: 1.2rem;
  width: fit-content;
  max-width: 60rem;
  color: var(--clr-fg-1);
  background: var(--clr-bg-2);
  border: 1px solid var(--clr-bg-3);
  border-radius: var(--border-radius-input);
  padding: 1.2rem;
  margin-bottom: 1.2rem;
  /* box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.20); */
  box-shadow:
    rgba(0, 0, 0, 0.16) 0 3px 6px,
    rgba(0, 0, 0, 0.23) 0 3px 6px;
  /* z-index: 100; a positive z-index breaks the before */
}

.container-card-down {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
  padding: 1.2rem 0 2.4rem 0;
  margin-top: -1.2rem;
  max-width: 80rem;
}
.container-card-across {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
}

.reply-arrow {
  width: 1.6rem;
  height: 1.6rem;
  background: url("/assets/icons/arrow-right-white_16.svg") no-repeat center;
  &:first-of-type {
    background: url("/assets/icons/reply_arrow_16.svg") no-repeat center;
  }
}
@keyframes glow-breathe {
  0%,
  25%,
  100% {
    --color-ratio: 0%;
  }

  35%,
  75% {
    --color-ratio: 100%;
  }
}

.container-post-info,
.container-comment-info {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;

  /* post inner container */

  & div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    /* post below-author container */

    & div {
      display: flex;
      flex-direction: unset;
      gap: 0.3rem;

      & small:first-of-type {
        position: relative;
        padding: 0 0 0 1.6rem;

        &::before {
          position: absolute;
          top: -0.3rem;
          left: 0;
          content: url("/assets/icons/reply_arrow_16.svg");
          filter: var(--filter-invert-on_off);
        }
      }
    }
  }

  & .like-button {
    width: 2.4rem;
    aspect-ratio: 1 / 1;
    margin-inline-start: auto;
    background: url("/assets/icons/heart-empty_24.svg") no-repeat center;

    &:hover {
      background: url("/assets/icons/heart-full_24.svg") no-repeat center;
    }
  }
}

.card-pic {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 24px;
  /*background: url(/assets/images/profile.png) lightgray 50% / cover no-repeat;*/
}

.cardTitle {
  font-size: 2ch;
}

.cardAuthor {
  font-size: 1.3ch;
}

.cardChannel {
  font-size: 1.3ch;
}

.cardDate {
  font-size: 0.8ch;
}

.cardContent,
.cardContent--full {
  --line-clamp: 3;
  --line-height: 1.5em;
  font-family: SpaceGrotesk-Variable, system-ui;
  font-size: 1.2rem;
  width: min(70ch, 90%);
  line-height: var(--line-height);
  hyphens: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-line;
}

.cardContent {
  display: -webkit-box;
  /* Required for the ellipsis */
  -webkit-box-orient: vertical;
  /* Specify vertical orientation */
  overflow: clip;
  /* Hide the overflowing text */
  text-overflow: ellipsis;
  /* Add the ellipsis */
  -webkit-line-clamp: var(--line-clamp);
  line-clamp: var(--line-clamp);
  /* Limit to 3 visible lines */
  /* Adjust the line height */
  max-height: calc(var(--line-height) * var(--line-clamp));
  /* Set max height to match 3 lines */
}

.cardContent--full {
}

.title {
  font-size: 3ch;
  margin: 0.5ch;
  text-align: center;
}

/* -------- buttons -------- */

.button-row,
.button-row-wrap,
.page-buttons {
  display: flex;
  padding: 1.2rem 0;
  column-gap: 1.2rem;
  row-gap: 0.8rem;
}

.button-row-wrap {
  flex-wrap: wrap;
}

.above-posts {
  /*position   : absolute;*/
  background: var(--clr-bg-1);
  background: transparent;
  width: calc(100vw - 3rem - 1.2rem - 32rem);
  /*z-index: var(--z-index-above);*/
}

.above-activity {
  position: sticky;
  width: 100%;
  /*z-index: var(--z-index-above);*/
}

.post-controls {
  position: relative;
}

.right-panel {
  /* display: none; */
  position: relative;
  /* Height of right panel equal to the screen size - 9.6rem padding (4.8rem top and bottom) */
  height: calc(100dvh - 9.6rem);
  & .right-panel-content {
    /* position: sticky; */
    width: 28rem;
    height: auto;
    max-height: calc(100dvh - 20rem - 9.6rem - 2.4rem);
    background: var(--clr-bg-2);
    border: 1px solid var(--clr-bg-3);
    border-radius: var(--border-radius-input);
    z-index: var(--z-index-right-panel-content);
    display: flex;
    padding: 0.8rem 1.2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.2rem;
    align-self: stretch;

    & form {
      width: 100%;
      display: flex;
      flex-flow: column;
      gap: 1.2rem;
    }

    & > div {
      width: 100%;

      & > .sidebar-block {
        padding: 0.4rem 0;
      }
    }

    & .right-panel-container-name {
      & .right-panel-name {
        /* height: 3.2rem; */
        align-items: center;
        overflow: clip;
        text-transform: capitalize;
        word-spacing: -1rem;
        color: var(--clr-fg-1);
        text-overflow: ellipsis;
      }
    }

    & .right-panel-container-bio,
    & #right-panel-container-rules {
      & label {
        font-family: SpaceGrotesk-Regular, system-ui;
        font-size: 1.2rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
      }
    }

    & .right-panel-container-pic {
      display: flex;
      gap: 1.2rem;
      align-items: center;

      & .right-panel-pic {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        border-radius: 60px;
        /*background: url(/assets/images/profile.png) lightgray 50% / cover no-repeat;*/
      }
    }
  }
}

.edit-settings {
  display: flex;
  gap: 0;
  & button:has(.btn-success),
  & button:has(.btn-cancel) {
    display: none;
  }
  & button:has(.btn-edit) {
    display: flex;
  }
  &.editing {
    & button:has(.btn-success),
    & button:has(.btn-cancel) {
      display: flex;
    }
    & button:has(.btn-edit) {
      display: none;
    }
  }
}

.scroll-down {
  overflow-y: auto;
  overflow-x: hidden;

  &.sidebar-scroll {
    height: auto;
    min-height: calc(100dvh - 10.2rem - 6rem);
  }

  &::-webkit-scrollbar {
    width: 0.8rem;
    height: 0.8rem;
  }

  &::-webkit-scrollbar-track {
    margin: 0.4rem;
    width: 0.8rem;
    height: 0.8rem;
    background: var(--clr-bg-1);
    border-radius: 2.4rem;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--clr-bg-3);
    border-radius: 2.4rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--clr-bg-4);
  }
}

.scroll-down--nobar {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  &::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
  }
}

/* ---- animations ---- */
@keyframes border-fade {
  100% {
    /*border: .15rem solid transparent;*/
    background: var(--clr-accent--2);
  }
}

@keyframes text-refresh {
  20%,
  80% {
    transform: rotate3d(-1, 0, 0, 90deg);
  }

  60% {
    filter: invert(1) brightness(1.2);
    color: var(--clr-light-1);
  }
}

@keyframes fill-fade {
  80% {
    filter: opacity(100%);
  }

  100% {
    filter: opacity(0%);
  }
}

@keyframes image-invert {
  45% {
    filter: invert(0);
  }

  50% {
    filter: invert(1);
  }
}

@keyframes text-invert {
  45% {
    color: var(--clr-dark--1);
  }

  50% {
    color: var(--clr-light--1);
  }
}
