{{ define "channel-join-popover" }}
<div popover id="form-join-channel">
  <form action="/channels/join" class="wrapper-form" method="POST">
    <h5 id="join-channel-title" class="form-title">join <span>/{{ .ThisChannel.Name }}</span></h5>
    <span id="join-agree" class="text-join-channel">check the agree checkbox to agree to the <span id="showRules-channel-{{ .ThisChannel.ID }}" class="link">rules</span> of this channel</span>
    <div id="rulesContainer-channel-{{ .ThisChannel.ID }}" class="side-panel-block hidden" style="width: 100%">
      <ul class="sidebar-channel-ul">
        {{ range .ThisChannel.Rules }}
        <li>{{ .Rule }}</li>
        {{ end }}
      </ul>
    </div>
    <div class="cont-flex-row flex-center">
      <label class="allow-comments">
        <input id="join-channel-id" type="hidden" value="{{ .ThisChannel.ID }}" name="channelId" />
        <input type="checkbox" id="rules-agree-checkbox" name="agree" required/>
        <span class="allow-comments-fx"></span>
{{/*              <span class="darklight-border"></span> */}}
      </label>
      <label for="rules-agree-checkbox" class="cursor-pointer">agree</label>
    </div>
    {{ if (eq .ThisChannel.Privacy true) }}
    <span class="text-join-channel">this channel is private. Your request will be sent to the moderators for approval.</span>
    {{ end }}
{{/*FIXME ---------- fix these buttons ----------*/}}
    <div class="cont-flex-row flex-center">
      <button id="join-channel-btn" class="btn-md btn-filled-nohover btn-invert-onoff_onoff">
        <span>join</span>
      </button>
      <button popovertarget="form-join-channel" popovertargetaction="hide" class="button btn-md btn-secondary btn-action btn-filled">
        <span>cancel</span>
      </button>
    </div>
  </form>
</div>
{{ end }}
