{{ define "channel-edit-image" }}
  {{ $userID := .userID }}
{{ $dot := .dot }}
{{ with .CurrentUser }}
  {{ $userID = .ID }}
{{ end }}
{{ $thisEntity := .ThisChannel }}
{{ $tracer := printf "%s > %s" .Tracer "channel-edit-image" }}
{{ with $tracer }}
{{/*  {{ fprint "Trace" . }}*/}}
{{ end }}
  <div class="right-panel-container-pic flex-space-between">
    <div class="right-panel-container-pic">
      {{ if (ne $dot.ThisChannel.Avatar "noimage") }}
      <div class="right-panel-pic profile-pic" data-image-channel="{{ $dot.ImagePaths.Channel }}{{ $dot.ThisChannel.Avatar}}"></div>
      {{ else }}
      <div class="right-panel-pic profile-pic--empty" data-name-channel="{{ $dot.ThisChannel.Name }}"></div>
      {{ end }}
      <small>Edit channel picture</small>
    </div>
    <button id="right-panel-channel--edit-channel-picture" class="btn-sm btn-icoonly">
      <span class="btn-edit" role="contentinfo" aria-label="Edit channel picture"></span>
    </button>
  </div>
{{ end }}
