{{ define "channel-page-banner" }}
  {{- /*gotype: github.com/gary-norman/forum/internal/models.Post*/ -}}
  <div id="channel-page-banner" class="banner">
    <img class="page-banner" src="/assets/images/user-banner.jpeg" alt="User Banner Image"/>
    <div class="page-control">
      <div class="page-profile">
        {{ if (ne .ThisChannel.Avatar "noimage") }}
        <div class="sidebar-pic profile-pic" data-image-user="{{ .ImagePaths.Channel }}{{ .ThisChannel.Avatar }}">
        </div>
        {{ else }}
        <div class="sidebar-pic profile-pic--empty" data-name-user-sidebar="{{ .ThisChannel.Name }}">
        </div>
        {{ end }}
        <div class="flex-start">
          <h2 {{ if (eq .ThisChannel.Privacy true) }} class="private-channel align-self-start" {{ end }}>
            /{{ .ThisChannel.Name }}
          </h2>

        </div>
      </div>
      <div class="page-buttons">
        {{ if (eq .IsJoinedOrOwned false) }}
        <button popovertarget="form-join-channel" class="btn-join-channel btn-md btn-primary btn-icotext btn-action-primary btn-invert-onoff_onoff">
          <span class="btn-posts">join</span>
        </button>
        {{ end }}
        <div class="user-following"></div>
        <button class="btn-md btn-secondary btn-filled btn-filled-fancy btn-icoonly btn-action-secondary btn-invert-onoff_offoff">
          <img src="/assets/icons/share_16.svg" alt="share button" />
        </button>
        {{ if (eq .IsJoinedOrOwned false) }}
        <button class="btn-md s16 btn-secondary btn-filled btn-filled-fancy btn-icoonly btn-action-secondary btn-invert-never">
          <img src="/assets/icons/heart-empty_24.svg" alt="like button" />
        </button>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
