{{ define "channel-edit-image" }}
  {{- /*gotype: github.com/gary-norman/forum/internal/models.Post*/ -}}
  {{ $channelBasePath := "db/userdata/images/channel-images/" }}
  {{ $userBasePath := "db/userdata/images/user-images/" }}
  {{ $userID := 0 }} <!-- Default value for logged out users -->
  {{ if ne .CurrentUser nil }}
    {{ $userID = .CurrentUser.ID }}
  {{ end }}
  <div class="right-panel-container-pic flex-space-between">
    <div class="right-panel-container-pic">
      {{ if (ne .ThisChannel.Avatar "noimage") }}
      <div class="right-panel-pic profile-pic" data-image-channel="{{ $channelBasePath }}{{ .ThisChannel.Avatar}}"></div>
      {{ else }}
      <div class="right-panel-pic profile-pic--empty" data-name-channel="{{ .ThisChannel.Name }}"></div>
      {{ end }}
      <small>Edit channel picture</small>
    </div>
    <button id="right-panel-channel--edit-channel-picture" class="btn-sm btn-icoonly">
      <span class="btn-edit" role="contentinfo" aria-label="Edit channel picture"></span>
    </button>
  </div>
{{ end }}
