{{ define "channel-edit-rules" }}
{{ $dot := .dot }}
{{ $userID := .userID }}
{{ with .CurrentUser }}
  {{ $userID = .ID }}
{{ end }}
{{ $thisEntity := .ThisChannel }}
{{ $tracer := printf "%s > %s" .Tracer "channel-edit-rules" }}
{{ with $tracer }}
{{/*  {{ fprint "Trace" . }}*/}}
{{ end }}
  <div id="right-panel-container-rules">
        {{ if or (not $dot.IsOwned) (not $dot.IsJoined) }}
    <div class="right-panel-bio flex-space-between ">
      <label class="padded" for="rules-content">Edit channel rules</label>
      <button popovertarget="form-edit-channel-rules" id="right-panel-channel--edit-channel-rules" class="btn-sm btn-icoonly">
        <span class="btn-edit" role="contentinfo" aria-label="Edit channel rules"></span>
      </button>
    </div>
    {{ else }}
    <div class="right-panel-bio flex-space-between ">
      <label class="padded" for="rules-content">Channel rules</label>
    </div>
    {{ end }}
    <div class="side-panel-block">
      <ul class="sidebar-channel-ul">
        {{ range $dot.Rules}}
        <li>{{ .Rule }}</li>
        {{ end }}
      </ul>
      <textarea id="rules-content" class="inactive-input" name="content" style="display: none">Placeholder text... Placeholder text...</textarea>
    </div>
  </div>
{{ end }}
