{{ define "channel-edit-mods" }}
  {{ $userID := .UserID }}
{{ $dot := .dot }}
{{ with .CurrentUser }}
  {{ $userID = .ID }}
{{ end }}
{{ $thisEntity := .ThisChannel }}
{{ $tracer := printf "%s > %s" .Tracer "channel-edit-mods" }}
{{ with $tracer }}
{{/*  {{ fprint "Trace" . }}*/}}
{{ end }}
  <div class="right-panel-container-moderators">
    <div class="sidebar-block sidebar-channels">
      <div class="right-panel-bio flex-space-between">
        {{ if (eq $dot.ThisChannel.OwnerID $userID) }}
        <label for="channel-mods-content" class="padded">Edit moderators</label>
        <button id="right-panel-channel--edit-channel-mods" class="btn-sm btn-icoonly">
          <span class="btn-edit" role="contentinfo" aria-label="Edit channel moderators"></span>
        </button>
        {{ else }}
        <label for="channel-mods-content" class="padded">Moderators</label>
        {{ end }}
      </div>
      <div id="channel-mods-content" class="side-panel-block">
        {{/* TODO range through moderators */}}
        <div class="sidebar-channel">
          <div class="container-channel-info">
            <span class="card-pic mod-pic"></span>
            <div>
              <div>Other_one55</div>
            </div>
            <button class="btn-sm btn-icoonly margin-auto-0">
              <span class="btn-save-empty" role="contentinfo" aria-label="Edit profile name"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
