{{ define "chat-popover" }}
{{ $dot := . }}
{{ range $dot.Chats }}
{{ $chat := . }}
{{ $header := "Testing Chat" }}
{{ if eq $chat.ChatType "group" }}
    {{ $header = $chat.Group.Name }}
{{ end }}
{{ if eq $chat.ChatType "buddy" }}
    {{ $header = printf "chat with %s" $chat.Buddy.Username }}
{{ end }}
{{ if $dot.CurrentUser }}
<div popover id="form-chat-{{ $chat.ID }}">
    <div class="modal-header">
        <div id="modal-header-chat">{{ $header }}</div>
    </div>
    <div id="chat-popover-title" class="popover-title">
    </div>
    <div class="wrapper-form">
        <div class="chat-messages-container no-scrollbar">
        {{ range $chat.Messages }}
            {{ $message := . }}
            {{ if eq $message.Sender.ID $dot.CurrentUser.ID }}
                <div class="chat-message-wrapper cont-flex-row flex-end">
                    <p class="chat-msg send">{{ $message.Content }}</p>
                    {{ if (startsWith $message.Sender.Avatar "noimage") }}
                    <div class="chat-pic profile-pic--empty" data-name-user-sidebar="{{ $message.Sender.Username }}"></div>
                    {{ else }}
                    <div class="chat-pic profile-pic" data-image-user="{{ $.ImagePaths.User }}{{ $message.Sender.Avatar }}"></div>
                    {{ end }}
                </div>
            {{ else }}
                <div class="chat-message-wrapper cont-flex-row flex-start">
                    {{ if (startsWith $message.Sender.Avatar "noimage") }}
                    <div class="chat-pic profile-pic--empty" data-name-user-sidebar="{{ $message.Sender.Username }}"></div>
                    {{ else }}
                    <div class="chat-pic profile-pic" data-image-user="{{ $.ImagePaths.User }}{{ $message.Sender.Avatar }}"></div>
                    {{ end }}
                    <p class="chat-msg receive">{{ $message.Content }}</p>
                </div>
            {{ end }}
        {{ end }}
        </div>
        <form id="form-send-chat-{{ $chat.ID }}" action="/chats/{{ $chat.ID }}/send" method="POST">
            <div class="cont-flex-row flex-center send-chat-wrapper">
                <div class="input-wrapper form-field">
                    <input type="text" id="chat-input-{{ $chat.ID }}" name="message" placeholder=" " autofocus>
                    <label for="chat-input-{{ $chat.ID }}">Type your message...</label>
                </div>
                <button id="btn-send-chat-{{ $chat.ID }}" class="btn-primary btn-action-primary btn-invert-onoff_onoff" type="submit">
                    <span>Send</span>
                </button>
            </div>
        </form>
    </div>
</div>
{{ end }}
{{ end }}
{{ end }}
