{{ define "comment-controls" }}
  {{ $userID := .UserID }}
  {{ $user := .CurrentUser }}
  {{ with .CurrentUser }}
    {{ $userID = .ID }}
  {{ end }}
  {{ $post := .Post }}
  {{ $instance := .Instance }}
  {{ $comment := .Comment }}
  {{$status := reactionStatus $userID 0 $comment.ID}}
  {{ $tracer := printf "%s > %s" .Tracer "comment-controls" }}
  {{ with $tracer }}
  {{/* fprint "Trace" . */}}
  {{ end }}
  <button class="btn-md btn-secondary btn-icotext btn-filled btn-action{{if $status.Liked}} active{{end}}{{ if eq $user nil}} inactive{{ end }}" >
    <span class="btn-likes" data-like-ID="user-{{$comment.ID}}">{{$comment.Likes}}</span>
  </button>
  <button class="btn-md btn-secondary btn-icotext btn-filled btn-action{{if $status.Disliked}} active{{end}}{{ if eq $user nil}} inactive{{ end }}" >
    <span class="btn-dislikes" data-dislike-ID="user-{{$comment.ID}}">{{$comment.Dislikes}}</span>
  </button>
{{/* <button id="reply-button-channel-{{$comment.ChannelID}}-comment-{{$comment.ID}}" class="btn-md btn-secondary btn-icotext btn-filled btn-action" >
    <span class="btn-reply">reply</span>
</button> */}}
  <button id="share-button-channel-{{$comment.ChannelID}}-comment-{{$comment.ID}}" popovertarget="share-container-channel-{{$comment.ChannelID}}-comment-{{$comment.ID}}" class="btn-md btn-secondary btn-icotext btn-filled btn-action">
    <span class="btn-share">share</span>
  </button>
  {{ if ne $user nil}}
    <button class="btn-md btn-secondary btn-icotext btn-filled btn-action" >
      <span class="btn-report">report</span>
    </button>
  {{ end }}
{{ template "share-modal" (dict "Entity" "channel" "Type" "comment" "Pop1" $comment.ChannelID "Pop2" $comment.ID "Instance" $instance "Tracer" $tracer)}}
{{ end }}
