{{ define "comment-controls" }}
  {{ $userID := .UserID }}
  {{ $user := .CurrentUser }}
  {{ with .CurrentUser }}
    {{ $userID = .ID }}
  {{ end }}
  {{ $post := .Post }}
  {{ $comment := .Comment }}
  {{$status := reactionStatus $userID 0 $comment.ID}}
  {{ $tracer := printf "%s > %s" .Tracer "comment-controls" }}
  {{ with $tracer }}
  {{/* fprint "Trace" . */}}
  {{ end }}
  <button class="btn-md btn-secondary btn-icotext btn-filled btn-action
                                    {{if $status.Liked}}active{{end}}
                                    {{ if eq $user nil}}inactive{{ end }}" >
    <span class="btn-likes" data-like-ID="user-{{$comment.ID}}">{{$comment.Likes}}</span>
  </button>
  <button class="btn-md btn-secondary btn-icotext btn-filled btn-action
                                    {{if $status.Disliked}}active{{end}}
                                    {{ if eq $user nil}}inactive{{ end }}" >
    <span class="btn-dislikes" data-dislike-ID="user-{{$comment.ID}}">{{$comment.Dislikes}}</span>
  </button>
  {{ if ne $user nil}}
    <button id="reply-button-channel-{{$comment.ChannelID}}-comment-{{$comment.ID}}" class="btn-md btn-secondary btn-icotext btn-filled btn-action" >
      <span class="btn-reply">reply</span>
    </button>
  {{ end }}
  <button id="share-button-channel-{{$comment.ChannelID}}-comment-{{$comment.ID}}" popovertarget="share-container-channel-{{$comment.ChannelID}}-comment-{{$comment.ID}}" class="btn-md btn-secondary btn-icotext btn-filled btn-action">
    <span class="btn-share">share</span>
  </button>
  {{ if ne $user nil}}
    <button class="btn-md btn-secondary btn-icotext btn-filled btn-action" >
      <span class="btn-report">report</span>
    </button>
  {{ end }}
  <!--  Share modal -->
  <div popover id="share-container-channel-{{$comment.ChannelID}}-comment-{{$comment.ID}}" class="scrollable-user">
    <div class="share-container">
      <div class="button-row">
        <a href="/" target="_blank" class="share-logo facebook"></a>
        <a href="/" target="_blank" class="share-logo twitter"></a>
        <a href="/" target="_blank" class="share-logo linkedin"></a>
        <a href="/" target="_blank" class="share-logo reddit"></a>
        <a href="/" target="_blank" class="share-logo whatsapp"></a>
        <a href="/" target="_blank" class="share-logo telegram"></a>
      </div>
      <div class="flex-space-between">
        <label class="padded" for="copy-url-channel-{{$post.ChannelID}}-comment-{{$comment.ID}}">Copy URL link</label>
        <button class="btn-sm btn-icoonly">
          <span class="btn-copy" aria-label="Copy URL link"></span>
        </button>
      </div>
    <input value="https://localhost:8989/comments/{{ $comment.ID }}" readonly type="text"
             id="copy-url-channel-{{$post.ChannelName}}-comment-{{$comment.ID}}" name="copy-url-channel-{{$post.ChannelName}}-comment-{{$comment.ID}}"/>
    </div>
  </div>
{{ end }}
