{{ define "control-buttons" }}
{{- /*gotype: github.com/gary-norman/forum/internal/models.TemplateData*/ -}}
{{ $dot := .dot }}
{{ $userID := .userID }}
{{ $nouser := false }}
{{ if eq (printf "%s" .userID) "00000000-0000-0000-0000-000000000000" }}
  {{ $nouser = true }}
{{ end }}
{{ $calledBy := .calledBy }}
{{ $thisPost := .ThisPost }}
{{ $tracer := printf "%s > %s" .Tracer "control-buttons" }}
{{ with $tracer }}
  {{/* fprint "Trace" . */}}
{{ end }}
{{ $instance := .Instance }}
{{ with .Comment }}
  {{ $comment := . }}
{{ end }}
    <div class="
      button-row-wrap
      {{ if ne $calledBy "right-panel"}} post-controls{{end}}
    "
    {{ if eq $calledBy "post-card" }}
      {{ $post := .Post }} data-post-id="{{$post.ID}}" data-channel-id="{{$post.ChannelID}}" data-author-id="{{$post.AuthorID}}"
    {{ end }}
    {{/* if eq $calledBy "comment-card"}}
      {{ $post := .Post }} data-comment-id="{{$comment.ID}}" data-channel-id="{{$post.ChannelID}}" data-author-id="{{comment.AuthorID}}"
    {{ end */}}
    >
{{/* TODO - simply don't add this template to right-panel, omit this if clause */}}
    {{ if ne $calledBy "right-panel"}} {{/* buttons NOT present in right-panel */}}
      {{ if eq $calledBy "post-card"}}
        {{ $post := .Post }}
        {{$status := reactionStatus $userID $post.ID 0}}
        <button class="btn-md btn-secondary btn-icotext btn-filled btn-action {{ if eq $nouser true}}nouser{{ else }}{{if $status.Liked}}active{{ else }} {{end}} {{ end }}">
          <span class="btn-likes">{{$post.Likes}}</span>
        </button>
        <button class="btn-md btn-secondary btn-icotext btn-filled btn-action {{ if eq $nouser true}}nouser{{ else }}{{if $status.Disliked}}active{{ else }} {{end}} {{ end }}" >
          <span class="btn-dislikes">{{$post.Dislikes}}</span>
        </button>
        {{ if eq $thisPost "true" }}
{{/* the detailed post */}}
{{ if eq $post.IsCommentable true}}
          <button id="reply-button-channel-{{$post.ChannelID}}-post-{{$post.ID}}-{{$instance}}" class="btn-md btn-secondary btn-icotext btn-filled btn-action {{ if eq $nouser true}}nouser{{end}}" data-action="comment-post" data-post-id="{{$post.ID}}">
            <span class="btn-reply">reply</span>
          </button>
          {{ end }}
        {{ else }}
{{/* posts on any list */}}
{{ if eq $post.IsCommentable true}}
          <button class="btn-md btn-secondary btn-icotext btn-filled btn-action {{ if eq $nouser true}}nouser{{end}}" data-dest="post" data-action="{{ if ne $nouser true}}navigate--{{ end }}comment-post" data-post-id="{{$post.ID}}">
            <span class="btn-reply">{{$post.CommentsCount}}</span>
          </button>
          {{ end }}
        {{ end }}
        <button id="share-button-channel-{{$post.ChannelID}}-post-{{$post.ID}}-{{$instance}}" popovertarget="share-container-channel-{{$post.ChannelID}}-post-{{$post.ID}}-{{$instance}}" class="btn-md btn-secondary btn-icotext btn-filled btn-action">
          <span class="btn-share">share</span>
        </button>
        {{ if ne $nouser true}}
            {{ if ne $userID $post.AuthorID}}
                <button class="btn-md btn-secondary btn-icotext btn-filled btn-action" >
                    <span class="btn-report">report</span>
                </button>
            {{ end}}

            {{ if eq $userID $post.AuthorID}}
            <button class="btn-md btn-secondary btn-icotext btn-filled btn-action" >
              <span class="btn-edit">edit</span>
            </button>
          {{ end}}
        {{ end }}{{/* end of ne $user nil */}}
{{/* ---- share popover ---- */}}
        {{ template "share-modal" (dict "Entity" "channel" "Type" "post" "Pop1" $post.ChannelID "Pop2" $post.ID "Instance" $instance "Tracer" $tracer)}}
{{/* ---- end of share popover ---- */}}
      {{ end }} {{/* end of eq $calledBy "post-card" */}}
      {{ if eq $calledBy "comment-card"}}{{ $comment := $dot.Comment }}{{ $post := .Post }}
        {{$status := reactionStatus $userID 0 $comment.ID}}
          <button class="btn-md btn-secondary btn-icotext btn-filled btn-action {{if $status.Liked}}active{{end}}" >
            <span class="btn-likes" data-like-ID="user-{{$comment.ID}}">{{$comment.Likes}}</span>
          </button>
          <button class="btn-md btn-secondary btn-icotext btn-filled btn-action {{if $status.Disliked}}active{{end}}">
            <span class="btn-dislikes" data-dislike-ID="user-{{$comment.ID}}">{{$comment.Dislikes}}</span>
          </button>
          {{ if ne $nouser true}}
            {{ if ne $calledBy "reply_level1"}}
              <button id="reply-button-channel-{{$comment.ChannelID}}-comment-{{$comment.ID}}-{{$instance}}" class="btn-md btn-secondary btn-icotext btn-filled btn-action" >
                <span class="btn-reply">reply</span>
              </button>
            {{ end }}
          {{ end }}{{/* end of ne $user nil */}}
          <button id="share-button-channel-{{$comment.ChannelID}}-comment-{{$comment.ID}}-{{$instance}}" popovertarget="share-container-channel-{{$comment.ChannelID}}-comment-{{$comment.ID}}-{{$instance}}" class="btn-md btn-secondary btn-icotext btn-filled btn-action">
            <span class="btn-share">share</span>
          </button>
          {{ if ne $nouser true}}
{{/* INFO If logged in user is the owner of the post/comment, show Edit*/}}
            {{ if eq $userID $comment.AuthorID}}
              <button class="btn-md btn-secondary btn-icotext btn-filled btn-action" >
                <span class="btn-edit">edit</span>
              </button>
{{/* INFO otherwise, show Report*/}}
            {{ else }}
              <button class="btn-md btn-secondary btn-icotext btn-filled btn-action" >
                <span class="btn-report">report</span>
              </button>
            {{ end}}
          {{ end }}{{/* end of ne $user nil */}}
{{/*  ---- share modal ---- */}}
        {{ template "share-modal" (dict "Entity" "channel" "Type" "comment" "Pop1" $comment.ChannelID "Pop2" $comment.ID "Instance" $instance "Tracer" $tracer)}}
      {{ end }} {{/* end of eq $calledBy "comment-card" */}}
    {{ end }}{{/* end to buttons NOT present in right-panel */}}
    {{ if eq $calledBy "right-panel"}}
      {{ if ne $nouser true }}
{{/* TODO when user is an administrator, button prepared; needs admin check*/}}
        {{if eq $instance "user-page"}}
          {{/*        <button class="btn-md btn-secondary btn-icotext btn-filled btn-action" >*/}}
          {{/*          <span class="btn-ban">ban</span>*/}}
          {{/*        </button>*/}}
          {{ else if eq $instance "channel-page"}}
          <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
            <span class="btn-mute">mute</span>
          </button>
          <button class="btn-md btn-secondary btn-icotext btn-filled btn-action" >
            <span class="btn-report">report</span>
          </button>
        {{ end }} {{/* end of if "user-page" or "channel-page" */}}
      {{ end }} {{/* end of if ne $nouser true */}}
    {{ end }} {{/* end of eq $calledBy "right-panel" */}}
  </div> {{/* end of div button-row-wrap */}}
{{ end}}
