<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/css-reset_kevin-powell.css">
  <link rel="stylesheet" href="/assets/css/fonts.css">
  <link rel="stylesheet" href="/assets/css/colors.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/hover_effects.css">
  <link rel="stylesheet" href="/assets/css/text_effects.css">
  <link rel="stylesheet" href="/assets/css/user-page.css">
  <link rel="stylesheet" href="/assets/css/buttons.css">
  <script src="/assets/js/main.js" defer></script>
  <title>01F Forum elements</title>
</head>
<body>
<div class="cont-grid-4x-10rem">
  <div class="grid-bullseye">
    <button class="darklight">
      <img src="/assets/icons/darklight.svg" alt="darklight" style="display: none">
    </button>
  </div>
  <div class="grid-cell"></div>
  <div class="grid-cell"></div>
  <div class="grid-cell"></div>
  <div class="grid-cell"></div>
  <div class="grid-cell"></div>
  <div class="grid-cell"></div>
  <div class="grid-cell"></div>
  <div class="grid-cell"></div>
  <div class="grid-cell"></div>
</div>
</body>
</html>