{{ define "home-page" }}
  {{ $userID := 0 }} {{/* Default value for logged out users */}}
  {{ with .CurrentUser }}
    {{ $userID = .ID }}
  {{ end }}
  {{$dot := .dot }}
  {{ $userPosts := $dot.UserPosts}}

  <div class="container-content">
    <div class="content">
      <p>{{$.ImagePaths}}</p>
  {{ template "filters-row" . }}
  {{ template "home-page-feed" (dict "dot" $dot "UserPosts" $userPosts "UserID" $userID) }}
    </div>
{{/*    {{ template "right-panel" (dict "dot" . "UserID" $userID) }}*/}}
  </div>
{{ end }}