{{ define "home-page" }}
  {{ if eq .Location "not-found"}}
    {{ template "not-found" (dict "Message" .Message) }}
  {{ else }}
    {{ $userID := .UserID }}
    {{ $dot := . }}
    {{ with $dot.CurrentUser }}
      {{ $userID = .ID }}
    {{ end }}
    {{ $instance := .Instance }}
    {{ $userPosts := .UserPosts }}
    {{ $allPosts := .AllPosts }}
    {{ $tracer := "home-page" }}
    <div class="container-content">
      <div class="content">
        {{ template "filters-row" (dict "dot" $dot "Tracer" $tracer "UserID" $userID "calledBy" "home-page") }}
        {{ template "home-page-feed" (dict "dot" $dot "Tracer" $tracer "UserPosts" $userPosts "AllPosts" $allPosts "UserID" $userID "Instance" $instance) }}
      </div>
  </div>
  {{ end }}
{{ end }}
