<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/css-reset_kevin-powell.css">
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/colors.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <title>01F Forum</title>
</head>
<body>
    <div class="wrapper-main">
        <div class="header">
            <div class="cont-flex-row" style="flex-grow: 1; gap: unset">
                <p style="letter-spacing: .2em; color: var(--color-hl-pink)">&#60;</p>
                <p style="letter-spacing: .2em; color: var(--color-hl-green)">codex</p>
                <p style="letter-spacing: .2em; color: var(--color-hl-pink)">&#62;</p>
            </div>
            <form class="wrapper-search">
                <div>
                    <label for="search"></label>
                    <input type="text" class="searchbar" id="search" name="search" placeholder="Search" />
                </div>
            </form>
            <div class="flex-align-c">
                <a href="posts/create" class="button btn-primary btn-icotext"><img src="/assets/icons/post.svg" alt="plus symbol">Post</a>
<!--                <button class="button btn-primary btn-icotext"><img src="/assets/icons/post.svg" alt="plus symbol">Post</button>-->
                <button class="button btn-secondary btn-icotext btn-filled"><img src="/assets/icons/notification.svg" alt="bell symbol">Notifications</button>
            </div>
        </div>
        <div class="cont-flex-row" style="flex-grow: 1">
            <div class="sidebar">
                <div class="sidebarProfile">
                    <div class="sidebar-profile-pic"></div>
                    <div>
                        <h3>Eyesome578</h3>
                        <div>
                            <button class="button btn-icotext">
                                <img src="/assets/icons/following.svg" alt="following symbol">72</button>
                            <button class="button btn-icotext">
                                <img src="/assets/icons/followers.svg" alt="followers symbol">64</button>
                        </div>
                    </div>
                </div>
                <hr class="solid">
                <div class="sidebar-block sidebar-dashboard">
                    <small>Dashboard</small>
                    <div class="sidebar-option">Home</div>
                    <div class="sidebar-option-btn">
                        <div>Dark Mode</div>
                        <div><button class="button btn-primary"></button></div>
                    </div>
                    <div class="sidebar-option">Settings</div>
                    <div class="sidebar-option">Log Out</div>
                </div>
                <hr class="solid">
                <div class="sidebar-block sidebar-channels">
                    <small>Your Channels</small>
                    <div class="sidebar-channel"><div>banana</div></div>
                    <div class="sidebar-channel"></div>
                    <div class="sidebar-channel"></div>
                    <div class="sidebar-channel"></div>
                </div>
            </div>
            <div class="main-window">
                <div class="button-row above-posts">
                    <button class="button btn-secondary btn-icotext btn-filled">Sort<img src="/assets/icons/post.svg"
                                                                                         alt="plus symbol"></button>
                    <button class="button btn-secondary btn-icotext btn-filled">Filters<img src="/assets/icons/post.svg"
                                                                                         alt="plus symbol"></button>
                </div>
                <div class="posts">
                    {{range .Posts}}
                        <div class="card">
                            <div>
                                <img class="card-profile-pic" alt="profile picture">
                                <div>
                                    <small class="small-bold">{{.AuthorID}}</small>
                                    <div>
                                        <img src="/assets/icons/reply.svg" alt="plus symbol">
                                        <small>{{.ChannelID}}</small>
                                        <small>-</small>
                                        <time datetime="DD-MM-YYThh:mm:ss"  class="small-bold">{{.Created.Format "Jan 02, 2006"}}
                                            @ {{.Created.Format "15:04:05 UTC"}}</time>
                                    </div>
                                </div>
                            </div>
                            <h4>{{.Title}}</h4>
                            <p class="cardContent">{{.Content}}</p>
                            <div class="button-row">
                                <button class="button btn-secondary btn-icotext btn-filled">
                                    <img src="/assets/icons/notification.svg" alt="bell symbol">
                                    100
                                </button>
                                <button class="button btn-secondary btn-icotext btn-filled">
                                    <img src="/assets/icons/notification.svg" alt="bell symbol">
                                    24
                                </button>
                                <button class="button btn-secondary btn-icotext btn-filled">
                                    <img src="/assets/icons/notification.svg" alt="bell symbol">
                                    Reply
                                </button>
                                <button class="button btn-secondary btn-icotext btn-filled">
                                    <img src="/assets/icons/notification.svg" alt="bell symbol">
                                    Share
                                </button>
                                <button class="button btn-secondary btn-icotext btn-filled">
                                    <img src="/assets/icons/notification.svg" alt="bell symbol">
                                    Report
                                </button>
                            </div>
                        </div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
<!--        <div class="cont-grid-auto15rem">-->
<!--            {{range .Posts}}-->
<!--            <div class="card">-->
<!--                <h2 class="cardTitle">{{.Title}}</h2>-->
<!--                <h3 class="cardAuthor">{{.AuthorID}}</h3>-->
<!--                <h3 class="cardChannel">/{{.ChannelID}}</h3>-->
<!--                <time datetime="DD-MM-YYThh:mm:ss"  class="cardDate">{{.Created.Format "Jan 02, 2006"}}-->
<!--                    @ {{.Created.Format "15:04:05 UTC"}}</time>-->
<!--                <div  class="cardContent">-->
<!--                    {{.Content}}-->
<!--                </div>-->
<!--            </div>-->
<!--            {{end}}-->
<!--        </div>-->
<!--<a href="posts/create" class="button" style="position: absolute; top: .5rem; left: 2rem;">create post</a>-->
</body>
</html>