<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/css-reset_kevin-powell.css">
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/colors.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/text_effects.css">
    <link rel="stylesheet" href="/assets/css/user-page.css">
    <link rel="stylesheet" href="/assets/css/buttons.css">
    <script src="/assets/js/main.js" defer></script>
    <title>01F Forum</title>
</head>
<body>
    <div class="wrapper-main">
        <header class="header">
            <div class="branding">
<!--                <p>&#60;</p>-->
<!--                <p>codex</p>-->
<!--                <p>&#62;</p>-->
            </div>
            <form class="wrapper-search">
                <search>
                    <label for="search"></label>
                    <input type="text" class="searchbar" id="search" name="search" placeholder="Search" />
                </search>
            </form>
            <div class="flex-align-c">
                <button popovertarget="form-post" class="btn-post btn-md btn-primary btn-icotext btn-action-primary btn-invert-onoff_onoff">
                    <span class="btn-posts">Post</span>
                </button>
                <button class="btn-md btn-secondary btn-icotext btn-filled btn-filled-fancy btn-action-secondary btn-invert-onoff_offoff">
                    <span class="btn-notifications" role="contentinfo" aria-description="Notifications, with a bell icon">Notifications</span>
                </button>
            </div>
        </header>
        <div popover id="form-post">
            <form class="wrapper-form" action="/posts/create" method="POST">
                <label class="hide-feed" for="author">User:</label>
<!--                INFO this will not be in the final form as it will be determined by the logged in user -->
                <select id="author" name="author" style="justify-self: center">
                    <option selected disabled hidden>Select a user</option>
                    <option value="1001">Lore</option>
                    <option value="1002">Kamil</option>
                    <option value="1003">Munky</option>
                    <option value="1004">Bob</option>
                    <option value="1005">Shazam!</option>
                </select>
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title"/>
                    <label for="content">Post</label>
                <!-- FIXME fix resize issue -->
                    <textarea id="content" name="content"></textarea>
                    <div id="drop_zone">
                        <div id="uploadedFile"></div>
                        <div class="cont-flex-column">
                            <span class="dragText">drag and drop your file, or</span>
<!--                            <span class="button">browse</span>-->
                            <input type="file" id="browse" name="file-drop" />
                        </div>
                    </div>
<!--                    <label for="images"></label>-->
<!--                    <input type="text" class="noborder" id="images" name="images" placeholder="Upload an image (optional)"/>-->
                    <label for="channel">Channel</label>
                    <input type="text" list="channels" id="channel" name="channel">
                        <datalist id="channels">
                            <option selected disabled hidden>Select a channel</option>
                            <option value="2001">User's lounge</option>
                            <option value="2002">CSS</option>
                            <option value="2003">JS</option>
                            <option value="2004">Golang</option>
                            <option value="2005">SQLite</option>
                        </datalist>
                    <div class="cont-flex-row" style="justify-content: center; align-items: center">
                        <label for="allow-comments-checkbox">Allow comments</label>
                        <label class="allow-comments">
                            <input type="checkbox" id="allow-comments-checkbox">
                            <span class="allow-comments-fx"></span>
                            <!--                            <span class="darklight-border"></span>-->
                        </label>
                    </div>
                <!-- FIXME fix these buttons -->
                <div class="cont-flex-row" style="justify-content: space-around">
                    <button class="btn-md btn-primary btn-action">create post</button>
                    <a href="/" class="button btn-md btn-secondary btn-action btn-filled">cancel</a>
                </div>
            </form>
        </div>
        <div class="main-content" >
            <aside class="sidebar">
                <div class="sidebarProfile">
                    <div class="sidebar-profile-pic"></div>
                    <div>
                        <h3>Eyesome578</h3>
                        <div>
                            <button class="btn-md btn-icotext btn-follows btn-invert-never">
                                <span class="btn-following">72</span>
                            </button>
                            <button class="btn-md btn-icotext btn-follows btn-invert-never">
                                <span class="btn-followers">64</span>
                            </button>
                        </div>
                    </div>
                </div>
                <hr class="solid">
                <div class="sidebar-block sidebar-dashboard">
                    <small>Dashboard</small>
                    <div class="sidebar-option home">Home</div>
                    <div class="sidebar-option sidebar-option-btn darkMode" id="sidebar-option-darkmode">
                        <div>Colour Scheme</div>
                        <label class="darklight">
                            <input type="checkbox" id="darkmode-checkbox">
                            <span class="darklight-fx"></span>
<!--                            <span class="darklight-border"></span>-->
                        </label>
                    </div>
                    <div class="sidebar-option settings">Settings</div>
                    <div class="sidebar-option logout">Log Out</div>
                </div>
                <hr class="solid">
                <div class="sidebar-block sidebar-channels">
                    <small>Your Channels</small>
                    <div class="sidebar-channel-block">
                        <div class="sidebar-channel">
                            <div></div>
                            <div class="channel_info-container">
                                <span class="card-profile-pic"></span>
                                    <div>
                                        <div>/CSS_Help</div>
                                        <div>
                                            <div class="channel-users">9.3k</div>
                                            <div class="channel-green-dot">15</div>
                                        </div>
                                    </div>
                                    <div class="heart-empty"></div>
                            </div>
                        </div>
                        <div class="sidebar-channel">
                            <div></div>
                            <div class="channel_info-container">
                                <span class="card-profile-pic"></span>
                                <div>
                                    <div>/CSS_Playground</div>
                                    <div>
                                        <div class="channel-users">13.8k</div>
                                        <div class="channel-green-dot">37</div>
                                    </div>
                                </div>
                                <div class="heart-full"></div>
                            </div>
                        </div>
                        <div class="sidebar-channel">
                            <div></div>
                            <div class="channel_info-container">
                                <span class="card-profile-pic"></span>
                                <div>
                                    <div>/Golang#Discussion</div>
                                    <div>
                                        <div class="channel-users">9.4k</div>
                                        <div class="channel-green-dot">112</div>
                                    </div>
                                </div>
                                <div class="heart-empty"></div>
                            </div>
                        </div>
                        <div class="sidebar-channel">
                            <div></div>
                            <div class="channel_info-container">
                                <span class="card-profile-pic"></span>
                                <div>
                                    <div>/Interesting_Things</div>
                                    <div>
                                        <div class="channel-users">5.6k</div>
                                        <div class="channel-green-dot">36</div>
                                    </div>
                                </div>
                                <div class="heart-empty"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </aside>
            <main>
                <div class="homepage-feed-mask-container" style="z-index: 0; min-height: 100% !important;">
                <svg height="100%" width="100%" preserveAspectRatio="none">
                    <defs>
                        <linearGradient id="home-mask-gradient" x1="0" x2="0" y1="0" y2="1">
                            <stop offset="0%" stop-color="black" />
<!--                            <stop offset="6%" stop-color="black" />-->
                            <stop offset="2%" stop-color="white" />
                            <stop offset="100%" stop-color="white" />
                        </linearGradient>
                        <linearGradient id="user-mask-gradient" x1="0" x2="0" y1="0" y2="1">
                            <stop offset="0%" stop-color="black" />
<!--                            <stop offset="1%" stop-color="black" />-->
                            <stop offset="2%" stop-color="white" />
                            <stop offset="100%" stop-color="white" />
                        </linearGradient>
                    </defs>
                    <mask id="homepage-feed-mask">
                    <rect width="100%" height="100%" fill="url(#home-mask-gradient)" />
                    </mask>
                    <mask id="userpage-feed-mask">
                        <rect width="100%" height="100%" fill="url(#user-mask-gradient)" />
                    </mask>
                </svg>
                </div>
                <!---- homepage ------>
                <div id="home-page" class="feeds-wrapper">
                    <div class="button-row above-posts button-row-homepage">
                        <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                            <span class="btn-sort">sort</span>
                        </button>
                        <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                            <span class="btn-filters">filters</span>
                        </button>
                    </div>
                    <div class="scrollable-home scrollable no-scrollbar">
                        <div class="feed-content feed-content-homepage">
                            {{range .Posts}}
                            <div class="card">
                                <div class="post-info-container">
                                    <span class="card-profile-pic"></span>
                                    <div>
                                        <small class="small-bold">{{.AuthorID}}</small>
                                        <div>
                                            <small>{{.ChannelID}}</small>
                                            <small>-</small>
                                            <time datetime="DD-MM-YYThh:mm:ss"  class="small-bold">{{.Created.Format "Jan 02, 2006"}}
                                                @ {{.Created.Format "15:04:05 UTC"}}</time>
                                        </div>
                                    </div>
                                </div>
                                <h4>{{.Title}}</h4>
                                <article class="cardContent">{{.Content}}</article>
                                <div class="button-row">
<!--                                  --- TODO invertoff -->
                                    <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                                        <span class="btn-likes">100</span>
                                    </button>
                                    <!-- --- TODO invertoff -->
                                    <button class="btn-md btn-secondary btn-icotext btn-filled">
                                        <span class="btn-dislikes">24</span>
                                    </button>
                                    <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                                        <span class="btn-reply">reply</span>
                                    </button>
                                    <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                                        <span class="btn-share">share</span>
                                    </button>
                                    <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                                        <span class="btn-report">report</span>
                                    </button>
                                </div>
                            </div>
                            {{end}}
                        </div>
                    </div>
                </div>
<!--                --- user page --- -->
                <div id="user-page" class="feeds-wrapper">
                    <div class="banner">
                        <img class="user-banner" src="/assets/images/user-banner.jpeg" alt="User Banner Image">
                        <div class="user-page-controls">
                            <div class="user-page-profile">
                                <div class="user-page-profile-pic"></div>
                            <div>
                                <h2>Eyesome578</h2>
                                <div>
                                    <button class="btn-md btn-icotext btn-follows btn-invert-never">
                                        <span class="btn-following">72</span>
                                    </button>
                                    <button class="btn-md btn-icotext btn-follows btn-invert-never">
                                        <span class="btn-followers">64</span>
                                    </button>
                                </div>
                            </div>
                            </div>
                        <div class="user-page-buttons">
                            <button class="btn-lg btn-primary btn-icotext btn-action-primary btn-invert-onoff_onoff">
                                <span class="btn-follow">follow</span>
                            </button>
                            <div class="user-following"></div>
                            <button class="btn-md btn-secondary btn-filled btn-filled-fancy btn-icoonly btn-action-secondary btn-invert-onoff_offoff">
                                <img src="/assets/icons/share_16.svg" alt="share button">
                            </button>
                            <button class="btn-md s16 btn-secondary btn-filled btn-filled-fancy btn-icoonly btn-action-secondary btn-invert-never">
                                <img src="/assets/icons/heart-empty_24.svg" alt="like button">
                            </button>
                        </div>
                    </div>
                    </div>
                    <div class="content">
                        <div id="activity-bar" class="button-row above-activity">
                            <button id="activity" class="btn-lg btn-secondary btn-icotext btn-activity btn-active">
                                <span class="btn-clock">activity</span>
                            </button>
                            <button id="posts" class="btn-lg btn-secondary btn-icotext btn-activity">
                                <span class="btn-posts">posts</span>
                            </button>
                            <button id="comments" class="btn-lg btn-secondary btn-icotext btn-activity">
                                <span class="btn-comment">comments</span>
                            </button>
                            <button id="saved" class="btn-lg btn-secondary btn-invert-never btn-icotext btn-activity">
                                <span class="btn-heart-empty">saved</span>
                            </button>
                            <button id="muted" class="btn-lg btn-secondary btn-icotext btn-activity">
                                <span class="btn-mute">muted</span>
                            </button>
                            <button id="reactions" class="btn-lg btn-secondary btn-invert-never btn-icotext btn-activity">
                                <span class="btn-likes">reactions</span>
                            </button>
                        </div>
                        <div id="activity-feeds" style="position: absolute; width: 100%; height: 100%    ">
                            <div id="activity-activity">
                                <div class="filters-row button-row">
                                    <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                                        <span class="btn-sort">sort</span>
                                    </button>
                                    <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                                        <span class="btn-filters">filter</span>
                                    </button>
                                </div>
                                <div id="activity-feed-activity" class="collapsible-expanded feed-content scrollable-user scrollable no-scrollbar">
                                    {{range .Posts}}
                                    <div class="activity-items activity">Something happened!</div>
                                    <div class="card">
                                        <div class="post-info-container">
                                            <span class="card-profile-pic"></span>
                                            <div>
                                                <small class="small-bold">{{.AuthorID}}</small>
                                                <div>
                                                    <small>{{.ChannelID}}</small>
                                                    <small>-</small>
                                                    <time datetime="DD-MM-YYThh:mm:ss"  class="small-bold">{{.Created.Format "Jan 02, 2006"}}
                                                        @ {{.Created.Format "15:04:05 UTC"}}</time>
                                                </div>
                                            </div>
                                        </div>
                                        <h4>{{.Title}}</h4>
                                        <article class="cardContent">{{.Content}}</article>
                                        <div class="button-row">
                                            <button class="btn-md btn-secondary btn-icotext btn-filled btn-action btn-invert-never">
                                                <span class="btn-likes">100</span>
                                            </button>
                                            <button class="btn-md btn-secondary btn-icotext btn-filled btn-action btn-invert-never">
                                                <span class="btn-dislikes">24</span>
                                            </button>
                                            <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                                                <span class="btn-reply">reply</span>
                                            </button>
                                            <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                                                <span class="btn-share">share</span>
                                            </button>
                                            <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                                                <span class="btn-report">report</span>
                                            </button>
                                        </div>
                                    </div>
                                    {{end}}
                                </div>
                            </div>
                            <div id="activity-posts">
                                <div class="filters-row button-row hide-feed">
                                    <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                                        <span class="btn-sort">sort</span>
                                    </button>
                                    <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                                        <span class="btn-filters">filters</span>
                                    </button>
                                </div>
                                <div id="activity-feed-posts" class="collapsible-collapsed feed-content scrollable-user scrollable no-scrollbar">
                                    {{range .Posts}}
                                    <div class="card">
                                        <div class="post-info-container">
                                            <span class="card-profile-pic"></span>
                                            <div>
                                                <small class="small-bold">{{.AuthorID}}</small>
                                                <div>
                                                    <small>{{.ChannelID}}</small>
                                                    <small>-</small>
                                                    <time datetime="DD-MM-YYThh:mm:ss"  class="small-bold">{{.Created.Format "Jan 02, 2006"}}
                                                        @ {{.Created.Format "15:04:05 UTC"}}</time>
                                                </div>
                                            </div>
                                        </div>
                                        <h4>{{.Title}}</h4>
                                        <article class="cardContent">{{.Content}}</article>
                                        <div class="button-row">
                                            <button class="btn-md btn-secondary btn-icotext btn-filled btn-action btn-invert-never">
                                                <span class="btn-likes">100</span>
                                            </button>
                                            <button class="btn-md btn-secondary btn-icotext btn-filled btn-action btn-invert-never">
                                                <span class="btn-dislikes">24</span>
                                            </button>
                                            <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                                                <span class="btn-reply">reply</span>
                                            </button>
                                            <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                                                <span class="btn-share">share</span>
                                            </button>
                                            <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                                                <span class="btn-report">report</span>
                                            </button>
                                        </div>
                                    </div>
                                    {{end}}
                                </div>
                            </div>
                            <div id="activity-comments" >
                                <div class="filters-row button-row hide-feed">
                                    <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                                        <span class="btn-sort">sort</span>
                                    </button>
                                    <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                                        <span class="btn-filters">filters</span>
                                    </button>
                                </div>
                                <div id="activity-feed-comments" class="collapsible-collapsed feed-content scrollable-user scrollable no-scrollbar">
                                    <div class="activity-items comments">Yo mama so fat</div>
                                    <div class="activity-items comments">Yo how fat is she?</div>
                                    <div class="activity-items comments">Yo mama so fat</div>
                                    <div class="activity-items comments">Yo how fat is she?</div>
                                    <div class="activity-items comments">Yo mama so fat</div>
                                    <div class="activity-items comments">Yo how fat is she?</div>
                                    <div class="activity-items comments">Yo mama</div>
                                    <div class="activity-items comments">Yo mama</div>
                                    <div class="activity-items comments">Yo mama</div>
                                </div>
                            </div>
                            <div id="activity-saved" >
                                <div class="filters-row button-row hide-feed">
                                    <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                                        <span class="btn-sort">sort</span>
                                    </button>
                                    <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                                        <span class="btn-filters">filters</span>
                                    </button>
                                </div>
                                <div id="activity-feed-saved" class="collapsible-collapsed feed-content scrollable-user scrollable no-scrollbar">
                                    <div class="activity-items saved">You saved this post</div>
                                    <div class="activity-items saved">You saved this post</div>
                                    <div class="activity-items saved">You saved this post</div>
                                    <div class="activity-items saved">You saved this post</div>
                                    <div class="activity-items saved">You saved this post</div>
                                    <div class="activity-items saved">You saved this post</div>
                                </div>
                            </div>
                            <div id="activity-muted">
                                <div class="filters-row button-row hide-feed">
                                    <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                                        <span class="btn-sort">sort</span>
                                    </button>
                                    <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                                        <span class="btn-filters">filters</span>
                                    </button>
                                </div>
                                <div id="activity-feed-muted" class="collapsible-collapsed feed-content scrollable-user scrollable no-scrollbar">
                                    <div class="activity-items muted">You muted this post</div>
                                    <div class="activity-items muted">You muted this post</div>
                                    <div class="activity-items muted">You muted this post</div>
                                    <div class="activity-items muted">You muted this post</div>
                                    <div class="activity-items muted">You muted this post</div>
                                    <div class="activity-items muted">You muted this post</div>
                                    <div class="activity-items muted">You muted this post</div>
                                    <div class="activity-items muted">You muted this post</div>
                                    <div class="activity-items muted">You muted this post</div>
                                    <div class="activity-items muted">You muted this post</div>
                                </div>
                            </div>
                            <div id="activity-reactions">
                                <div class="filters-row button-row hide-feed">
                                    <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                                        <span class="btn-sort">sort</span>
                                    </button>
                                    <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                                        <span class="btn-filters">filters</span>
                                    </button>
                                </div>
                                <div id="activity-feed-reactions" class="collapsible-collapsed feed-content scrollable-user scrollable no-scrollbar">
                                    <div class="activity-items reactions">You liked this post</div>
                                    <div class="activity-items reactions">You liked this post</div>
                                    <div class="activity-items reactions">You liked this post</div>
                                    <div class="activity-items reactions">You liked this post</div>
                                    <div class="activity-items reactions">You liked this post</div>
                                    <div class="activity-items reactions">You liked this post</div>
                                    <div class="activity-items reactions">You liked this post</div>
                                    <div class="activity-items reactions">You liked this post</div>
                                    <div class="activity-items reactions">You liked this post</div>
                                    <div class="activity-items reactions">You liked this post</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>