<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/css-reset_kevin-powell.css">
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/colors.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/hover_effects.css">
    <link rel="stylesheet" href="/assets/css/text_effects.css">
    <link rel="stylesheet" href="/assets/css/user-page.css">
    <script src="/assets/js/main.js" defer></script>
    <title>01F Forum</title>
</head>
<body>
    <div class="wrapper-main">
        <div class="header">
            <div class="branding">
<!--                <p>&#60;</p>-->
<!--                <p>codex</p>-->
<!--                <p>&#62;</p>-->
            </div>
            <form class="wrapper-search">
                <div>
                    <label for="search"></label>
                    <input type="text" class="searchbar" id="search" name="search" placeholder="Search" />
                </div>
            </form>
            <div class="flex-align-c">
                <a href="posts/create" class="button-md btn-primary btn-icotext btn-action-primary"><img class="SVG-std" src="/assets/icons/post-black_16.svg" alt="plus symbol" data-btn-text="Post"><span>Post</span></a>
                <button class="button-md btn-secondary btn-icotext btn-filled btn-action-secondary"><img src="/assets/icons/notification_16.svg" alt="bell symbol"><span>Notifications</span></button>
            </div>
        </div>
        <div class="cont-flex-row" style="flex-grow: 1">
            <div class="sidebar">
                <div class="sidebarProfile">
                    <div class="sidebar-profile-pic"></div>
                    <div>
                        <h3>Eyesome578</h3>
                        <div>
                            <button class="button-md btn-icotext" style="padding: .6rem 1rem .6rem 0">
                                <img src="/assets/icons/following_24.svg" alt="following symbol">72</button>
                            <button class="button-md btn-icotext" style="padding: .6rem 1rem .6rem 0">
                                <img src="/assets/icons/followers_24.svg" alt="followers symbol">64</button>
                        </div>
                    </div>
                </div>
                <hr class="solid">
                <div class="sidebar-block sidebar-dashboard">
                    <small>Dashboard</small>
                    <div class="sidebar-option home">Home</div>
                    <div class="sidebar-option sidebar-option-btn darkMode">
                        <div>Dark Mode</div>
                        <button id="switch-dl"></button>
                    </div>
                    <div class="sidebar-option settings">Settings</div>
                    <div class="sidebar-option logout">Log Out</div>
                </div>
                <hr class="solid">
                <div class="sidebar-block sidebar-channels">
                    <small>Your Channels</small>
                    <div class="sidebar-channel-block">
                        <div class="sidebar-channel">
                            <div></div>
                            <div class="channel_info-container">
                                <span class="card-profile-pic"></span>
                                    <div>
                                        <div>/CSS_Help</div>
                                        <div>
                                            <div class="channel-users">9.3k</div>
                                            <div class="channel-green-dot">15</div>
                                        </div>
                                    </div>
                                    <div class="heart-empty"></div>
                            </div>
                        </div>
                        <div class="sidebar-channel">
                            <div></div>
                            <div class="channel_info-container">
                                <span class="card-profile-pic"></span>
                                <div>
                                    <div>/CSS_Playground</div>
                                    <div>
                                        <div class="channel-users">13.8k</div>
                                        <div class="channel-green-dot">37</div>
                                    </div>
                                </div>
                                <div class="heart-full"></div>
                            </div>
                        </div>
                        <div class="sidebar-channel">
                            <div></div>
                            <div class="channel_info-container">
                                <span class="card-profile-pic"></span>
                                <div>
                                    <div>/Golang#Discussion</div>
                                    <div>
                                        <div class="channel-users">9.4k</div>
                                        <div class="channel-green-dot">112</div>
                                    </div>
                                </div>
                                <div class="heart-empty"></div>
                            </div>
                        </div>
                        <div class="sidebar-channel">
                            <div></div>
                            <div class="channel_info-container">
                                <span class="card-profile-pic"></span>
                                <div>
                                    <div>/Interesting_Things</div>
                                    <div>
                                        <div class="channel-users">5.6k</div>
                                        <div class="channel-green-dot">36</div>
                                    </div>
                                </div>
                                <div class="heart-empty"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="main-window">
                <div id="user-page">
                    <div class="banner">
                        <img class="user-banner" src="/assets/images/user-banner.jpeg" alt="User Banner Image">

                    </div>
                    <div class="user-page-controls">
                        <div class="user-page-profile">
                        <div class="user-page-profile-pic"></div>
                            <div>
                                <h2>Eyesome578</h2>
                                <div>
                                    <button class="button-md btn-icotext" style="padding: .6rem 1rem .6rem 0">
                                        <img src="/assets/icons/following_24.svg" alt="following symbol">72</button>
                                    <button class="button-md btn-icotext" style="padding: .6rem 1rem .6rem 0">
                                        <img src="/assets/icons/followers_24.svg" alt="followers symbol">64</button>
                                </div>
                            </div>
                    </div>
                        <div class="user-page-buttons">
                            <button class="button-lg btn-primary btn-icotext btn-action-primary">
                                <img class="SVG-std" src="/assets/icons/arrow-right-grey_24.svg" alt="follow user button">
                                <span>Follow</span>
                            </button>
                            <div class="user-following"></div>
                            <button class="button-md button btn-secondary btn-filled btn-icoonly btn-action-secondary">
                                <img src="/assets/icons/share_16.svg" alt="share button">
                            </button>
                            <button class="button-md button btn-secondary btn-filled btn-icoonly btn-action-secondary">
                                <img src="/assets/icons/heart-empty_24.svg" alt="like button">
                            </button>
                        </div>
                    </div>
                    <div class="button-row above-activity">
                        <button class="button-lg btn-icotext btn-activity">
                            <img src="/assets/icons/clock_16.svg" alt="activity symbol">
                            Activity
                        </button>

                        <button class="button-lg btn-icotext btn-activity">
                            <img src="/assets/icons/post_16.svg" alt="posts symbol">
                            Posts
                        </button>
                        <button class="button-lg btn-icotext btn-activity">
                            <img src="/assets/icons/comment_16.svg" alt="comments symbol">
                            Comments
                        </button>
                        <button class="button-lg btn-icotext btn-activity">
                            <img src="/assets/icons/heart-empty_24.svg" alt="comments symbol">
                            Saved
                        </button>
                        <button class="button-lg btn-icotext btn-activity">
                            <img src="/assets/icons/mute_16.svg" alt="comments symbol">
                            Muted
                        </button>
                        <button class="button-lg btn-icotext btn-activity">
                            <img src="/assets/icons/likes_16.svg" alt="comments symbol">
                            Reactions
                        </button>
                    </div>


                </div>
<!--                <div class="button-row above-posts">-->
<!--                    <button class="button-md btn-secondary btn-icotext btn-filled btn-action">Sort<img src="/assets/icons/sort_16.svg"-->
<!--                                                                                         alt="plus symbol"></button>-->
<!--                    <button class="button-md btn-secondary btn-icotext btn-filled btn-action">Filters<img src="/assets/icons/filters_16.svg"-->
<!--                                                                                         alt="plus symbol"></button>-->
<!--                </div>-->
                <div class="posts">
                    {{range .Posts}}
                        <div class="card">
                            <div class="post-info-container">
                                <span class="card-profile-pic"></span>
                                <div>
                                    <small class="small-bold">{{.AuthorID}}</small>
                                    <div>
                                        <small>{{.ChannelID}}</small>
                                        <small>-</small>
                                        <time datetime="DD-MM-YYThh:mm:ss"  class="small-bold">{{.Created.Format "Jan 02, 2006"}}
                                            @ {{.Created.Format "15:04:05 UTC"}}</time>
                                    </div>
                                </div>
                            </div>
                            <h4>{{.Title}}</h4>
                            <p class="cardContent">{{.Content}}</p>
                            <div class="button-row">
                                <button class="button-md btn-secondary btn-icotext btn-filled">
                                    <img class="invert-off" src="/assets/icons/likes_16.svg" alt="likes symbol">
                                    100
                                </button>
                                <button class="button-md btn-secondary btn-icotext btn-filled">
                                    <img class="invert-off" src="/assets/icons/dislikes_16.svg" alt="dislikes symbol">
                                    24
                                </button>
                                <button class="button-md btn-secondary btn-icotext btn-filled btn-action">
                                    <img src="/assets/icons/reply_16.svg" alt="reply symbol">
                                    Reply
                                </button>
                                <button class="button-md btn-secondary btn-icotext btn-filled btn-action">
                                    <img src="/assets/icons/share_16.svg" alt="share symbol">
                                    Share
                                </button>
                                <button class="button-md btn-secondary btn-icotext btn-filled btn-action">
                                    <img src="/assets/icons/report_16.svg" alt="report symbol">
                                    Report
                                </button>
                            </div>
                        </div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
<!--        <div class="cont-grid-auto15rem">-->
<!--            {{range .Posts}}-->
<!--            <div class="card">-->
<!--                <h2 class="cardTitle">{{.Title}}</h2>-->
<!--                <h3 class="cardAuthor">{{.AuthorID}}</h3>-->
<!--                <h3 class="cardChannel">/{{.ChannelID}}</h3>-->
<!--                <time datetime="DD-MM-YYThh:mm:ss"  class="cardDate">{{.Created.Format "Jan 02, 2006"}}-->
<!--                    @ {{.Created.Format "15:04:05 UTC"}}</time>-->
<!--                <div  class="cardContent">-->
<!--                    {{.Content}}-->
<!--                </div>-->
<!--            </div>-->
<!--            {{end}}-->
<!--        </div>-->
<!--<a href="posts/create" class="button" style="position: absolute; top: .5rem; left: 2rem;">create post</a>-->
</body>
</html>