<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/css-reset_kevin-powell.css">
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/colors.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <title>Create post</title>
</head>
<body>
    <form class="wrapper-form" action="/posts/create" method="POST">
        <div >
            <label for="author">User:</label>
            <select id="author" name="author">
                <option selected disabled hidden>Choose from below</option>
                <option value="1001">Lore</option>
                <option value="1002">Kamil</option>
                <option value="1003">Munky</option>
                <option value="1004">Bob</option>
                <option value="1005">Shazam!</option>
            </select>
        </div>
        <div class="cont-flex-column">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" />
            <label for="content">Post</label>
            <textarea id="content" name="content"></textarea>
        </div>
        <div>
            <label for="images"></label>
            <input type="text" class="noborder" id="images" name="images" placeholder="Upload an image (optional)" />
        </div>
        <div>
            <label for="channel">Channel</label>
            <select id="channel" name="channel">
                <option selected disabled hidden>Select a channel</option>
                <option value="2001">User's lounge</option>
                <option value="2002">CSS</option>
                <option value="2003">JS</option>
                <option value="2004">Golang</option>
                <option value="2005">SQLite</option>
            </select>
        </div>
        <div>
            <label for="commentable">Allow comments</label>
            <input type="checkbox" id="commentable" name="commentable" checked>
        </div>
        <div class="flex-container-row" style="justify-content: space-around">
            <button class="button btn-primary btn-action">create post</button>
            <a href="/" class="button btn-secondary btn-action btn-filled">cancel</a>
        </div>
    </form>
</body>
</html>