{{ define "post-card" }}
    {{- /*gotype: github.com/gary-norman/forum/internal/models.Post*/ -}}
    {{ $userID := 0 }} {{/* Default value for logged out users */}}
    {{ if ne .CurrentUser nil }}
        {{ $userID = .CurrentUser.ID }}
    {{ end }}
    {{ $post := .Post }}
    {{ $root := .root}}
    {{ $instance := $root.Instance }}
    <div class="container-card-down">
{{/*        <p>{{$root.ImagePaths.User}}</p>*/}}
        <div class="card" data-post-id="{{$post.ID}}" data-channel-ID="{{$post.ChannelID}}" data-author-ID="{{$post.AuthorID}}">
            <div class="container-post-info">
                {{ if (ne $post.AuthorAvatar "noimage") }}
                    <span class="card-pic profile-pic" data-image-user="{{ $root.ImagePaths.User }}/{{ $post.AuthorAvatar }} "role="presentation"></span>
                {{ else }}
                    <span class="card-pic profile-pic--empty" data-name-user="{{ $post.Author }}"></span>
                {{ end }}
                <div>
                    <small id="link-post-author-{{ $post.AuthorID }}-{{.Instance}}" data-author-id="{{ $post.AuthorID }}" class="small-bold link">{{ $post.Author }}</small>
                    <div>
          <small id="link-post-channelID-{{ $post.ChannelID }}-{{.Instance}}" class="link" data-channel-id="{{ $post.ChannelID }}">{{ $post.ChannelName }}</small>
                        <small>-</small>
                        <small>{{$post.TimeSince}}</small>
                        <!-- <small>PostID: {{$post.ID}}</small> -->
                    </div>
                </div>
                <div class="like-button">
                    <button data-tooltip-name="like" aria-label="like button" class="btn-icoonly"></button>
                </div>
            </div>
            <h4 id="link-post-post-{{ $post.ID }}-{{ .Instance }}" class="link" data-post-id="{{ $post.ID }}">{{$post.Title}}</h4>
            {{ if ne $post.Images "noimage" }}
                <img src="{{ $root.ImagePaths.Post }}/{{ $post.Images }}" class="post-image" alt="Image for {{ $post.Title }}">
            {{ end }}
            <p class="cardContent">{{$post.Content}}</p>

            {{ template "control-buttons" (dict "Post" $post  "root" $root "calledBy" "post-card" )}}
            <!--  Post control buttons -->
        </div> <!-- end post card -->
    </div> <!-- end container-comments wrapper -->
{{end}} <!-- end define block -->
