{{ define "reply_level3" }}
  {{ $channelBasePath := "db/userdata/images/channel-images/" }}
  {{ $postBasePath := "db/userdata/images/post-images/" }}
  {{ $userBasePath := "db/userdata/images/user-images/" }}
  {{ $userID := 0 }} <!-- Default value for logged out users -->
  {{ if ne .CurrentUser.Username "nouser" }}
    {{ $userID = .CurrentUser.ID }}
  {{ end }}

  {{- /*gotype: github.com/gary-norman/forum/internal/models.Comment*/ -}}

  {{ $comment := .Comment }}
  <div class="reply-arrow"></div>
  <div class="container-card-down">
    <div class="card" data-comment-id="{{$comment.ID}}" data-channel-ID="{{$comment.ChannelID}}" data-author-ID="{{$comment.AuthorID}}">
      <div class="container-post-info">
        {{ if (ne $comment.AuthorAvatar "noimage") }}
          <span class="card-pic profile-pic" data-image-auth="{{ $userBasePath }}{{ $comment.AuthorAvatar }}"></span>
        {{ else }}
          <span class="card-pic profile-pic--empty" data-name-user="{{ $comment.Author }}"></span>
        {{ end }}
        <div>
          <small class="small-bold">{{$comment.Author}}</small>
          <div>
            <small>{{$comment.ChannelName}}</small>
            <small>-</small>
            <small>{{.TimeSince}}</small>
            <small>commentID: {{$comment.ID}}</small>
          </div>
        </div>
        <div class="like-button">
          <button data-tooltip-name="like" class="btn-icoonly"></button>
        </div>
      </div>
      <pre class="cardContent">{{$comment.Content}}</pre>
      <!--  Post control buttons -->
      <div class="button-row-wrap post-controls" >
        {{$status := reactionStatus $userID 0 $comment.ID}}
        <button class="btn-md btn-secondary btn-icotext btn-filled btn-action {{if $status.Liked}}active{{end}}" >
          <span class="btn-likes" data-like-ID="user-{{$comment.ID}}">{{$comment.Likes}}</span>
        </button>
        <button class="btn-md btn-secondary btn-icotext btn-filled btn-action {{if $status.Disliked}}active{{end}}">
          <span class="btn-dislikes" data-dislike-ID="user-{{$comment.ID}}">{{$comment.Dislikes}}</span>
        </button>
        <button id="share-button-{{$comment.ID}}-activity" popovertarget="share-container-{{$comment.ID}}-activity" class="btn-md btn-secondary btn-icotext btn-filled btn-action">
          <span class="btn-share">share</span>
        </button>
        <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
          <span class="btn-report">report</span>
        </button>
        <!--  Share modal -->
        <div popover id="share-container-{{$comment.ID}}-activity" class="scrollable-user">
          <div class="share-container">
            <div class="button-row">
              <a href="/" target="_blank" class="share-logo facebook"></a>
              <a href="/" target="_blank" class="share-logo twitter"></a>
              <a href="/" target="_blank" class="share-logo linkedin"></a>
              <a href="/" target="_blank" class="share-logo reddit"></a>
              <a href="/" target="_blank" class="share-logo whatsapp"></a>
              <a href="/" target="_blank" class="share-logo telegram"></a>
            </div>
            <div class="flex-space-between">
              <label class="padded" for="copy-url-{{$comment.ID}}-activity">Copy URL link</label>
              <button class="btn-sm btn-icoonly">
                <span class="btn-copy" aria-label="Copy URL link"></span>
              </button>
            </div>
            <input value="https://localhost:8989/URL-exampleasdasdasdsad" readonly type="text"
                   id="copy-url-{{$comment.ID}}-activity" name="copy-url-{{$comment.ID}}-activity"/>
          </div>
        </div>
      </div>
      <!--  Reply / Submit Comment form -->
      <form class="form-reply" action="/store-comment" enctype="multipart/form-data" method="POST">
        <div class="cont-flex-row flex-end">
          <div class="input-wrapper container-reply">
            <textarea id="comment-form-textarea-{{$comment.ID}}" name="content" placeholder="Type a reply..."></textarea>
            <label for="comment-form-textarea-{{$comment.ID}}" class="user-label">Reply</label>
          </div>
          <!-- Hidden input to store the commentID (if replying to a comment) -->
          <input type="hidden" name="commentID" value="{{$comment.ID}}">
          <input type="hidden" name="channel" value='{"channelName": "{{$comment.ChannelName}}", "channelID": "{{$comment.ChannelID}}"}'>
          <button type="submit" class="btn-md btn-primary btn-icotext btn-action-primary btn-invert-onoff_onoff">
            <span class="btn-reply-comment">comment</span>
          </button>
        </div>
      </form>
    </div> <!-- end comment card-->
  </div> <!-- end container-comment-down wrapper -->
{{end}} <!-- end define "reply -->