{{ define "right-panel--edit-bio"}}
  {{ $dot := .dot }}
  {{ $instance := $dot.Instance}}
  {{ $thisUser := $dot.ThisUser }}
  {{ $currentUser := $dot.CurrentUser }}
  {{ $tracer := printf "%s > %s" .Tracer "--edit-bio" }}
  {{ with $tracer }}
{{/*    {{ fprint "Trace" . }} */}}
  {{ end }}
  {{if eq $instance "channel-page"}}
  {{ else if eq $instance "user-page"}}
    <div class="right-panel-container-bio">
      <div class="right-panel-bio flex-space-between">
        <label for="user-bio-input" class="padded">{{ if and (ne $currentUser nil) (eq $currentUser.Username $thisUser.Username) }}Edit your bio{{ else }}User bio{{ end }}</label>
        {{ if and (ne $currentUser nil) (eq $currentUser.Username $thisUser.Username) }} <!-- owner user check -->
          <div id="user-settings-bio" class="edit-settings">
            <button id="user-edit-bio" type="button" class="btn-sm btn-icoonly">
              <span class="btn-edit" role="contentinfo" aria-label="Edit profile bio"></span>
            </button>
            <button id="user-submit-bio" type="submit" name="bio" value="bio" class="btn-sm btn-icoonly">
              <span class="btn-success" role="contentinfo" aria-label="Submit new bio"></span>
            </button>
            <button id="user-cancel-bio" type="button" class="btn-sm btn-icoonly">
              <span class="btn-cancel" role="contentinfo" aria-label="Cancel editing the bio"></span>
            </button>
          </div>

        {{ end }} <!-- end of owner user check -->
      </div>
      <div id="user-bio-content" class="side-panel-block">
        <article>{{ $thisUser.Description }}</article>
      </div>
      {{ if and (ne $currentUser nil) (eq $currentUser.Username $thisUser.Username) }} <!-- owner user check -->
        <div class="input-wrapper edit-wrapper">
          <textarea id="user-bio-input" name="user-bio-input" placeholder="{{if $thisUser.Description}}{{ $thisUser.Description }}{{else}}update your bio{{end}}"></textarea>
        </div>
      {{ end }} <!-- end of owner user check -->
    </div>
  {{ end }} <!-- end if channel/user check -->
{{ end }}
