{{ define "right-panel" }}
  {{- /*gotype: github.com/gary-norman/forum/internal/models.Post*/ -}}
  {{ $userID := 0 }} <!-- Default value for logged out users -->
  {{ if ne .CurrentUser nil }}
    {{ $userID = .CurrentUser.ID }}
  {{ end }}
  {{ $calledBy := "right-panel" }}
  <div class="right-panel ">
    <div class="right-panel-content scroll-down">
      <div class="right-panel-container-name flex-space-between">
        <div class="cont-flex-column">
          <h4 class="right-panel-name">/{{ .ThisChannel.Name }}</h4>
          <small>created by {{ if (eq .ThisChannel.OwnerID $userID) }}you {{ else }} {{ .ThisChannelOwnerName }} {{ end }}{{ .ThisChannel.TimeSince}}</small>
        </div>
        {{ if (eq .IsJoinedOrOwned true) }}
          <button id="right-panel-channel--edit-channel-name" class="btn-sm btn-icoonly">
            <span class="btn-edit" role="contentinfo" aria-label="Edit channel name"></span>
          </button>
        {{ end }}
      </div>
      {{ if (eq .IsJoinedOrOwned true) }}
        {{ template "channel-edit-image" . }}
      {{ end }}
      {{ template "channel-edit-bio" . }}
      {{ template "channel-edit-mods" . }}
      {{ template "channel-edit-rules" . }}
      {{ template "control-buttons" (dict "root" . "calledBy" $calledBy "Instance" "channel-page") }}

    <div class="button-row-wrap">
      <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
        <span class="btn-share">share</span>
      </button>

      <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
        <span class="btn-report">report</span>
      </button>
    </div>
  </div>
{{ end }}
