{{ define "right-panel--edit-name" }}

  {{ $dot := .dot }}
  {{ $instance := $dot.Instance}}
  {{ $thisUser := $dot.ThisUser }}
  {{ $currentUser := $dot.CurrentUser }}

  {{if eq $instance "channel-page"}}


  {{ else if eq $instance "user-page"}}
    <div class="right-panel-container-name flex-space-between">
      <h4 class="right-panel-name">{{ if and (ne $currentUser nil) (eq $currentUser.Username $thisUser.Username) }}{{ $currentUser.Username }}{{ else }}{{ $thisUser.Username }}{{ end }}</h4>
      {{ if and (ne $currentUser nil) (eq $currentUser.Username $thisUser.Username) }} <!-- owner user check -->
        <div id="settings-user-name" class="edit-settings">
          <button id="edit-user-name" type="button" class="btn-sm btn-icoonly">
            <span class="btn-edit" role="contentinfo" aria-label="Edit profile name"></span>
          </button>
          <button id="submit-user-name" type="submit" name="bio" value="bio" class="btn-sm btn-icoonly">
            <span class="btn-success" role="contentinfo" aria-label="Submit new name"></span>
          </button>
          <button id="cancel-user-name" type="button" class="btn-sm btn-icoonly">
            <span class="btn-cancel" role="contentinfo" aria-label="Cancel editing your name"></span>
          </button>
        </div>
      {{ end }} <!-- end of owner user check -->
    </div>
  {{ end }}
{{ end }}