{{ define "right-panel" }}
  {{ $userID := .UserID }}
  {{ with .dot.CurrentUser }}
    {{ $userID = .ID }}
  {{ end }}
  {{ $dot := .dot }}
  {{ $calledBy := .calledBy }}
  {{ $currentUser := $dot.CurrentUser }}
  {{ $instance := $dot.Instance }}
  {{ $thisUser := .ThisEntity }}
  {{ $thisChannel := .ThisEntity }}
  {{ $tracer := printf "%s > %s" .Tracer "right-panel" }}
  {{ with $tracer }}
{{/*    {{ fprint "Trace" . }} */}}
  {{ end }}
  {{ if eq $instance "channel-page"}}
    <div class="right-panel">
      <div class="right-panel-content scroll-down">
        {{ if and (ne $currentUser nil) (eq $dot.ThisChannel.OwnerID $currentUser.ID) }} <!-- owner user check -->
        <form action="/edituser" enctype="multipart/form-data" method="POST">
          {{ end }} <!-- end of owner user check -->
          {{ template "right-panel--edit-name" (dict "dot" $dot "Tracer" $tracer )}}
{{/*          {{ template "right-panel--edit-image" (dict "dot" $dot "Tracer" $tracer )}}*/}}
{{/*          {{ template "right-panel--edit-bio" (dict "dot" $dot "Tracer" $tracer )}}*/}}
          {{ if and (ne $currentUser nil) (eq $dot.ThisChannel.OwnerID $currentUser.ID) }} <!-- owner user check -->
        </form>
        {{ end }} <!-- end of owner user check -->
        {{if ne .OwnedChannels nil}}
          <div class="right-panel-container-modded-channels">
            <div class="sidebar-block sidebar-channels">
              <small class="padded">Modded Channels</small>
              <div id="sidebar-channel-block">
                {{ range .OwnedChannels }}
                  {{template "channel-card-mini" (dict "dot" $ "Tracer" $tracer "Instance" $instance "Channel" . )}}
                {{ end }} <!-- end range of channels here-->
              </div>
            </div>
          </div>
        {{end}}
      </div>
    </div>
  {{ else if eq $instance "user-page"}}
    <div class="right-panel">
      <div class="right-panel-content scroll-down">
        {{ if and (ne $currentUser nil) (eq $currentUser.Username $thisUser.Username) }} <!-- owner user check -->
          <form action="/edituser" enctype="multipart/form-data" method="POST">
        {{ end }} <!-- end of owner user check -->
            {{ template "right-panel--edit-name" (dict "dot" $dot "Tracer" $tracer )}}
            {{ template "right-panel--edit-image" (dict "dot" $dot "Tracer" $tracer )}}
            {{ template "right-panel--edit-bio" (dict "dot" $dot "Tracer" $tracer )}}
        {{ if and (ne $currentUser nil) (eq $currentUser.Username $thisUser.Username) }} <!-- owner user check -->
          </form>
        {{ end }} <!-- end of owner user check -->
        {{if ne .OwnedChannels nil}}
          <div class="right-panel-container-modded-channels">
              <div class="sidebar-block sidebar-channels">
                <small class="padded">Modded Channels</small>
                <div id="sidebar-channel-block">
                  {{ range .OwnedChannels }}
                    {{template "channel-card-mini" (dict "dot" $ "Tracer" $tracer "Instance" $instance "Channel" . )}}
                  {{ end }} <!-- end range of channels here-->
                </div>
              </div>
            </div>
          {{end}}
      </div>
    </div>
  {{ end }} <!-- end if channel/user check -->
{{ end }}
