{{ define "right-panel" }}
{{ $dot := .dot }}
{{ $userID := .userID }}
  <div class="right-panel ">
    <div class="right-panel-content scroll-down">
      <div class="right-panel-container-name flex-space-between">
        <div class="cont-flex-column">
          <h4 class="right-panel-name">/{{ $dot.ThisChannel.Name }}</h4>
          <small>created by {{ if (eq $dot.ThisChannel.OwnerID $userID) }}you {{ else }} {{ $dot.OwnerName }} {{ end }}{{ $dot.ThisChannel.TimeSince}}</small>
        </div>
        {{ if or (not $dot.IsOwned) (not $dot.IsJoined) }}
          <button id="right-panel-channel--edit-channel-name" class="btn-sm btn-icoonly">
            <span class="btn-edit" role="contentinfo" aria-label="Edit channel name"></span>
          </button>
        {{ end }}
      </div>
        {{ if or (not $dot.IsOwned) (not $dot.IsJoined) }}
        {{ template "channel-edit-image" (dict "dot" $dot "UserID" $userID) }}
      {{ end }}
      {{ template "channel-edit-bio" (dict "dot" $dot "UserID" $userID) }}
      {{ template "channel-edit-mods" (dict "dot" $dot "UserID" $userID) }}
      {{ template "channel-edit-rules" (dict "dot" $dot "UserID" $userID) }}
      {{ template "control-buttons" (dict "dot" $dot "userID" $userID "calledBy" "right-panel") }}
  </div>
{{ end }}
