{{ define "right-panel" }}
  {{ $dot := .dot }}
  {{ $userID := .userID }}
  {{ $calledBy := .calledBy }}
  {{ $currentUser := $dot.CurrentUser }}
  {{ $instance := $dot.Instance }}
  {{ $thisUser := .ThisEntity }}
  {{ $thisChannel := .ThisEntity }}
  {{ if eq $instance "channel-page"}}
    <div class="right-panel">
      <div class="right-panel-content scroll-down">
        <div class="right-panel-container-name flex-space-between">
          <div class="cont-flex-column">
            <h4 class="right-panel-name">/{{ $dot.ThisChannel.Name }}</h4>
            <small>created by {{ if (eq $dot.ThisChannel.OwnerID $userID) }}you {{ else }} {{ $dot.OwnerName }} {{ end }}{{ $dot.ThisChannel.TimeSince}}</small>
          </div>
          {{ if or (not $dot.IsOwned) (not $dot.IsJoined) }}
          <button id="right-panel-channel--edit-channel-name" class="btn-sm btn-icoonly">
              <span class="btn-edit" role="contentinfo" aria-label="Edit channel name"></span>
            </button>
          {{ end }}
        </div>
          {{ if or (not $dot.IsOwned) (not $dot.IsJoined) }}
          {{ template "channel-edit-image" (dict "dot" $dot "UserID" $userID) }}
        {{ end }}
        {{ template "channel-edit-bio" (dict "dot" $dot "UserID" $userID) }}
        {{ template "channel-edit-mods" (dict "dot" $dot "UserID" $userID) }}
        {{ template "channel-edit-rules" (dict "dot" $dot "UserID" $userID) }}
        {{ template "control-buttons" (dict "dot" $dot "userID" $userID "calledBy" "right-panel") }}
      </div>
    </div>
  {{ else if eq $instance "user-page"}}
    <div class="right-panel">
      <div class="right-panel-content scroll-down">
        {{ if and (ne $currentUser nil) (eq $currentUser.Username $thisUser.Username) }} <!-- owner user check -->
          <form action="/edituser" enctype="multipart/form-data" method="POST">
        {{ end }} <!-- end of owner user check -->
            {{ template "right-panel--edit-name" (dict "dot" $dot)}}

            {{ template "right-panel--edit-image" (dict "dot" $dot)}}

            {{ template "right-panel--edit-bio" (dict "dot" $dot)}}

        {{ if and (ne $currentUser nil) (eq $currentUser.Username $thisUser.Username) }} <!-- owner user check -->
          </form>
        {{ end }} <!-- end of owner user check -->
        <div class="right-panel-container-modded-channels">
            <div class="sidebar-block sidebar-channels">
              <small class="padded">Modded Channels</small>
              <div class="sidebar-channel-block">
                <div class="sidebar-channel">
                  <div class="container-channel-info
                  {{ if and (ne $currentUser nil) (eq $currentUser.Username $thisUser.Username) }}
                     flex-start
                  {{end}}">
                    <span class="card-pic profile-pic"></span>
                    <div>
                      <div>/Interesting_Things</div>
                      <div>
                        <div class="channel-users">5.6k</div>
                        <div class="channel-green-dot">36</div>
                      </div>
                    </div>
                    {{ if and (ne $currentUser nil) (eq $currentUser.Username $thisUser.Username) }} <!-- owner user check -->
                      <button class="btn-sm btn-icoonly margin-auto-0">
                        <span class="btn-settings" role="contentinfo" aria-label="Edit profile name"></span>
                      </button>
                    {{ end }} <!-- end of owner user check -->
                  </div>
                </div>
                <div class="sidebar-channel">
                  <div class="container-channel-info
                    {{ if and (ne $currentUser nil) (eq $currentUser.Username $thisUser.Username) }}
                      flex-start
                    {{end}}">
                    <span class="card-pic channel-pic"></span>
                    <div>
                      <div>/CSS_Help</div>
                      <div>
                        <div class="channel-users">5.6k</div>
                        <div class="channel-green-dot">36</div>
                      </div>
                    </div>
                    {{ if and (ne $currentUser nil) (eq $currentUser.Username $thisUser.Username) }} <!-- owner user check -->
                      <button class="btn-sm btn-icoonly margin-auto-0">
                        <span class="btn-settings" role="contentinfo" aria-label="Edit profile name"></span>
                      </button>
                    {{ end }} <!-- end of owner user check -->
                  </div>
                </div>
                <div class="sidebar-channel">
                  <div class="container-channel-info
                    {{ if and (ne $currentUser nil) (eq $currentUser.Username $thisUser.Username) }}
                      flex-start
                    {{end}}">
                    <span class="card-pic channel-pic"></span>
                    <div>
                      <div>/Golang#Discussion</div>
                      <div>
                        <div class="channel-users">5.6k</div>
                        <div class="channel-green-dot">36</div>
                      </div>
                    </div>
                    {{ if and (ne $currentUser nil) (eq $currentUser.Username $thisUser.Username) }} <!-- owner user check -->
                      <button class="btn-sm btn-icoonly margin-auto-0">
                        <span class="btn-settings" role="contentinfo" aria-label="Edit profile name"></span>
                      </button>
                    {{ end }} <!-- end of owner user check -->
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  {{ end }} <!-- end if channel/user check -->
{{ end }}