{{ define "search-box" }}
{{/*    <div class="results-recent">*/}}

{{/*    </div>*/}}
{{/*    <hr class="solid"/>*/}}
    <div id="results-channels">
        <small class="padded">Channels</small>
        <div data-result-channel-cards-container class="result-cards">
        </div>
    </div>
    <hr class="solid"/>
    <div id="results-users">
        <small class="padded">Users</small>
        <div data-result-user-cards-container class="result-cards">
        </div>
    </div>
    <hr class="solid"/>
    <div id="results-posts">
        <small class="padded">Posts</small>
        <div data-result-post-cards-container class="result-cards">
        </div>
    </div>



{{ end }}