{{ define "this-post" }}
{{ $userID := .UserID }}
{{ with .CurrentUser }}
  {{ $userID = .ID }}
{{ end }}
{{ $post := .ThisPost }}
{{ $dot := .dot }}
{{ $instance := .Instance }}
{{ $tracer := printf "%s > %s" .Tracer "this-post" }}
{{ with $tracer }}
{{/* fprint "Trace" . */}}
{{ end }}
  {{ template "post-card" (dict "dot" $dot "Post" $post "UserID" $userID "calledBy" "this-post" "Tracer" $tracer "Instance" $instance) }}
  {{ range $post.Comments }}
  {{ $comment := . }}
  <div class="container-card-across">
    <div class="reply-arrow"></div>
    <div class="container-card-down">
      <div class="card" data-comment-id="{{ $comment.ID }}" data-channel-ID="{{ $comment.ChannelID }}" data-author-ID="{{ $comment.AuthorID }}">
        <div class="container-post-info">
          {{ if (startsWith $comment.AuthorAvatar "noimage") }}
            <span class="card-pic profile-pic--empty" data-name-user="{{ $comment.Author }}"></span>
          {{ else }}
            <span class="card-pic profile-pic" data-image-auth="{{ $dot.ImagePaths.Post }}{{ $comment.AuthorAvatar }}"></span>
          {{ end }}
          <div>
            <small class="small-bold">{{ $comment.Author }}</small>
            <div>
              <small>{{ $comment.ChannelName }}</small>
              <small>-</small>
              <small>{{ .TimeSince }}</small>
              <small>commentID: {{ $comment.ID }}</small>
            </div>
          </div>
          <div class="like-button">
            <button data-tooltip-name="like" class="btn-icoonly"></button>
          </div>
        </div>
        <p class="cardContent">{{ $comment.Content }}</p>
{{/*  Post control buttons */}}
        <div class="button-row-wrap post-controls" >
          {{ template "comment-controls" (dict "Post" $post "Comment" $comment "UserID" $userID "Tracer" $tracer "CurrentUser" $.CurrentUser "Instance" $instance "calledBy" "this-post") }}
        </div>
{{/*  Reply / Submit Comment form */}}
        <form name="replyForm" class="form-reply" action="/store-comment" enctype="multipart/form-data" method="POST">
          <div class="cont-flex-row flex-end">
            <div class="input-wrapper container-reply">
              <textarea id="comment-form-textarea-thispostcomments-{{ $comment.ID }}" name="content" placeholder="Type a reply..."></textarea>
              <label for="comment-form-textarea-thispostcomments-{{ $comment.ID }}" class="user-label">Reply</label>
            </div>
{{/* Hidden input to store the commentID (if replying to a comment) */}}
            <input type="hidden" name="commentID" value="{{ $comment.ID }}">
            <input type="hidden" name="channel" value='{"channelName": "{{ $comment.ChannelName }}", "channelID": "{{ $comment.ChannelID }}"}'>
              <button type="submit" class="btn-md btn-primary btn-icotext btn-action-primary btn-invert-onoff_onoff">
                <span class="btn-reply-comment">comment</span>
              </button>
          </div>
        </form>
      </div> {{/* end comment card */}}
{{/* Recursively Render Replies */}}
      {{ with .Replies }}
        {{ range .}}
          <div class="container-card-across">
            {{ template "reply_level1" (dict "dot" $dot "CurrentUser" $.CurrentUser "Comment" . "Instance" $instance "Tracer" $tracer "UserID" $userID) }}
          </div> {{/* end container-comment-across wrapper */}}
        {{ end }} {{/* end range Replies */}}
      {{ end }} {{/* end with .Replies */}}
        </div> {{/* end container-comment-down wrapper */}}
      </div> {{/* end container-comment-across */}}
    {{ end }} {{/* range .Comments */}}
  </div> {{/* end container-comments wrapper */}}
{{ end }} {{/* end define block */}}
