{{ define "user-page" }}
  {{- /*gotype: github.com/gary-norman/forum/internal/models.Post*/ -}}
  {{ $userID := 0 }} <!-- Default value for logged out users -->
  {{ if ne .CurrentUser nil }}
    {{ $userID = .CurrentUser.ID }}
  {{ end }}
  {{ template "user-page-banner" . }}
  <div class="container-content">
    <div class="content">
    {{ template "user-page-activity-bar" }}
      {{/*SECTION ---------- user page activity feed ----------*/}}
      <div id="user-activity-feeds" style="position: absolute; width: 100%; height: 100%">
        {{/*SECTION ------- activity activity ---------- */}}
      {{ template "user-page-activity-activity" . }}
        {{/*SECTION ------- activity posts ---------- */}}
      {{ template "user-page-activity-posts" . }}
        {{/*SECTION ------- activity comments ---------- */}}
      {{ template "user-page-activity-comments" . }}
        {{/*SECTION ------- saved activities ---------- */}}
      {{ template "user-page-saved-activities" . }}
        {{/*SECTION ------- muted activities ---------- */}}
      {{ template "user-page-muted-activities" . }}
        {{/*SECTION ------- actvity reactions ---------- */}}
      {{ template "user-page-activity-reactions" . }}
      </div>
    </div>
  </div>
{{ end }}
