{{ define "user-page-muted-activities" }}
  {{ $userID := .UserID }}
  {{ with .CurrentUser }}
    {{ $userID = .ID }}
  {{ end }}
{{ $tracer := printf "%s > %s" .Tracer "user-page-muted-activities" }}
{{ with $tracer }}
{{/*    {{ fprint "Trace" . }} */}}
{{ end }}
{{ $dot := . }}
  <div id="activity-muted">
    <div class="filters-row button-row hide-feed">
      <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
        <span class="btn-sort">sort</span>
      </button>
      <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
        <span class="btn-filters">filters</span>
      </button>
    </div>
    <div id="activity-feed-muted" class="collapsible-collapsed feed-content scrollable-user scrollable no-scrollbar">
      <div class="activity-items muted">You muted this post</div>
    </div>
  </div>
{{ end }}
