            <div class="banner">
              <img class="page-banner" src="/assets/images/user-banner.jpeg" alt="User Banner Image">
              <div class="page-control">
                <div class="page-profile">
                  {{ if ne .CurrentUser nil}}
                    {{ if (ne $user.Avatar "noimage") }}
                      <div class="sidebar-pic profile-pic user-page-pic" data-image-user="{{ $userBasePath }}{{ $user.Avatar }}"></div>
                    {{ else }}
                      <div class="sidebar-pic profile-pic--empty" data-name-user-sidebar="{{ $user.Username}}"></div>
                    {{ end }}
                    {{else}}
                      {{ if (ne .RandomUser.Avatar "noimage") }}
                        <div class="sidebar-pic profile-pic user-page-pic" data-image-user="{{ $userBasePath }}{{ .RandomUser.Avatar }}"></div>
                      {{ else }}
                        <div class="sidebar-pic profile-pic--empty" data-name-user-sidebar="{{ .RandomUser.Username}}"></div>
                      {{ end }}
                  {{end}}
                  <div class="flex-start">
                      <h2 class="align-self-start">{{ if ne .CurrentUser nil}}{{ $user.Username }}{{ else }}{{ .RandomUser.Username }}{{ end }}</h2>
                      <div>
                          <div class="cont-flex-column">
                            <small>following:</small>
                            <button class="btn-lg btn-icotext btn-follows btn-invert-never">
                              <span class="btn-following">{{ if ne .CurrentUser nil}}{{$user.Following}}{{ else }}{{.RandomUser.Following}}{{ end }}
                                </span>
                            </button>
                          </div>
                        <div class="cont-flex-column">
                          <small>followers:</small>
                          <button class="btn-lg btn-icotext btn-follows btn-invert-never">
                            <span class="btn-followers">{{ if ne .CurrentUser nil}}{{$user.Followers}}{{ else }}{{.RandomUser.Followers}}{{ end }}</span>
                          </button>
                        </div>

                      </div>
                  </div>
                  </div>
                  <div class="page-buttons">
                    <button class="btn-lg btn-primary btn-icotext btn-action-primary btn-invert-onoff_onoff">
                        <span class="btn-follow">follow</span>
                    </button>
                    <div class="user-following"></div>
                    <button class="btn-md btn-secondary btn-filled btn-filled-fancy btn-icoonly btn-action-secondary btn-invert-onoff_offoff">
                        <img src="/assets/icons/share_16.svg" alt="share button">
                    </button>
                    <button class="btn-md s16 btn-secondary btn-filled btn-filled-fancy btn-icoonly btn-action-secondary btn-invert-never">
                        <img src="/assets/icons/heart-empty_24.svg" alt="like button">
                    </button>
                  </div>
                </div>
              </div>
              <div class="container-content">
                <div class="content">
                  <div id="activity-bar" class="button-row above-activity">
                    <button id="activity" class="btn-lg btn-secondary btn-icotext btn-activity btn-active">
                      <span class="btn-clock">activity</span>
                    </button>
                    <button id="posts" class="btn-lg btn-secondary btn-icotext btn-activity">
                      <span class="btn-posts">posts</span>
                    </button>
                    <button id="comments" class="btn-lg btn-secondary btn-icotext btn-activity">
                      <span class="btn-comment">comments</span>
                    </button>
                    <button id="saved" class="btn-lg btn-secondary btn-invert-never btn-icotext btn-activity">
                      <span class="btn-heart-empty">saved</span>
                    </button>
                    <button id="muted" class="btn-lg btn-secondary btn-icotext btn-activity">
                      <span class="btn-mute">muted</span>
                    </button>
                    <button id="reactions" class="btn-lg btn-secondary btn-invert-never btn-icotext btn-activity">
                      <span class="btn-likes">reactions</span>
                    </button>
                  </div>
                  {{/*SECTION ---------- user page activity feed ----------*/}}
                  <div id="user-activity-feeds" style="position: absolute; width: 100%; height: 100%">
                    {{/*SECTION ------- activity activity ---------- */}}
                    <div id="activity-activity">
                      <div class="filters-row button-row">
                        <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                          <span class="btn-sort">sort</span>
                        </button>
                        <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                          <span class="btn-filters">filters</span>
                        </button>
                        <button id="scroll-test" class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                          <span class="btn-sort">scroll</span>
                        </button>
                      </div>
                      <div id="activity-feed-activity" class="collapsible-expanded feed-content scrollable-user scrollable no-scrollbar">
                        {{range .Posts}} <!-- user page activity posts -->
                          {{ template "post-card" (dict "Post" . "CurrentUser" $.CurrentUser "Instance" "user-page-activity" "IsPostPage" "false") }}
                        {{end}} <!-- user page activity POSTS -->
                      </div>
                    {{/*SECTION ------- activity posts ---------- */}}
                    <div id="activity-posts">
                      <div class="filters-row button-row hide-feed">
                        <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                          <span class="btn-sort">sort</span>
                        </button>
                        <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                          <span class="btn-filters">filters</span>
                        </button>
                        <button id="scroll-test-1" class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                          <span class="btn-sort">scroll</span>
                        </button>
                      </div>
                      {{/*SECTION---------- user page posts ----------*/}}
                      <div id="activity-feed-posts" class="collapsible-collapsed feed-content scrollable-user scrollable no-scrollbar">
                        {{range .Posts}} <!-- user page posts -->
                        {{ template "post-card" (dict "Post" . "CurrentUser" $.CurrentUser "Comments" .Comments "Instance" "user-page" "IsPostPage" "false") }}
                        {{end}} <!-- user page posts -->
                      </div>
                    </div>
                    {{/*SECTION ------- activity comments ---------- */}}
                    <div id="activity-comments">
                      <div class="filters-row button-row hide-feed">
                        <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                          <span class="btn-sort">sort</span>
                        </button>
                        <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                          <span class="btn-filters">filters</span>
                        </button>
                      </div>
                      <div id="activity-feed-comments" class="collapsible-collapsed feed-content scrollable-user scrollable no-scrollbar">
                        <div class="activity-items comments cont-flex-column">Yo mama so fat</div>
                      </div>
                    </div>
                    {{/*SECTION ------- saved activities ---------- */}}
                    <div id="activity-saved">
                      <div class="filters-row button-row hide-feed">
                        <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                          <span class="btn-sort">sort</span>
                        </button>
                        <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                          <span class="btn-filters">filters</span>
                        </button>
                      </div>
                      <div id="activity-feed-saved" class="collapsible-collapsed feed-content scrollable-user scrollable no-scrollbar">
                        <div class="activity-items saved">You saved this post</div>
                      </div>
                    </div>
                    {{/*SECTION ------- muted activities ---------- */}}
                    <div id="activity-muted">
                      <div class="filters-row button-row hide-feed">
                        <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                          <span class="btn-sort">sort</span>
                        </button>
                        <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                          <span class="btn-filters">filters</span>
                        </button>
                      </div>
                      <div id="activity-feed-muted" class="collapsible-collapsed feed-content scrollable-user scrollable no-scrollbar">
                        <div class="activity-items muted">You muted this post</div>
                      </div>
                    </div>
                    {{/*SECTION ------- actvity reactions ---------- */}}
                    <div id="activity-reactions">
                      <div class="filters-row button-row hide-feed">
                        <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                          <span class="btn-sort">sort</span>
                        </button>
                        <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                          <span class="btn-filters">filters</span>
                        </button>
                      </div>
                      <div id="activity-feed-reactions" class="collapsible-collapsed feed-content scrollable-user scrollable no-scrollbar">
                        <div class="activity-items reactions">You liked this post</div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="right-panel ">
                <div class="right-panel-content scroll-down">
                  {{/* SECTION edit user details inside right-panel */}}
                  <form action="/edituser" enctype="multipart/form-data" method="POST">
                    <div class="cont-flex-column">
                      <div class="right-panel-container-name flex-space-between">
                        {{ if ne .CurrentUser nil }}
                          <label for="bio" class="padded">Edit your username</label>
                        {{else}}
                        {{ end }}
                        {{ if ne .CurrentUser nil }}
                          <div id="settings-user-name" class="edit-settings">
                            <button id="edit-user-name-user-page" type="button" class="btn-sm btn-icoonly">
                              <span class="btn-edit" role="contentinfo" aria-label="Edit profile name"></span>
                            </button>
                            <button id="submit-user-name-user-page" type="submit" value="bio" class="btn-sm btn-icoonly">
                              <span class="btn-success" role="contentinfo" aria-label="Submit new name"></span>
                            </button>
                            <button id="cancel-user-name" type="button" class="btn-sm btn-icoonly">
                              <span class="btn-cancel" role="contentinfo" aria-label="Cancel editing your name"></span>
                            </button>
                          </div>
                        {{ end }} <!-- "nouser" check -->
                      </div>
                      <h4 id="user-name-content" class="right-panel-name">{{ if ne .CurrentUser nil}}{{ $user.Username }}{{ else }}{{ .RandomUser.Username }}{{ end }}</h4>
                      {{ if ne .CurrentUser nil }}
                        <div class="input-wrapper edit-user ">
                          <textarea class="scroll-down" id="name-user-page" name="name" placeholder="{{$user.Username}}">{{$user.Username}}</textarea>
                        </div>
                      {{ end }} <!-- "nouser" check -->
                    </div>
                    {{ if ne .CurrentUser nil }}
                      <div class="cont-flex-column">
                        <div class="right-panel-container-pic flex-space-between">
                          <div class="right-panel-container-pic">
                            {{ if (ne $user.Avatar "noimage") }}
                              <div class="right-panel-pic profile-pic" data-image-user="{{ $userBasePath }}{{ $user.Avatar }}"></div>
                            {{ else }}
                              <div class="right-panel-pic profile-pic--empty" data-name-user="{{ $user.Username }}"></div>
                            {{ end }}
                            <small>Edit your avatar</small>
                          </div>
                          <div id="settings-user-avatar-user-page" class="edit-settings">
                            <button id="edit-user-avatar-user-page" type="button" class="btn-sm btn-icoonly">
                              <span class="btn-edit" role="contentinfo" aria-label="Edit your avatar picture"></span>
                            </button>
                            <button id="submit-user-avatar-user-page" type="submit" value="image" class="btn-sm btn-icoonly">
                              <span class="btn-success" role="contentinfo" aria-label="Submit new avatar"></span>
                            </button>
                            <button id="cancel-user-avatar" type="button" class="btn-sm btn-icoonly">
                              <span class="btn-cancel" role="contentinfo" aria-label="Cancel editing the avatar"></span>
                            </button>
                          </div>
                        </div>
                        <div id="drop-zone--user-image">
                          <div id="uploaded-file--user-image"></div>
                          <div class="drag-drop-text-wrapper">
                            <div class="dragText">drag and drop your file, or</div>
                            <input type="file" class="align-self-center" id="browse--user-image" name="file-drop" />
                          </div>
                        </div>
                      </div>
                    {{ end }} <!-- "nouser" check -->
                    <div class="right-panel-container-bio">
                      <div class="right-panel-bio flex-space-between">
                        {{ if or $user.Description (ne .CurrentUser nil) }}
                          <label for="bio" class="padded">{{ if ne .CurrentUser nil }}Edit your bio{{ else }}User bio{{ end }}</label>
                        {{ end }}
                        {{ if ne .CurrentUser nil }}
                          <div id="settings-user-bio" class="edit-settings">
                            <button id="edit-user-bio-user-page" type="button" class="btn-sm btn-icoonly">
                              <span class="btn-edit" role="contentinfo" aria-label="Edit profile bio"></span>
                            </button>
                            <button id="submit-user-bio-user-page" type="submit" value="bio" class="btn-sm btn-icoonly">
                              <span class="btn-success" role="contentinfo" aria-label="Submit new bio"></span>
                            </button>
                            <button id="cancel-user-bio" type="button" class="btn-sm btn-icoonly">
                              <span class="btn-cancel" role="contentinfo" aria-label="Cancel editing the bio"></span>
                            </button>
                          </div>
                        {{ end }} <!-- "nouser" check -->
                      </div>
                      {{ if $user.Description }}
                        <pre id="user-bio-content" class="side-panel-block scroll-down">{{ $user.Description }}</pre>
                      {{end}}
                      <div class="input-wrapper edit-user ">
                        <textarea class="scroll-down" id="user-bio-edit-content" name="bio" placeholder="{{if $user.Description}}{{else}}update your bio{{end}}">{{if $user.Description}}{{ $user.Description }}{{end}}</textarea>
                      </div>
                    </div>
                  </form>
                  <div class="right-panel-container-modded-channels">
                    <div class="sidebar-block sidebar-channels">
                      <small class="padded">Modded Channels</small>
                      <div class="side-panel-block">
                        <div class="sidebar-channel">
                          <div class="container-channel-info {{ if (eq .CurrentUser nil) }}flex-start{{end}}">
                          {{/* TODO range through modded channels */}}
                          <span class="card-pic profile-pic" data-image-channel=""></span>
                            <div>
                              <div>/Interesting_Things</div>
                              <div>
                                <div class="channel-users">5.6k</div>
                                <div class="channel-green-dot">36</div>
                              </div>
                            </div>
                            {{ if ne .CurrentUser nil }}
                              <button class="btn-sm btn-icoonly margin-auto-0">
                                <span class="btn-settings" role="contentinfo" aria-label="Edit profile name"></span>
                              </button>
                            {{ end }} <!-- "nouser" check -->
                          </div>
                        </div>
                        <div class="sidebar-channel">
                          <div class="container-channel-info {{ if (eq .CurrentUser nil) }}flex-start{{end}}">
                            <span class="card-pic channel-pic"></span>
                            <div>
                              <div>/CSS_Help</div>
                              <div>
                                <div class="channel-users">5.6k</div>
                                <div class="channel-green-dot">36</div>
                              </div>
                            </div>
                            {{ if ne .CurrentUser nil }}
                              <button class="btn-sm btn-icoonly margin-auto-0">
                                <span class="btn-settings" role="contentinfo" aria-label="Edit profile name"></span>
                              </button>
                            {{ end }} <!-- "nouser" check -->
                          </div>
                        </div>
                        <div class="sidebar-channel">
                          <div class="container-channel-info {{ if (eq .CurrentUser nil) }}flex-start{{end}}">
                            <span class="card-pic channel-pic"></span>
                            <div>
                              <div>/Golang#Discussion</div>
                              <div>
                                <div class="channel-users">5.6k</div>
                                <div class="channel-green-dot">36</div>
                              </div>
                            </div>
                            {{ if ne .CurrentUser nil }}
                              <button class="btn-sm btn-icoonly margin-auto-0">
                                <span class="btn-settings" role="contentinfo" aria-label="Edit profile name"></span>
                              </button>
                            {{ end }} <!-- "nouser" check -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>\\
                    <div class="button-row-wrap">
                      <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                        <span class="btn-share">share</span>
                      </button>
                      <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
                        <span class="btn-report">report</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
