{{ define "user-page-muted-activities" }}
  {{ $userID := .UserID }}
  {{ with .CurrentUser }}
    {{ $userID = .ID }}
  {{ end }}
{{ $tracer := printf "%s > %s" .Tracer "user-page-muted-activities" }}
{{ with $tracer }}
{{/*    {{ fprint "Trace" . }} */}}
{{ end }}
{{ $dot := . }}
  <div id="activity-muted">
  {{ template "filters-row" (dict "dot" $dot "Tracer" $tracer "UserID" $userID "calledBy" "user-page" "Instance" "user-page") }}
    {{/*SECTION---------- user page muted activities ----------*/}}
    <div id="activity-feed-muted" class="collapsible-collapsed feed-content scrollable-user scrollable no-scrollbar">
    {{ range 10 }}
      <div class="activity-items muted">You muted this post</div>
    {{ end }}
    </div>
  </div>
{{ end }}
