{{ define "user-page-activity-posts" }}
  {{ $userID := .UserID }}
  {{ with .CurrentUser }}
    {{ $userID = .ID }}
  {{ end }}
{{ $tracer := printf "%s > %s" .Tracer "-activity-posts" }}
{{ with $tracer }}
{{/*    {{ fprint "Trace" . }} */}}
{{ end }}
{{ $dot := .dot }}
  <div id="activity-posts">
    <div class="filters-row button-row hide-feed">
      <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
        <span class="btn-sort">sort</span>
      </button>
      <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
        <span class="btn-filters">filters</span>
      </button>
      <button id="scroll-test-1" class="btn-md btn-secondary btn-icotext btn-filled btn-action">
        <span class="btn-sort">scroll</span>
      </button>
    </div>
    {{/*SECTION---------- user page posts ----------*/}}
    <div id="activity-feed-posts" class="collapsible-collapsed feed-content scrollable-user scrollable no-scrollbar">
      {{ range $dot.Posts }}
      {{ template "post-card" (dict "dot" $dot "Post" . "UserID" $userID "CurrentUser" $dot.CurrentUser "calledBy" $dot.Instance "Tracer" $tracer) }}
      {{ end }}
    </div>
  </div>
{{ end }}
