{{ define "user-page-activity-posts" }}
  {{ $userID := .UserID }}
  {{ with .CurrentUser }}
    {{ $userID = .ID }}
  {{ end }}
{{ $tracer := printf "%s > %s" .Tracer "-activity-posts" }}
{{ with $tracer }}
{{/*    {{ fprint "Trace" . }} */}}
{{ end }}
{{ $dot := .dot }}
  <div id="activity-posts">
  {{ template "filters-row" (dict "dot" $dot "Tracer" $tracer "UserID" $userID "CurrentUser" .CurrentUser "calledBy" $dot.Instance ) }}
    {{/*SECTION---------- user page posts ----------*/}}
    <div id="activity-feed-posts" class="collapsible-collapsed feed-content scrollable-user scrollable no-scrollbar">
      {{ range $dot.Posts }}
      {{ template "post-card" (dict "dot" $dot "Post" . "UserID" $userID "CurrentUser" $dot.CurrentUser "calledBy" $dot.Instance "Tracer" $tracer) }}
      {{ end }}
    </div>
  </div>
{{ end }}
