{{ define "user-page-activity-bar"}}
{{ $userID := .UserID }}
{{ with .CurrentUser }}
  {{ $userID = .ID }}
{{ end }}
{{ $tracer := printf "%s > %s" .Tracer "user-page-activity-bar" }}
{{ with $tracer }}
{{/*    {{ fprint "Trace" . }} */}}
{{ end }}
{{ $dot := . }}
  <div id="activity-bar" class="button-row button-row-wrap above-activity">
{{/*    <button id="activity" class="btn-lg btn-secondary btn-icotext btn-activity btn-active">*/}}
{{/*      <span class="btn-clock">activity</span>*/}}
{{/*    </button>*/}}
    <button id="posts" class="btn-lg btn-secondary btn-icotext btn-activity btn-active">
      <span class="btn-posts">my posts</span>
    </button>
{{/*    <button id="comments" class="btn-lg btn-secondary btn-icotext btn-activity">*/}}
{{/*      <span class="btn-comment">comments</span>*/}}
{{/*    </button>*/}}
{{/*    <button id="saved" class="btn-lg btn-secondary btn-invert-never btn-icotext btn-activity">*/}}
{{/*      <span class="btn-heart-empty">saved</span>*/}}
{{/*    </button>*/}}
{{/*    <button id="muted" class="btn-lg btn-secondary btn-icotext btn-activity">*/}}
{{/*      <span class="btn-mute">muted</span>*/}}
{{/*    </button>*/}}
{{/*    <button id="reactions" class="btn-lg btn-secondary btn-invert-never btn-icotext btn-activity">*/}}
{{/*      <span class="btn-likes">reactions</span>*/}}
{{/*    </button>*/}}
  </div>
{{ end }}
