{{ define "user-page-activity-reactions" }}
  <div id="activity-reactions">
    <div class="filters-row button-row hide-feed">
      <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
        <span class="btn-sort">sort</span>
      </button>
      <button class="btn-md btn-secondary btn-icotext btn-filled btn-action">
        <span class="btn-filters">filters</span>
      </button>
    </div>
    <div id="activity-feed-reactions" class="collapsible-collapsed feed-content scrollable-user scrollable no-scrollbar">
      <div class="activity-items reactions">You liked this post</div>
    </div>
  </div>
{{ end }}
