{{ define "user-page--activity-comments" }}
{{ $userID := .UserID }}
{{ with .CurrentUser }}
  {{ $userID = .ID }}
{{ end }}
{{ $tracer := printf "%s > %s" .Tracer "user-page--activity-comments" }}
{{ with $tracer }}
{{/*    {{ fprint "Trace" . }} */}}
{{ end }}
{{ $dot := . }}
  <div id="activity-comments">
    {{ template "filters-row" (dict "dot" $dot "Tracer" $tracer "UserID" $userID "calledBy" "user-page--activity-comments") }}

    <div id="activity-feed-comments" class="collapsible-collapsed feed-content scrollable-user scrollable no-scrollbar">
    {{ range 10}}
      <div class="activity-items comments cont-flex-column">Yo mama so fat</div>
    {{ end }}
    </div>
  </div>
{{ end }}
