{{ define "user-page--activity-reactions" }}
  {{ $userID := .UserID }}
  {{ with .CurrentUser }}
    {{ $userID = .ID }}
  {{ end }}
{{ $tracer := printf "%s > %s" .Tracer "user-page--activity-reactions" }}
{{ with $tracer }}
{{/*    {{ fprint "Trace" . }} */}}
{{ end }}
{{ $dot := . }}
  <div id="activity-reactions">
    {{ template "filters-row" (dict "dot" $dot "Tracer" $tracer "UserID" $userID "calledBy" "user-page--activity-reactions") }}
    <div id="activity-reactions-feed" class="collapsible-collapsed feed-content scrollable-user scrollable no-scrollbar">
    {{ range 10}}
      <div class="activity-items reactions">You liked this post</div>
    {{ end }}
    </div>
  </div>
{{ end }}
