{{ define "user-page-saved-activities" }}
  {{ $userID := .UserID }}
  {{ with .CurrentUser }}
    {{ $userID = .ID }}
  {{ end }}
{{ $tracer := printf "%s > %s" .Tracer "user-page-saved-activities" }}
{{ with $tracer }}
{{/*    {{ fprint "Trace" . }} */}}
{{ end }}
{{ $dot := . }}
  <div id="activity-saved">
  {{ template "filters-row" (dict "dot" $dot "Tracer" $tracer "UserID" $userID "calledBy" "user-page" "Instance" "user-page") }}
    {{/*SECTION---------- user page saved activities ----------*/}}
    <div id="activity-feed-saved" class="collapsible-collapsed feed-content scrollable-user scrollable no-scrollbar">
      <div class="activity-items saved">You saved this post</div>
    </div>
  </div>
{{ end }}
