<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/css-reset_kevin-powell.css" />
    <link rel="stylesheet" href="/assets/css/fonts.css" />
    <link rel="stylesheet" href="/assets/css/colors.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/hover_effects.css" />
    <link rel="stylesheet" href="/assets/css/text_effects.css" />
    <link rel="stylesheet" href="/assets/css/welcome.css" />
    <script src="/assets/js/welcome.js" defer></script>
    <title><codex></title>
  </head>
  <body>
    <div class="grid-welcome">
      <div class="grid-welcome-options">
        <div class="button-3d" id="btn_login">
          <span>login</span>
        </div>
        <div class="button-3d" id="btn_register">
          <span>register</span>
        </div>
        <div class="button-3d" id="btn_guest">
          <span>guest</span>
        </div>
      </div>
      <div class="grid-welcome-cutaway-1"></div>
      <div class="grid-welcome-cutaway-2"></div>
      <div class="grid-welcome-cutaway-3"></div>
      <div class="grid-welcome-access">
        <form class="grid-welcome-access-login">
          <label for="login_username"></label>
          <input
            type="text"
            id="login_username"
            name="login_username"
            placeholder="username"
          />
          <label for="login_password"></label>
          <input
            type="password"
            id="login_password"
            name="login_password"
            placeholder="password"
          />
          <button class="button-lg btn-secondary btn-action" type="submit">submit</button>
        </form>
        <div class="grid-welcome-access-door" id="access-door"></div>
        <div class="grid-welcome-access-door-shadow" id="access-door-shadow"></div>
<!--        <svg id="shadow-clip">-->
<!--          <defs>-->
<!--            <clipPath id="rect">-->
<!--              <rect y="0" x="0" width="100%" height="100%" />-->
<!--            </clipPath>-->
<!--          </defs>-->
<!--        </svg>-->
        <svg class="grid-welcome-access-wall">
          <defs>
            <!-- Define a mask where the inner rectangle is transparent (black), and everything else is visible (white) -->
            <mask id="mask">
              <!-- Background is white (opaque) -->
              <rect x="0" y="0" width="110%" height="110%" fill="white" />
              <!-- Inner rounded rectangle is black (transparent) -->
              <rect x="0" y="0" width="100%" height="100%" rx="2.4rem" fill="black" />
            </mask>
          </defs>
          <!-- grey background -->
          <rect width="100%" height="100%" fill="var(--color-bg-1)" mask="url(#mask)" />
        </svg>
      </div>
      <div class="grid-welcome-cutaway-4"></div>
      <div class="grid-welcome-logo-c">
        <div class="codex-pink">&lt;</div>
        <div class="codex-green">c</div>
      </div>
      <div class="grid-welcome-logo-ode">
        <div class="codex-green">o</div>
        <div class="codex-green">d</div>
        <div class="codex-green">e</div>
      </div>
      <div class="grid-welcome-logo-x">
        <div class="codex-green">x</div>
        <div class="codex-pink">&gt;</div>
      </div>
    </div>
  </body>
</html>
